{% load static %}
{% load compress %}

<form method="post" enctype="multipart/form-data">
{% csrf_token %}
    <div class="form-group mb-lg-3 mb-5">
        <p class="text-gray">
            ARE YOU ATTENDING
        </p>
        <div class="form-check form-check-inline">
            {{ form_class.check }}
        </div>
    </div>
    <div class="form-group mb-lg-3 mb-5">
        <p class="text-gray mb-0">
            FULL NAME
        </p>
        {{ form_class.name }}
    </div>
    <div class="form-group mb-lg-3 mb-5">
        <p class="text-gray mb-0">
            EMAIL
        </p>
        {{ form_class.email }}
    </div>
    <div class="form-group mb-lg-3 mb-5">
        <p class="text-gray mb-0">
            PHONE
        </p>
        {{ form_class.phone }}
    </div>
    <div class="form-group mb-lg-3 mb-5 position-relative">
        <p class="text-gray mb-0">
           ADDITIONAL GUEST
        </p>
        <div class="guest input-number-arrow">
            <a role="button" id="step-decrement" class="btn btn-default" aria-label="remove 1" aria-labelledby="step-decrement label-text">
                <img class="img-fluid" src="{% static 'img/templates-button/buttons_BruceNatasha-07.png' %}" />
            </a>
            <input class="form-control text-center" type="number" name="your-guest" id="spinner" value="1" placeholder="1" aria-live="polite" tabindex="-1" aria-labelledby="label-text" min="1" max="5">
            <a role="button" id="step-increment" class="btn btn-default" aria-label="add 1" aria-labelledby="step-increment label-text">
                <img class="img-fluid" src="{% static 'img/templates-button/buttons_BruceNatasha-08.png' %}" />
            </a>
        </div>
    </div>
    <div class="text-center w-50 float-right">
        <input type="submit" class="button-cyan d-block w-100" data-toggle="modal" data-target="#exampleModal" value="SUBMIT"><br>
        <a target="_blank" href="{{ x.inv_pdf.url }}" class="button-cyan d-block">DOWNLOAD INVITATION</a>
    </div>
</form>