{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

        <div id="main-templates">
        <!-- Section Banner -->
        <div class="container-fluid pos-rel pt-lg-0 pb-lg-0 pl-lg-0 pr-lg-0 templates-banner templates-banner-free fadein">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-fluid w-lg-100p d-none d-lg-block" src="{% static 'img/04-templates/templates-free-background.png' %}">
                    <img class="img-fluid w-lg-100p d-lg-none" src="{% static 'img/04-templates/templates-free-background-mobile-02.png' %}">
                    <img class="img-fluid boxv image birthday d-none d-lg-block" src="{% static 'img/04-templates/templates-free-image.png' %}" alt="reservasidulu">
                    <img class="img-fluid boxv image birthday d-lg-none" src="{% static 'img/04-templates/templates-free-image-mobile-02.png' %}" alt="reservasidulu">
                    <div class="boxv desc animated fadeInRight" style="animation-delay: 1s !important;">
                        <h2 class="font-white mb-lg-30">Try Our <br><span>Free Templates</span></h2>
                        <a id="chevron-down" href="#templates-content">
                            <h5 class="font-white mr-lg-15">Scroll down</h5>
                            <img class="arrow" src="{% static 'img/arrow-down.png' %}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section Content -->
        <div id="templates-content" class="container-fluid pos-rel pt-lg-10p pb-lg-0 pl-lg-5p pr-lg-5p pt-m-30p pl-m-10p pr-m-10p templates-content slideanim">
            <div class="row">
                <style>
                    ._thumb {
                        height: 100%;
                        width: 100%;
                    }
                </style>

                {% for i in free_themes %}
                    <div class="col-lg-4 d-none d-lg-block mb-lg-5p">
                        <a href="/themes/preview/{{ i.theme_url }}">
                            <img class="templatesthumbnail-image" src="{{ i.theme_img.url }}" alt="reservasidulu" />
                        </a>
                        <div class="col-lg-12 p-0">
                            <a class="templatesthumbnail-title" href="/themes/preview/{{ i.theme_url }}">{{ i.theme_name}}</a>
                            <a class="templatesthumbnail-category" href="/{{ i.theme_category | lower }}">{{ i.theme_category }} Templates</a>
                            <div class="templatesthumbnail-price">Rp. {{ i.theme_price | intcomma }},-</div>
                        </div>
                    </div>
                {% endfor %}

                <!-- Mobile -->
                <div class="col-12 d-block d-lg-none mb-m-5p pl-m-10p pr-m-10p">
                    <div class="templates-carousel owl-theme">
                        {% for i in preview %}
                            <div class="item">
                                <a href="/themes/preview/{{ i.theme_url }}">
                                    <img class="templatesthumbnail-image" src="{{ i.theme_img.url }}" alt="reservasidulu" />
                                </a>
                                <a class="templatesthumbnail-title" href="/themes/preview/{{ i.theme_url }}">{{ i.theme_name}}</a>
                                <a class="templatesthumbnail-category" href="/{{ i.theme_category | lower }}">{{ i.theme_category }} Templates</a>
                                <div class="templatesthumbnail-price">Rp. {{ i.theme_price | intcomma }},-</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {#<div class="col-lg-4 mb-lg-5p">#}
                    {#<a href="">#}
                        {#<img class="templatesthumbnail-image" src="{% static 'img/Birthday_Aaron.jpg' %}" alt="reservasidulu" />#}
                    {#</a>#}
                    {#<a class="templatesthumbnail-title" href="">Precious Memories</a>#}
                    {#<a class="templatesthumbnail-category" href="templates-wedding.html">Wedding Template</a>#}
                {#</div>#}

                {#<div class="col-lg-4 mb-lg-5p">#}
                    {#<a href="">#}
                        {#<img class="templatesthumbnail-image" src="{% static 'img/Birthday_Aaron.jpg' %}" alt="reservasidulu" />#}
                    {#</a>#}
                    {#<a class="templatesthumbnail-title" href="">Blooming Feelings</a>#}
                    {#<a class="templatesthumbnail-category" href="templates-wedding.html">Wedding Template</a>#}
                {#</div>#}
                {#<div class="col-lg-4 mb-lg-5p">#}
                    {#<a href="">#}
                        {#<img class="templatesthumbnail-image" src="{% static 'img/Birthday_Aaron.jpg' %}" alt="reservasidulu" />#}
                    {#</a>#}
                    {#<a class="templatesthumbnail-title" href="">Happy Dinosaur</a>#}
                    {#<a class="templatesthumbnail-category" href="templates-birthday.html">Birthday Template</a>#}
                {#</div>#}
                {#<div class="col-lg-4 mb-lg-5p">#}
                    {#<a href="">#}
                        {#<img class="templatesthumbnail-image" src="{% static 'img/Birthday_Aaron.jpg' %}" alt="reservasidulu" />#}
                    {#</a>#}
                    {#<a class="templatesthumbnail-title" href="">Pastel Party</a>#}
                    {#<a class="templatesthumbnail-category" href="templates-wedding.html">Wedding Template</a>#}
                {#</div>#}
                {#<div class="col-lg-4 mb-lg-5p">#}
                    {#<a href="">#}
                        {#<img class="templatesthumbnail-image" src="{% static 'img/Birthday_Aaron.jpg' %}" alt="reservasidulu" />#}
                    {#</a>#}
                    {#<a class="templatesthumbnail-title" href="">Royal Invitation</a>#}
                    {#<a class="templatesthumbnail-category" href="templates-event.html">Event Template</a>#}
                {#</div>#}
                {#<div class="col-lg-4 mb-lg-5p">#}
                    {#<a href="">#}
                        {#<img class="templatesthumbnail-image" src="{% static 'img/Birthday_Aaron.jpg' %}" alt="reservasidulu" />#}
                    {#</a>#}
                    {#<a class="templatesthumbnail-title" href="">Colors Delight</a>#}
                    {#<a class="templatesthumbnail-category" href="templates-event.html">Event Template</a>#}
                {#</div>#}
                {#<div class="col-lg-4 mb-lg-5p">#}
                    {#<a href="">#}
                        {#<img class="templatesthumbnail-image" src="{% static 'img/Birthday_Aaron.jpg' %}" alt="reservasidulu" />#}
                    {#</a>#}
                    {#<a class="templatesthumbnail-title" href="">Precious Memories</a>#}
                    {#<a class="templatesthumbnail-category" href="templates-wedding.html">Wedding Template</a>#}
                {#</div>#}
            </div>
        </div>
        <div class="w-lg-100p h-lg-115vh"></div>
    </div>

{% endblock %}