{% load static %}



{#fucking summernote#}
{#<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.css" rel="stylesheet">#}


{#<link rel="stylesheet" type="text/css" href="{% static 'css/animation.css' %}" >#}
<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{#<!-- Features css -->#}
{#<link rel="stylesheet" href="{% static 'features/animatecss/animate.min.css' %}">#}

<!--Node Modules css-->
<link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/assets/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/assets/owl.theme.default.min.css' %}">

<!-- Custom Stripe Styling -->
<link rel="stylesheet" href="{% static 'css/stripe-custom-style.css' %}">
