{% load static%}
<script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
<script>
    new WOW().init();
</script>
<!-- Node Modules JS -->
<script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/owl.carousel/dist/owl.carousel.js' %}"></script>
<!-- Custom JS -->

<!-- Django Secure AJAX JS -->
<script src='{% static "js/csrf.ajax.js" %}'></script>
