{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block content %}

    <title>{% block title %} Payment Status | ReservasiDulu {% endblock %}</title>
    <div id="main-templates" class="main-account">
        <div class="container-fluid pos-rel user-content profile-content billing-status-content pt-lg-15p pb-lg-15p pl-lg-5p pr-lg-5p pt-m-30p pl-m-10p pr-m-10p bg-lightgrey">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="mb-lg-2p">Invoice / Billing</h3>
                    <div class="w-lg-100p line-lightgrey mb-lg-5p"></div>
                    <div class="wrap">
                        <div class="container-fluid pl-m-0 pr-m-0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5 class="mb-lg-1p mb-m-3p"><b>Checkout Success</b></h5>
                                    <h5 class="mb-lg-1p mb-m-3p"><b>This is a free item</b></h5>
                                    {% if is_pay is True%}
                                        <h5 class="mb-lg-1p mb-m-3p"><b>Checkout Berhasil</b></h5>
                                        <h5 class="mb-lg-1p mb-m-3p"><b>Status : {{payment.status}}</b></h5>
                                        {%if payment.payment_bank == "mandiri" %}
                                            <h5 class="mb-lg-1p mb-m-3p"><b>Bill Key : {{payment.bill_key}}</b></h5>
                                            <h5 class="mb-lg-1p mb-m-3p"><b>Biller Code : {{payment.biller_code}}</b></h5>
                                        {%else%}
                                            <h5 class="mb-lg-1p mb-m-3p"><b>Va Number : {{payment.va_number}}</b></h5>
                                        {% endif%}
                                    {%else%}
                                        <h5 class="mb-lg-1p mb-m-3p"><b>Checkout Complete</b></h5>
                                        <h5 class="mb-lg-1p mb-m-3p"><b>Thank you for purchasing the item!</b></h5>
                                    {%endif%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-lg-100p h-lg-115vh bg-lightgrey"></div>
    </div>

    {#<title>{% block title %} Payment Status | ReservasiDulu {% endblock %}</title>#}
    {#<div id="main-contactus">#}
        {#<div id="contactus-form" class="container-fluid pos-rel pt-lg-5p pb-lg-10p pl-lg-10p pr-lg-10p pb-m-20p contactus-form">#}
            {#<div class="row">#}
                {#<div class="col-lg-12">#}
                    {#<div>#}
                        {#{%if is_pay is True%}#}
                            {#<span>Checkout Berhasil</span><br>#}
                            {#<span>Status : {{payment.status}}</span><br>#}
                            {#{%if payment.payment_bank == "mandiri" %}#}
                                {#<span>Bill Key : {{payment.bill_key}}</span><br>#}
                                {#<span>Biller Code : {{payment.biller_code}}</span>#}
                            {#{%else%}#}

                                {#<span>Va Number : {{payment.va_number}}</span>#}
                            {#{% endif%}#}
                        {#{%else%}#}
                            {#<span>Checkout Berhasil dipublish</span>#}
                            {#<br><span>Ini barang Gratis</span>#}
                        {#{%endif%}#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="w-lg-100p h-lg-115vh"></div>#}
    {#</div>#}

{% endblock %}