{% load static %}
{% load compress %}

<form method="post" action="{% url 'attendance_form' %}" enctype="multipart/form-data">
{% csrf_token %}
    <div class="form-row">
        <div class="form-group col-lg-6 mb-lg-0 pr-m-5 pr-lg-5p">
            <label for="your-attending">Are You Attending ?</label>
            <div class="box bg-white mb-m-10p mb-lg-30 pt-lg-5p pb-lg-5p pl-lg-5p pr-lg-5p">
                {{ form_class.check }}
            </div>
        </div>
        <div class="form-group col-12 mb-m-0 pr-m-5 d-block d-lg-none">
            <label for="your-firstname">Full Name*</label>
            {{ form_class.name }}
        </div>
        <div class="form-group col-lg-6 mb-lg-0 pl-m-5 pl-lg-5p">
            <label for="your-phone">Phone Number*</label>
            {{ form_class.phone }}
            <label for="your-email">Email*</label>
            {{ form_class.email }}
        </div>
        <div class="form-group col-lg-6 mb-lg-0 pr-m-5 pr-lg-5p d-none d-lg-block">
            <label for="your-firstname">Full Name*</label>
            {{ form_class.name }}
        </div>
        <div class="form-group col-lg-6 mb-lg-0 pl-m-5 pl-lg-5p">
            <label for="your-guest">Number of Guest</label>
            <div class="guest input-number-arrow">
                <a role="button" id="step-decrement" class="btn btn-default" aria-label="remove 1" aria-labelledby="step-decrement label-text">
                    <img class="img-fluid" src="{% static 'img/templates-button/buttons_EmmaNorman-05.png' %}" />
                </a>
                <input class="form-control text-center" type="number" name="your-guest" id="spinner" value="1" placeholder="1" aria-live="polite" tabindex="-1" aria-labelledby="label-text" min="1" max="5">
                <a role="button" id="step-increment" class="btn btn-default" aria-label="add 1" aria-labelledby="step-increment label-text">
                    <img class="img-fluid" src="{% static 'img/templates-button/buttons_EmmaNorman-06.png' %}" />
                </a>
            </div>
        </div>
        <div class="form-group col-lg-12 mb-m-0 pt-lg-5p text-right">
            <button type="submit" class="button-default mr-lg-2p" data-toggle="modal" data-target="#thankyou">Submit</button>
{#            <a target="_blank" href="{{ x.inv_pdf.url }}" class="button-download">Download Invitation</a>#}
        </div>
    </div>
</form>