{% extends "base.html" %}
{% load static  %}
{% load compress %}

{% load crispy_forms_tags %}
{% block content %}
<title>{% block title %} My Account {% endblock %}</title>

    <!-- Main -->
    <div id="main-templates" class="main-account">
        <!-- Section User Navigation -->
            {% include 'accounts/custom_shit.html' %}
        <!-- Section User Content -->
        <div class="container-fluid pos-rel user-content profile-content pt-lg-5p pb-lg-15p pl-lg-5p pr-lg-5p pt-m-30p pl-m-10p pr-m-10p bg-lightgrey">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="mb-lg-2p">My Profile</h3>
                    <div class="w-lg-100p line-lightgrey mb-lg-5p"></div>
                    <div class="wrap">
                        <div class="container-fluid pl-m-0 pr-m-0">
                            <div class="row">
                                <div class="col-lg-3">
                                    <img class="profile-picture" src="{{user.profile.picture.url}}" alt="">
                                </div>
                                <div class="col-lg-9">
                                    <h3>{{ user.username }}</h3>
                                    <h5 class="name mb-lg-4p"><b>{{ user.first_name }} {{ user.last_name }}</b></h5>
                                    <a class="btn-whiteoutline mt-m-15p mb-m-15p" data-toggle="modal" data-target="#editprofile" href="#">Change Profile Picture</a>
                                    {#<a target="#editprofile" class="btn-whiteoutline">Change Profile Picture</a>#}
                                </div>
                                <div class="col-lg-12 mt-lg-5p">
                                    <h5 class="mb-lg-1p mb-m-3p"><b>Email Address</b></h5>
                                    <h5 class="mb-lg-5p mb-m-10p">{{ user.email }}</h5>
                                    <h5 class="mb-lg-1p mb-m-3p"><b>First Name</b></h5>
                                    <h5 class="mb-lg-5p mb-m-10p">{{ user.first_name }}</h5>
                                    <h5 class="mb-lg-1p mb-m-3p"><b>Last Name</b></h5>
                                    <h5 class="mb-lg-5p mb-m-10p">{{ user.last_name }}</h5>
                                    {% for i in data_user %}
                                        <h5 class="mb-lg-1p mb-m-3p"><b>Phone Number</b></h5>
                                        <h5 class="mb-lg-5p mb-m-10p">{{ i.phone_number }}</h5>
                                        <h5 class="mb-lg-1p mb-m-3p"><b>Address</b></h5>
                                        <h5 class="mb-lg-5p mb-m-10p">{{ i.address }}</h5>
                                        {#<h5 class="mb-lg-1p mb-m-3p"><b>Province</b></h5>#}
                                        {#<h5 class="mb-lg-5p mb-m-10p">Jakarta</h5>#}
                                    {% endfor %}
                                    <a class="btn-rectangle" data-toggle="modal" data-target="#editprofile" href="#">Edit Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade st" id="editprofile">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 mb-lg-30 pt-lg-10 text-right">
                                <a class="btn-whiteoutline w-lg-a ma-lg float-right" data-dismiss="modal">Cancel</a>
                            </div>
                            <div class="col-lg-12">
                                <h3 class="mb-lg-10"><span>Edit</span> Profile</h3>
                                <hr class="mb-lg-30">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <fieldset>
                                        {{ user_form|crispy }}
                                        {{ profile_form|crispy }}
                                    </fieldset>
                                    <div class="col-lg-12 mt-lg-10p mb-lg-10p text-center">
                                        <button class="btn-rectangle w-lg-a ma-lg float-right" type="submit">Submit Change</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-divider bg-lightgrey"></div>
    </div>


{% endblock %}