{% extends "base.html" %}

{% load static  %}

{% load crispy_forms_tags %}
{% block content %}
<title>{% block title %} Accounts | CPM Cashier {% endblock %}</title>
    <!-- Main -->
    <div id="main-account">
        <!-- Section Info -->
        <div class="container-fluid pos-rel pt-lg-15p pb-lg-15p pl-lg-10p pr-lg-10p account-info">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="mb-lg-50"><span>Account</span> Information</h3>
                </div>
                <div class="col-lg-3">
                    <div class="profile-img">
                        <img src="{{user.profile.picture.url}}" alt="">
{#                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>#}
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="profile-head">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                            </li>
                        </ul>
                    </div>
                 </div>
                <div class="col-lg-2 text-right">
                    <a class="button-orange" data-toggle="modal" data-target="#editprofile" href="#">
                        <p class="font-white">Edit Profile</p>
                        <img src="{% static 'img/button-01.png' %}">
                    </a>
                </div>
                <div class="col-lg-3">
                    <div class="profile-head mt-lg-50">
                        <h5>
                            <span>{{user.username}}</span>
                        </h5>
                        <h6>
                            {{ data_user.joined }}
                        </h6>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label>Userame</label>
                                    <span>:</span>
                                </div>
                                <div class="col-lg-9">
                                    <p>{{ user.username }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label>First Name</label>
                                    <span>:</span>
                                </div>
                                <div class="col-lg-9">
                                    <p>{{ data_user.first_name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label>Last Name</label>
                                    <span>:</span>
                                </div>
                                <div class="col-lg-9">
                                    <p>{{ data_user.last_name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label>Email</label>
                                    <span>:</span>
                                </div>
                                <div class="col-lg-9">
                                    <p>{{ data_user.email }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label>Phone</label>
                                    <span>:</span>
                                </div>
                                <div class="col-lg-9">
                                    <p>{{ data_user.phone_number }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label>Birthday</label>
                                    <span>:</span>
                                </div>
                                <div class="col-lg-9">
                                    <p>{{ data_user.birth }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label>Address</label>
                                    <span>:</span>
                                </div>
                                <div class="col-lg-9">
                                    <p>{{ data_user.zip_code }}</p>
                                </div>
                            </div>
                        </div>
{#                        {% include 'rsvp/birthday/list.html' %}#}
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
        <!-- Edit Profile -->
        <div class="modal fade st" id="editprofile">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 mb-lg-30 pt-lg-10 text-right">
                                <a class="button-outline" data-dismiss="modal">Cancel</a>
                            </div>
                            <div class="col-lg-12">
                                <h3 class="mb-lg-10"><span>Edit</span> Profile</h3>
                                <hr class="mb-lg-30">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <fieldset>
                                        {{ user_form|crispy }}
                                        {{ profile_form|crispy }}
                                    </fieldset>
                                    <div class="col-lg-12 text-center">
                                        <button class="btn btn-outline-primary btn-sm" type="submit">Submit Change</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid ">
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-lg-6 pb-lg-35 text-center">
                            <a href="templates-example.html">
                                <div class="box mb-lg-10"></div>
                                <h5 class="font-darkgrey"><span>New Year Eve 2020</span></h5>
                            </a>
                        </div>
                        <div class="col-lg-6 pb-lg-35 text-center">
                            <a href="templates-example.html">
                                <div class="box mb-lg-10"></div>
                                <h5 class="font-darkgrey"><span>Happy Hour</span></h5>
                            </a>
                        </div>
                        <div class="col-lg-6 pb-lg-35 text-center">
                            <a href="templates-example.html">
                                <div class="box mb-lg-10"></div>
                                <h5 class="font-darkgrey"><span>Yoga on Tap</span></h5>
                            </a>
                        </div>
                        <div class="col-lg-6 pb-lg-35 text-center">
                            <a href="templates-example.html">
                                <div class="box mb-lg-10"></div>
                                <h5 class="font-darkgrey"><span>Isabella Birthday</span></h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-lg-100p h-lg-115vh"></div>
{% endblock %}