{% load static %}
{% load compress %}
<div class="navspace"></div>
<div class="container-fluid pos-rel user-navigation d-none d-lg-block pl-lg-5p pr-lg-5p">
    {% with url_name=request.resolver_match.url_name %}
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li><a class="nav_custom{% if url_name == 'my_invitations' %} active {% endif %}" href="{% url 'my_invitations' %}">My Invitation</a></li>
                    <li><a class="nav_custom{% if url_name == 'my_guests' %} active {% endif %}" href="{% url 'my_guests' %}">My Guests</a></li>
                    <li><a class="nav_custom{% if url_name == 'account' %} active {% endif %}" href="{% url 'account' %}">Profile</a></li>
                    <li><a class="nav_custom{% if url_name == 'change_pass' %} active {% endif %}" href="{% url 'change_pass' %}">Login Info</a></li>
                </ul>
            </div>
        </div>
    {% endwith %}
</div>