{% extends 'base.html' %}
{% load compress %}

{% block content %}
<title>{% block title %} My Guests | Reservasi Dulu {% endblock %}</title>
	
	<!-- Main -->
    <div id="main-templates" class="main-account">
        <!-- Section User Navigation -->
           {% include 'accounts/custom_shit.html' %}
        <!-- Section User Content -->
        <div class="container-fluid pos-rel user-content my-guest-content pt-lg-5p pl-lg-5p pr-lg-5p pt-m-30p pl-m-10p pr-m-10p bg-lightgrey">
            <div class="row">
                <div class="col-lg-12 mb-lg-3p">
                    <p><b>My Guests > </b><a href="" class="font-orange"><b>Ulang Tahun Dedek</b></a></p>
                </div>
                <!-- Table Attending -->
                <div class="col-lg-12 table-attending mb-lg-3p mb-m-20p">
                    <h3 class="mb-lg-2p">Attending</h3>
                    <div class="card">
                        <table class="table my-guest-table">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>No. of Guest</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>John</td>
                                    <td>John@gmail.com</td>
                                    <td>0812 7654 3210</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>John</td>
                                    <td>John@gmail.com</td>
                                    <td>0812 7654 3210</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>John</td>
                                    <td>John@gmail.com</td>
                                    <td>0812 7654 3210</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>John</td>
                                    <td>John@gmail.com</td>
                                    <td>0812 7654 3210</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>John</td>
                                    <td>John@gmail.com</td>
                                    <td>0812 7654 3210</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>John</td>
                                    <td>John@gmail.com</td>
                                    <td>0812 7654 3210</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>John</td>
                                    <td>John@gmail.com</td>
                                    <td>0812 7654 3210</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>John</td>
                                    <td>John@gmail.com</td>
                                    <td>0812 7654 3210</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>John</td>
                                    <td>John@gmail.com</td>
                                    <td>0812 7654 3210</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>John</td>
                                    <td>John@gmail.com</td>
                                    <td>0812 7654 3210</td>
                                    <td>3</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Table Not Attending -->
                <div class="col-lg-12 table-notattending mb-lg-3p mb-m-20p">
                    <h3 class="mb-lg-2p">Not Attending</h3>
                    <div class="card">
                        <table class="table my-guest-table">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><td>John</td></tr>
                                <tr><td>John</td></tr>
                                <tr><td>John</td></tr>
                                <tr><td>John</td></tr>
                                <tr><td>John</td></tr>
                                <tr><td>John</td></tr>
                                <tr><td>John</td></tr>
                                <tr><td>John</td></tr>
                                <tr><td>John</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Table Gift -->
                <div class="col-lg-12 table-gift">
                    <h3 class="mb-lg-2p">Gift</h3>
                    <div class="card">
                        <table class="table my-guest-table">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Gift</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>John</td>
                                    <td>John@gmail.com</td>
                                    <td>Dolls</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>John</td>
                                    <td>John@gmail.com</td>
                                    <td>Dolls</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>John</td>
                                    <td>John@gmail.com</td>
                                    <td>Dolls</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>John</td>
                                    <td>John@gmail.com</td>
                                    <td>Dolls</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>John</td>
                                    <td>John@gmail.com</td>
                                    <td>Dolls</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>John</td>
                                    <td>John@gmail.com</td>
                                    <td>Dolls</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>John</td>
                                    <td>John@gmail.com</td>
                                    <td>Dolls</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>John</td>
                                    <td>John@gmail.com</td>
                                    <td>Dolls</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>John</td>
                                    <td>John@gmail.com</td>
                                    <td>Dolls</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>John</td>
                                    <td>John@gmail.com</td>
                                    <td>Dolls</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-lg-100p h-lg-115vh bg-lightgrey"></div>
    </div>

{% endblock %}