{% extends 'base.html' %}

{% block content %}
<title>{% block title %} My Guests | Reservasi Dulu {% endblock %}</title>
	
	<!-- Main -->
    <div id="main-templates" class="main-account">
        <!-- Section User Navigation -->
           {% include 'accounts/custom_shit.html' %}
        <!-- Section User Content -->
        <div class="container-fluid pos-rel user-content my-guest-content pt-lg-5p pl-lg-5p pr-lg-5p pt-m-30p pl-m-10p pr-m-10p bg-lightgrey">
            <div class="row">
                <div class="col-lg-12"><h3 class="mb-lg-2p mb-m-10p">My Invitation</h3></div>
                <!-- Templates -->
                    <!-- Templates Card -->
                    <div class="col-lg-12">
                        <div class="wrap mb-lg-2p mb-m-10p">
                            <div class="container-fluid card">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <img class="img-fluid" src="{% static 'img/04-templates/templates-landing-image-03.png' %}" alt="reservasidulu" />
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="boxc info">
                                            <div class="title">Ulang Tahun Dedek</div>
                                            <div class="category">Birthday Template</div>
                                            <div class="date">created: 23/10/2020</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="boxc">
                                            <a class="btn-whiteoutline" href="my-guest-new2.html">See Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="mb-lg-2p">My Guest</h3>
                        <div class="w-lg-100p line-lightgrey"></div>
                    </div>
                    <!-- Header Info -->
                    <div class="col-lg-12 info pl-m-0 pr-m-0">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block pl-lg-0 pr-lg-5p header-attending">
                                    <h3>Attending</h3>
                                    <div class="num">2304</div>
                                    <a href="">See who’s attending</a>
                                </div>
                                <div class="col-lg-6 d-none d-lg-block pl-lg-5p pr-lg-0 sna">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12 submitted">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <h3>RSVP Submitted</h3>
                                                        <a href="">See who’ve submitted</a>
                                                    </div>
                                                    <div class="col-lg-4"><h3 class="num-sm"><span>1907</span></h3></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 notattending">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <h3>Not Attending</h3>
                                                        <a href="">See who’s not attending</a>
                                                    </div>
                                                    <div class="col-lg-4"><h3 class="num-sm"><span>9</span></h3></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 d-block d-lg-none header-attending">
                                    <h3 class="subtitle">Attending</h3>
                                </div>
                                <div class="col-6 d-block d-lg-none header-attending text-right">
                                    <div class="num">2304</div>
                                    <a href="">See who’s attending</a>
                                </div>
                                <div class="col-12 d-block d-lg-none"><div class="line"></div></div>
                                <div class="col-8 d-block d-lg-none header-attending">
                                    <h3 class="subtitle">RSVP Submitted</h3>
                                    <a href="">See who’ve submitted</a>
                                </div>
                                <div class="col-4 d-block d-lg-none header-attending text-right">
                                    <h3 class="num-sm"><span>1907</span></h3>
                                </div>
                                <div class="col-12 d-block d-lg-none"><div class="line"></div></div>
                                <div class="col-8 d-block d-lg-none header-attending">
                                    <h3 class="subtitle">Not Attending</h3>
                                    <a href="">See who’s not attending</a>
                                </div>
                                <div class="col-4 d-block d-lg-none header-attending text-right">
                                    <h3 class="num-sm"><span>9</span></h3>
                                </div>
                                <div class="col-12 d-block d-lg-none"><div class="line"></div></div>
                                <div class="col-6 d-block d-lg-none header-attending">
                                    <h3 class="subtitle">Estimated Gift Receive</h3>
                                </div>
                                <div class="col-6 d-block d-lg-none header-attending text-right">
                                    <div class="num">1076</div>
                                    <a href="">See who give me gift</a>
                                </div>
                                <div class="col-12 d-block d-lg-none"><div class="line"></div></div>
                                <div class="col-12 d-block d-lg-none header-attending">
                                    <h3 class="subtitle titletable">Top Chosen Gift</h3>
                                    <table>
                                        <tr>
                                            <td><h5><b>Dresses</b></h5></td>
                                            <td><h5><b>60</b></h5></td>
                                        </tr>
                                        <tr>
                                            <td><h5><b>Shoes</b></h5></td>
                                            <td><h5><b>35</b></h5></td>
                                        </tr>
                                        <tr>
                                            <td><h5><b>Snacks</b></h5></td>
                                            <td><h5><b>21</b></h5></td>
                                        </tr>
                                        <tr>
                                            <td><h5><b>Tumblr</b></h5></td>
                                            <td><h5><b>7</b></h5></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-12 d-block d-lg-none"><div class="line"></div></div>
                            </div>
                        </div>
                        <div class="d-none d-lg-block w-lg-100p line-lightgrey mt-lg-3p mb-lg-3p"></div>
                        <div class="container-fluid d-none d-lg-block">
                            <div class="row">
                                <div class="col-lg-6 pl-lg-0 pr-lg-5p header-attending">
                                    <h3>Estimated Gift Receive</h3>
                                    <div class="num">1076</div>
                                    <a href="">See who give me gift</a>
                                </div>
                                <div class="col-lg-6 pl-lg-5p pr-lg-0 topgift">
                                    <h3 class="mb-lg-3p">Top Chosen Gift</h3>
                                    <table>
                                        <tr>
                                            <td><h5><b>Dresses</b></h5></td>
                                            <td><h5><b>60</b></h5></td>
                                        </tr>
                                        <tr>
                                            <td><h5><b>Shoes</b></h5></td>
                                            <td><h5><b>35</b></h5></td>
                                        </tr>
                                        <tr>
                                            <td><h5><b>Snacks</b></h5></td>
                                            <td><h5><b>21</b></h5></td>
                                        </tr>
                                        <tr>
                                            <td><h5><b>Tumblr</b></h5></td>
                                            <td><h5><b>7</b></h5></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="d-none d-lg-block w-lg-100p line-lightgrey mt-lg-3p mb-lg-10p"></div>
                    </div>
                <!-- End Templates -->
                <!-- Templates -->
                    <!-- Templates Card -->
                    <div class="col-lg-12">
                        <div class="wrap mb-lg-2p mb-m-10p">
                            <div class="container-fluid card">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <img class="img-fluid" src="{% static 'img/04-templates/templates-landing-image-03.png' %}" alt="reservasidulu" />
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="boxc info">
                                            <div class="title">Ulang Tahun Dedek</div>
                                            <div class="category">Birthday Template</div>
                                            <div class="date">created: 23/10/2020</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="boxc">
                                            <a class="btn-whiteoutline" href="my-guest-new2.html">See Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="mb-lg-2p">My Guest</h3>
                        <div class="w-lg-100p line-lightgrey"></div>
                    </div>
                    <!-- Header Info -->
                    <div class="col-lg-12 info pl-m-0 pr-m-0">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block pl-lg-0 pr-lg-5p header-attending">
                                    <h3>Attending</h3>
                                    <div class="num">2304</div>
                                    <a href="">See who’s attending</a>
                                </div>
                                <div class="col-lg-6 d-none d-lg-block pl-lg-5p pr-lg-0 sna">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12 submitted">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <h3>RSVP Submitted</h3>
                                                        <a href="">See who’ve submitted</a>
                                                    </div>
                                                    <div class="col-lg-4"><h3 class="num-sm"><span>1907</span></h3></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 notattending">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <h3>Not Attending</h3>
                                                        <a href="">See who’s not attending</a>
                                                    </div>
                                                    <div class="col-lg-4"><h3 class="num-sm"><span>9</span></h3></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 d-block d-lg-none header-attending">
                                    <h3 class="subtitle">Attending</h3>
                                </div>
                                <div class="col-6 d-block d-lg-none header-attending text-right">
                                    <div class="num">2304</div>
                                    <a href="">See who’s attending</a>
                                </div>
                                <div class="col-12 d-block d-lg-none"><div class="line"></div></div>
                                <div class="col-8 d-block d-lg-none header-attending">
                                    <h3 class="subtitle">RSVP Submitted</h3>
                                    <a href="">See who’ve submitted</a>
                                </div>
                                <div class="col-4 d-block d-lg-none header-attending text-right">
                                    <h3 class="num-sm"><span>1907</span></h3>
                                </div>
                                <div class="col-12 d-block d-lg-none"><div class="line"></div></div>
                                <div class="col-8 d-block d-lg-none header-attending">
                                    <h3 class="subtitle">Not Attending</h3>
                                    <a href="">See who’s not attending</a>
                                </div>
                                <div class="col-4 d-block d-lg-none header-attending text-right">
                                    <h3 class="num-sm"><span>9</span></h3>
                                </div>
                                <div class="col-12 d-block d-lg-none"><div class="line"></div></div>
                                <div class="col-6 d-block d-lg-none header-attending">
                                    <h3 class="subtitle">Estimated Gift Receive</h3>
                                </div>
                                <div class="col-6 d-block d-lg-none header-attending text-right">
                                    <div class="num">1076</div>
                                    <a href="">See who give me gift</a>
                                </div>
                                <div class="col-12 d-block d-lg-none"><div class="line"></div></div>
                                <div class="col-12 d-block d-lg-none header-attending">
                                    <h3 class="subtitle titletable">Top Chosen Gift</h3>
                                    <table>
                                        <tr>
                                            <td><h5><b>Dresses</b></h5></td>
                                            <td><h5><b>60</b></h5></td>
                                        </tr>
                                        <tr>
                                            <td><h5><b>Shoes</b></h5></td>
                                            <td><h5><b>35</b></h5></td>
                                        </tr>
                                        <tr>
                                            <td><h5><b>Snacks</b></h5></td>
                                            <td><h5><b>21</b></h5></td>
                                        </tr>
                                        <tr>
                                            <td><h5><b>Tumblr</b></h5></td>
                                            <td><h5><b>7</b></h5></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-12 d-block d-lg-none"><div class="line"></div></div>
                            </div>
                        </div>
                        <div class="d-none d-lg-block w-lg-100p line-lightgrey mt-lg-3p mb-lg-3p"></div>
                        <div class="container-fluid d-none d-lg-block">
                            <div class="row">
                                <div class="col-lg-6 pl-lg-0 pr-lg-5p header-attending">
                                    <h3>Estimated Gift Receive</h3>
                                    <div class="num">1076</div>
                                    <a href="">See who give me gift</a>
                                </div>
                                <div class="col-lg-6 pl-lg-5p pr-lg-0 topgift">
                                    <h3 class="mb-lg-3p">Top Chosen Gift</h3>
                                    <table>
                                        <tr>
                                            <td><h5><b>Dresses</b></h5></td>
                                            <td><h5><b>60</b></h5></td>
                                        </tr>
                                        <tr>
                                            <td><h5><b>Shoes</b></h5></td>
                                            <td><h5><b>35</b></h5></td>
                                        </tr>
                                        <tr>
                                            <td><h5><b>Snacks</b></h5></td>
                                            <td><h5><b>21</b></h5></td>
                                        </tr>
                                        <tr>
                                            <td><h5><b>Tumblr</b></h5></td>
                                            <td><h5><b>7</b></h5></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="d-none d-lg-block w-lg-100p line-lightgrey mt-lg-3p mb-lg-10p"></div>
                    </div>
                <!-- End Templates -->
            </div>
        </div>
        <div class="w-lg-100p h-lg-100vh bg-lightgrey"></div>
    </div>

{% endblock %}