{% extends 'base.html' %}
{% load static %}

{% block content %}
    <title>{% block title %} My Products | Reservasi Dulu {% endblock %}</title>

    <!-- Main -->
    <div id="main-templates" class="main-account">
        <!-- Section User Navigation -->
        <div class="navspace"></div>
        <div class="container-fluid pos-rel user-navigation d-none d-lg-block pl-lg-5p pr-lg-5p">
            <div class="row">
                <div class="col-lg-12">
                    <ul>
                        <li><a href="{% url 'my_products' %}">My Products</a></li>
                        <li><a href="{% url 'my_guests' %}">My Guests</a></li>
                        <li><a class="active" href="{% url 'account' %}">Profile</a></li>
                        <li><a href="">Login Info</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Section User Content -->
        <div class="container-fluid pos-rel user-content my-product-content pt-lg-5p pb-lg-15p pl-lg-5p pr-lg-5p pt-m-30p pl-m-10p pr-m-10p bg-lightgrey">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="mb-lg-2p">My Templates</h3>
                    <div class="wrap">
                    {% if data %}
                        {% for i in data %}
                        <div class="container-fluid card">
                            <div class="row">
                                <div class="col-lg-3">
                                    <img class="img-fluid" src="{{ i.theme.theme_img.url }}" alt="reservasidulu" />
                                </div>
                                <div class="col-lg-6">
                                    <div class="boxc info">
                                        <div class="title">{{ i.theme.theme_name }}</div>
                                        <div class="category">{{ i.theme.theme_category }}</div>
                                        {#<div class="date">{{ i.theme_data.created }}</div>#}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    {#{% for shit in u_theme %}#}
                                        <div class="boxc">
                                            <a class="btn-whiteoutline" href="">edit</a>
                                            <a class="btn-rectangle" href="{{ i }}">preview</a>
                                        </div>
                                    {#{% endfor %}#}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div>
                            You don't have any invitation. Consider to create one with these <a href="{% url 'all_temp' %}"></a> ?
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="w-lg-100p h-lg-115vh bg-lightgrey"></div>
    </div>

{% endblock %}