{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container-fluid pos-rel pt-lg-15p pb-lg-25p pl-lg-25p pr-lg-25p">
        <div class="row">
            <div class="col-lg-12">
               <div class="pt-5 pb-5">
                   <center><h2>Sign up</h2></center>
               </div>
                <div>
                      <form method="post">
                          {% csrf_token %}
                          <fieldset class="form-group">
                              <legend class="border-bottom mb-4" style="color:red; text-align: center">Please fill up the form with your real information to get special offers</legend>
                              {{ form|crispy }}
                          </fieldset>
                          <div class="form-group">
                              <button class="btn btn-outline-primary btn-sm" type="submit">Submit</button>
                          </div>
                      </form>
                      <div class="border-top pt-3">
                          <small class="text-muted">
                          Already have an account? <a href="{% url 'Login' %}"><b>Login</b></a>
                          </small>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-lg-100p h-lg-100vh"></div>
{% endblock %}