{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="container-fluid pos-rel pt-lg-15p pb-lg-25p pl-lg-10p pr-lg-10p">
        <div class="row">
            <div class="col-lg-12">
                <h3>Your Birthday Detail</h3>
                    <b>Birthday Name:</b> {{ birthday.birthday_name }}<br>
                    <b>Name</b>: {{ birthday.name }}<br>
                    <b>Dresscode</b>: {{ birthday.dresscode }}<br>
                    <b>Birthday Location</b>: {{ birthday.location }}<br>
                    <b>Message</b>: {{ birthday.message }}<br>
                    <b>Birthday URL</b>: {{ birthday.slug }}<br>

                <div>
                {% if user.is_authenticated %}
                    <a href="{% url 'birthday_update' birthday.slug %}" class="btn btn-outline-primary btn-sm" type="submit">Edit</a>
                    <a href="{% url 'birthday_delete' birthday.slug %}" class="btn btn-outline-primary btn-sm" type="submit">Delete</a>
                    <button class="btn btn-outline-primary btn-sm" type="submit">Share</button>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="w-lg-100p h-lg-100vh"></div>
{% endblock %}