{% extends 'base.html' %}
{% load static %}

{% block content %}
    <title>{% block title %} Birthday | ReservasiDulu {% endblock %}</title>
    <!-- Main -->
    <div id="main-templates">
        <!-- Section Banner -->
        <div class="container-fluid pos-rel pt-lg-0 pb-lg-0 pl-lg-0 pr-lg-0 pb-m-30p templates-banner fadein">
            <div class="row">
                <div class="col-lg-12 pt-m-15p">
                    <img class="img-fluid background d-none d-lg-block w-lg-100p" src="{% static 'img/04-templates/templates-background-02.png' %}">
                    <img class="img-fluid background d-block d-lg-none w-lg-100p" src="{% static 'img/mobile/mobile-templates-02.png' %}">
                    <img class="img-fluid boxv d-none d-lg-block image birthday" src="{% static 'img/04-templates/templates-image-02.png' %}" alt="reservasidulu">
                    <div class="boxv desc animated fadeInRight" style="animation-delay: 1s !important;">
                        <h2 class="font-white mb-lg-30 mb-m-5p">Templates for<br><span>Birthday Invitation</span></h2>
                        <a id="chevron-down" href="#templates-content">
                            <h5 class="font-white mr-lg-15">Scroll down</h5>
                            <img class="arrow" src="{% static 'img/arrow-down.png' %}">
                        </a>
                    </div>
                    <img class="img-fluid boxv d-block d-lg-none image" src="{% static 'img/mobile/mobile-templates-05.png' %}" alt="reservasidulu">
                </div>
            </div>
        </div>
        <!-- Section Content -->
        <div id="templates-content" class="container-fluid pos-rel pt-lg-10p pb-lg-15p pl-lg-5p pr-lg-5p pt-m-30p pl-m-10p pr-m-10p templates-content slideanim">
            <div class="row">
                <style>
                    ._thumb {
                        height: 100%;
                        width: 100%;
                    }
                </style>
                {% for x in preview %}
                    <div class="col-lg-4 d-none d-lg-block mb-lg-5p">
                        <a href="/themes/preview/{{ x.theme_url }}">
                            <img class="templatesthumbnail-image" src="{{ x.theme_img.url }}" alt="reservasidulu" />
                        </a>
                        <a class="templatesthumbnail-title" href="/themes/preview/{{ x.theme_url }}">{{ x.theme_name}}</a>
                        <p>{{ x.theme_category }} Template</p>
                        {#<a class="templatesthumbnail-category" href="">{{ x.theme_category }} Template</a>#}
                    </div>

                    {#<div class="col-lg-4 pb-lg-35">#}
                        {#<a href="/themes/preview/{{ x.theme_url }}"><div class="box">#}
                            {#<img class="_thumb" src="{{ x.theme_img.url }}" alt="">#}
                        {#</div></a>#}
                    {#</div>#}
                {% endfor %}

                <!-- Mobile -->
                <div class="col-12 d-block d-lg-none mb-m-5p pl-m-10p pr-m-10p">
                    <div class="templates-carousel owl-theme">
                         {% for x in preview %}
                            <div class="item">
                                <a href="/{{ x.theme_url }}">
                                    <img class="templatesthumbnail-image" src="{{ x.theme_img.url }}" alt="reservasidulu" />
                                </a>
                                <a class="templatesthumbnail-title" href="/{{ x.theme_name }}">{{ x.theme_name}}</a>
                                {#<a class="templatesthumbnail-category" href="/{{ x.theme_category | lower }}">{{ x.theme_category }} Templates</a>#}
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
        <div class="w-lg-100p h-lg-115vh"></div>
    </div>
{% endblock %}