{% extends 'base_form.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <!-- Main -->
    <div id="main-templates" class="main-account">
        <!-- Section User Navigation -->
        {% include 'shared/partials/base_form_nav.html' %}
        <!-- Section User Content -->
        <div class="container-fluid pos-rel user-content edit-template pt-lg-5p pb-lg-15p pl-lg-5p pr-lg-5p pt-m-30p pl-m-10p pr-m-10p bg-lightgrey">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="mb-lg-2p">Editing {{ form.title }}</h3>
                    <div class="card">
                        <div class="container-fluid templates-steps pb-lg-10p">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                        <!-- Navigation Dots -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active">
                                                <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" aria-expanded="true"></a>
                                            </li>
                                            <li role="presentation" class="disabled">
                                                <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" aria-expanded="false"></a>
                                            </li>
                                            <li role="presentation" class="disabled">
                                                <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab"></a>
                                            </li>
                                            <li role="presentation" class="disabled">
                                                <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab"></a>
                                            </li>
                                            <li role="presentation" class="disabled">
                                                <a href="#step5" data-toggle="tab" aria-controls="step5" role="tab"></a>
                                            </li>
                                            <li role="presentation" class="disabled">
                                                <a href="#step6" data-toggle="tab" aria-controls="step6" role="tab"></a>
                                            </li>
                                            <li role="presentation" class="disabled">
                                                <a href="#step7" data-toggle="tab" aria-controls="step7" role="tab"></a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="main_form">
                                            <div class="tab-pane active" role="tabpanel" id="step1">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <img class="img-fluid w-lg-100p" src="{% static 'img/form-edit-template/event/Screenshot-Event-Brotherfield-01.png' %}" alt="reservasidulu" />
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <div class="form-wrap">
                                                                <h5 class="mb-lg-4p"><b>Main Info</b></h5>
                                                                <label>Theme</label>
                                                                <input type="text" name="theme" class="form-control" placeholder="Colors Delight" disabled />
                                                                <label>Site URL*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.site_url }}" required>
                                                                <label>Site Title*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.title }}" required>
                                                                <label>Logo*</label>
                                                                <input type="file" id="fname" name="fname" value="{{ form.img_logo }}" required>
                                                                <label>Name*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.name }}" required>
                                                                <label>Instagram*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.instagram }}" required>
                                                                <label>Whatsapp*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.wa }}" required>
                                                                <label>Hastag*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.hashtag }}" required>
                                                            </div>
                                                            <a class="btn-rectangle next-step">Next Step</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" role="tabpanel" id="step2">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <img class="img-fluid w-lg-100p" src="{% static 'img/form-edit-template/event/Screenshot-Event-Brotherfield-02.png' %}" alt="reservasidulu" />
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <div class="form-wrap">
                                                                <h5 class="mb-lg-4p"><b>Header</b></h5>
                                                                <label>Image*</label>
                                                                <input type="file" id="fname" name="fname" value="{{ form.banner_image }}" required>
                                                                <label>City*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.banner_city }}" required>
                                                            </div>
                                                            <a class="btn-whiteoutline prev-step mb-lg-4p">Previous Step</a>
                                                            <a class="btn-rectangle next-step">Next Step</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" role="tabpanel" id="step3">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <img class="img-fluid w-lg-100p" src="{% static 'img/form-edit-template/event/Screenshot-Event-Brotherfield-03.png' %}" alt="reservasidulu" />
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <div class="form-wrap">
                                                                <h5 class="mb-lg-4p"><b>About</b></h5>
                                                                <label>Title*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.about_title }}" required>
                                                                <label>Brief*</label>
                                                                <textarea id="fname" name="fname" cols="40" rows="10" required>{{ form.about_brief }}</textarea>
                                                                <label>Image 1*</label>
                                                                <input type="file" id="fname" name="fname" value="{{ form.about_image1 }}" required>
                                                                <label>Image 2*</label>
                                                                <input type="file" id="fname" name="fname" value="{{ form.about_image2 }}" required>
                                                            </div>
                                                            <a class="btn-whiteoutline prev-step mb-lg-4p">Previous Step</a>
                                                            <a class="btn-rectangle next-step">Next Step</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" role="tabpanel" id="step4">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <img class="img-fluid w-lg-100p" src="{% static 'img/form-edit-template/event/Screenshot-Event-Brotherfield-04.png' %}" alt="reservasidulu" />
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <div class="form-wrap">
                                                                <h5 class="mb-lg-4p"><b>Date, Time, and Place</b></h5>
                                                                <label>Date*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.venue_date }}" required>
                                                                <label>Maps*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.venue_maps }}" required>
                                                                <label>Start*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.venue_start }}" required>
                                                                <label>End*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.venue_end }}" required>
                                                                <label>At*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.venue_at }}" required>
                                                                <label>Address*</label>
                                                                <textarea id="fname" name="fname" cols="40" rows="10" required>{{ form.venue_address }}</textarea>
                                                                <label>Dresscode*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.venue_dress }}" required>
                                                            </div>
                                                            <a class="btn-whiteoutline prev-step mb-lg-4p">Previous Step</a>
                                                            <a class="btn-rectangle next-step">Next Step</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" role="tabpanel" id="step5">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <img class="img-fluid w-lg-100p" src="{% static 'img/form-edit-template/event/Screenshot-Event-Brotherfield-05.png' %}" alt="reservasidulu" />
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <div class="form-wrap">
                                                                <h5 class="mb-lg-4p"><b>Menus</b></h5>
                                                                <label>Image 1*</label>
                                                                <input type="file" id="fname" name="fname" value="{{ form.menus_image1 }}" required>
                                                                <label>Image 2*</label>
                                                                <input type="file" id="fname" name="fname" value="{{ form.menus_image2 }}" required>
                                                                <label>Image 3*</label>
                                                                <input type="file" id="fname" name="fname" value="{{ form.menus_image3 }}" required>
                                                                <label>Image 4*</label>
                                                                <input type="file" id="fname" name="fname" value="{{ form.menus_image4 }}" required>
                                                                <label>Food Content*</label>
                                                                <textarea id="fname" name="fname" cols="40" rows="10" required>{{ form.menus_food_content }}</textarea>
                                                                <label>Drink Content*</label>
                                                                <textarea id="fname" name="fname" cols="40" rows="10" required>{{ form.menus_drink_content }}</textarea>
                                                            </div>
                                                            <a class="btn-whiteoutline prev-step mb-lg-4p">Previous Step</a>
                                                            <a class="btn-rectangle next-step">Next Step</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" role="tabpanel" id="step6">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <img class="img-fluid w-lg-100p" src="{% static 'img/form-edit-template/event/Screenshot-Event-Brotherfield-06.png' %}" alt="reservasidulu" />
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <div class="form-wrap">
                                                                <h5 class="mb-lg-4p"><b>Guest</b></h5>
                                                                <label>Image 1*</label>
                                                                <input type="file" id="fname" name="fname" value="{{ form.guest_image1 }}" required>
                                                                <label>Name 1*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.guest_name1 }}" required>
                                                                <label>Image 2*</label>
                                                                <input type="file" id="fname" name="fname" value="{{ form.guest_image2 }}" required>
                                                                <label>Name 2*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.guest_name2 }}" required>
                                                            </div>
                                                            <a class="btn-whiteoutline prev-step mb-lg-4p">Previous Step</a>
                                                            <a class="btn-rectangle next-step">Next Step</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" role="tabpanel" id="step7">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <img class="img-fluid w-lg-100p" src="{% static 'img/form-edit-template/event/Screenshot-Event-Brotherfield-07.png' %}" alt="reservasidulu" />
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <div class="form-wrap">
                                                                <h5 class="mb-lg-4p"><b>RSVP</b></h5>
                                                                <label>Image*</label>
                                                                <input type="file" id="fname" name="fname" value="{{ form.rsvp_image }}" required>
                                                                <label>Invitation PDF*</label>
                                                                <input type="file" id="fname" name="fname" value="{{ form.inv_pdf }}" required>
                                                            </div>
                                                            <a class="btn-whiteoutline prev-step mb-lg-4p">Previous Step</a>
                                                            <button type="submit" class="btn-rectangle">Preview Website</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-lg-100p h-lg-115vh bg-lightgrey"></div>
    </div>

{% endblock %}