{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Main -->
    <div id="main-templates">
        <!-- Section Banner -->
        <div class="container-fluid pos-rel pt-lg-0 pb-lg-0 pl-lg-0 pr-lg-0 templates-banner fadein">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-fluid w-lg-100p" src="{% static 'img/04-templates/templates-background.png' %}">
                    <img class="img-fluid boxv image" src="{% static 'img/04-templates/templates-image.png' %}" alt="reservasidulu">
                    <div class="boxv desc animated fadeInRight" style="animation-delay: 2s !important;">
                        <h2 class="font-white mb-lg-30">Templates for<br><span>Wedding Invitation</span></h2>
                        <a id="chevron-down" href="#templates-content">
                            <h5 class="font-white mr-lg-15">Scroll down</h5>
                            <img class="arrow" src="{% static 'img/arrow-down.png' %}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section Content -->
        <div id="templates-content" class="container-fluid pos-rel pt-lg-10p pb-lg-15p pl-lg-5p pr-lg-5p templates-content slideanim">
            <div class="row">
                <div class="col-lg-4 pb-lg-35">
                    <a href="templates-example.html"><div class="box"></div></a>
                </div>
                <div class="col-lg-4 pb-lg-35">
                    <a href="templates-example.html"><div class="box"></div></a>
                </div>
                <div class="col-lg-4 pb-lg-35">
                    <a href="templates-example.html"><div class="box"></div></a>
                </div>
                <div class="col-lg-4 pb-lg-35">
                    <a href="templates-example.html"><div class="box"></div></a>
                </div>
                <div class="col-lg-4 pb-lg-35">
                    <a href="templates-example.html"><div class="box"></div></a>
                </div>
                <div class="col-lg-4 pb-lg-35">
                    <a href="templates-example.html"><div class="box"></div></a>
                </div>
                <div class="col-lg-4 pb-lg-35">
                    <a href="templates-example.html"><div class="box"></div></a>
                </div>
                <div class="col-lg-4 pb-lg-35">
                    <a href="templates-example.html"><div class="box"></div></a>
                </div>
                <div class="col-lg-4 pb-lg-35">
                    <a href="templates-example.html"><div class="box"></div></a>
                </div>
                <div class="col-lg-4 pb-lg-35">
                    <a href="templates-example.html"><div class="box"></div></a>
                </div>
                <div class="col-lg-4 pb-lg-35">
                    <a href="templates-example.html"><div class="box"></div></a>
                </div>
                <div class="col-lg-4 pb-lg-35">
                    <a href="templates-example.html"><div class="box"></div></a>
                </div>
                <div class="col-lg-4 pb-lg-35">
                    <a href="templates-example.html"><div class="box"></div></a>
                </div>
                <div class="col-lg-4 pb-lg-35">
                    <a href="templates-example.html"><div class="box"></div></a>
                </div>
                <div class="col-lg-4 pb-lg-35">
                    <a href="templates-example.html"><div class="box"></div></a>
                </div>
            </div>
        </div>
        <div class="w-lg-100p h-lg-115vh"></div>
    </div>

{% endblock %}
