{% load static %}
        <!-- Section Template -->
        <div class="container-fluid pos-rel pt-lg-10p pb-lg-15p pl-lg-10p pr-lg-10p home-template">
            <div class="row">
                <div class="col-lg-12 pb-lg-50 text-center">
                    <h2>Choose your <span>template</span></h2>
                </div>
                <div class="col-lg-4 pb-lg-40 pl-lg-30 pr-lg-30">
                    <div class="box" style="background: #f8b133;"></div>
                </div>
                <div class="col-lg-4 pb-lg-40 pl-lg-30 pr-lg-30">
                    <a href="/">
                        <div class="box" style="background: #20ac6b;">
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 pb-lg-40 pl-lg-30 pr-lg-30">
                    <div class="box" style="background: #43cdac;"></div>
                </div>
                <div class="col-lg-4 pb-lg-40 pl-lg-30 pr-lg-30">
                    <div class="box" style="background: #eb4568;"></div>
                </div>
                <div class="col-lg-4 pb-lg-40 pl-lg-30 pr-lg-30">
                    <div class="box" style="background: #53146c;"></div>
                </div>
                <div class="col-lg-4 pb-lg-40 pl-lg-30 pr-lg-30">
                    <div class="box" style="background: #1d1d1b;"></div>
                </div>
                <div class="col-lg-12 text-center">
                    <a class="button-orange" href="">
                        <p class="font-white">More options</p>
                        <img src="{% static 'img/button-01.png' %}">
                    </a>
                </div>
            </div>
        </div>