{% load static %}
<!-- Section Price & Testimony -->
<div class="pos-rel pricetestimony">
    <!-- Section Price -->
    <div id="price" class="container-fluid pos-rel pt-lg-0 pb-lg-10p pl-lg-5p pr-lg-5p pt-m-20p pb-m-20p pl-m-10p pr-m-10p home-price slideanim">
        <div class="row">
            <div class="col-lg-12 pb-lg-60 pb-m-10p text-center">
                <h3><span>The best deal</span> comes<br>with <span>great price</span></h3>
            </div>
            <div class="col-lg-6 d-none d-lg-block text-center" style="padding-right: 6% !important;">
                <img class="img-fluid w-lg-55p mb-lg-5p" src="{% static 'img/01-home/home-image-12.png' %}">
                <ul>
                    <li>Planning Dashboard</li>
                    <li>Wedding Website</li>
                    <li>Mobile App</li>
                    <li>Cover Style Gallery</li>
                    <li>Unlimited Guest Accounts</li>
                </ul>
                {% if user.is_authenticated %}
                    <a class="button-orange-line" href="{% url 'free' %}">
                        <p class="font-orange">Interesting!</p>
                        <img src="{% static 'img/button-02.png' %}">
                    </a>
                {% else %}
                    <a class="button-orange-line" href="{% url 'register' %}">
                        <p class="font-orange">Interesting!</p>
                        <img src="{% static 'img/button-02.png' %}">
                    </a>
                {% endif %}
            </div>
            <div class="col-lg-6 d-none d-lg-block text-center" style="padding-left: 6% !important;">
                <img class="img-fluid w-lg-55p mb-lg-5p" src="{% static 'img/01-home/home-image-13.png' %}">
                <ul>
                    <li>Digital Invites and RSVPs</li>
                    <li>Multiple Admin Accounts</li>
                    <li>Unlimited Photo Storage</li>
                    <li>Free Website Hosting</li>
                    <li>Daily Technical Support</li>
                </ul>
                {% if user.is_authenticated %}
                    <a class="button-orange" href="{% url 'all_temp' %}">
                        <p class="font-white">Sounds Good!</p>
                        <img src="{% static 'img/button-01.png' %}">
                    </a>
                {% else %}
                    <a class="button-orange" href="{% url 'register' %}">
                            <p class="font-white">Sounds Good!</p>
                        <img src="{% static 'img/button-01.png' %}">
                    </a>
                {% endif %}
            </div>
{#            <div class="col-lg-12 d-block d-lg-none">#}
{#                <div class="one-carousel owl-theme">#}
{#                    <div class="item text-center">#}
{#                        <img class="img-fluid ma-m w-lg-70p mb-lg-5p" src="{% static 'img/01-home/home-image-12.png' %}">#}
{#                        <ul>#}
{#                            <li>Planning Dashboard</li>#}
{#                            <li>Wedding Website</li>#}
{#                            <li>Mobile App</li>#}
{#                            <li>Cover Style Gallery</li>#}
{#                            <li>Unlimited Guest Accounts</li>#}
{#                        </ul>#}
{#                        <a class="button-orange-line" href="">#}
{#                            <p class="font-orange">Interesting!</p>#}
{#                            <img src="{% static 'img/button-02.png' %}">#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="item text-center">#}
{#                        <img class="img-fluid ma-m w-lg-70p mb-lg-5p" src="{% static 'img/01-home/home-image-13.png' %}">#}
{#                        <ul>#}
{#                            <li>Digital Invites and RSVPs</li>#}
{#                            <li>Multiple Admin Accounts</li>#}
{#                            <li>Unlimited Photo Storage</li>#}
{#                            <li>Free Website Hosting</li>#}
{#                            <li>Daily Technical Support</li>#}
{#                        </ul>#}
{#                        <a class="button-orange" href="">#}
{#                            <p class="font-white">Sounds Good!</p>#}
{#                            <img src="{% static 'img/button-01.png' %}">#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <img class="img-fluid motif move-right-fast" src="{% static 'img/01-home/home-image-14.png' %}">
        </div>
    </div>
    <!-- Section Testimony -->
    <div class="container-fluid pos-rel pt-lg-10p pb-lg-10p pl-lg-5p pr-lg-5p home-testimony">
        <div class="row">
            <div class="col-lg-5 pl-lg-10p box1 slideanimLeft">
                <div id="sync1" class="owl-carousel owl-theme">
                    <div class="item">
                        <img class="img-fluid" src="{% static 'img/01-home/home-image-16.png' %}" alt="reservasidulu">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src="{% static 'img/01-home/home-image-16.png' %}" alt="reservasidulu">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src="{% static 'img/01-home/home-image-16.png' %}" alt="reservasidulu">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src="{% static 'img/01-home/home-image-16.png' %}" alt="reservasidulu">
                    </div>
                </div>
                <div class="pic">
                    <img class="img-fluid w-lg-85p" src="{% static 'img/01-home/home-image-15.png' %}">
                </div>
            </div>
            <div class="col-lg-7 box2 slideanim">
                <h2 class="mb-lg-50">What <span>they said</span> about us?</h2>
                <div id="sync2" class="owl-carousel owl-theme">
                    <div class="item">
                        <h4><span>Vallerie Pribadi 1</span></h4>
                        <h4>“Easy to use & excellent value”</h4>
                        <img class="img-fluid mt-lg-30 mb-lg-30 w-lg-a" src="{% static 'img/line.png' %}">
                        <div class="w-lg-75p">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
                        </div>
                    </div>
                    <div class="item">
                        <h4><span>Vallerie Pribadi 2</span></h4>
                        <h4>“Easy to use & excellent value”</h4>
                        <img class="img-fluid mt-lg-30 mb-lg-30 w-lg-a" src="{% static 'img/line.png' %}">
                        <div class="w-lg-75p">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
                        </div>
                    </div>
                    <div class="item">
                        <h4><span>Vallerie Pribadi 3</span></h4>
                        <h4>“Easy to use & excellent value”</h4>
                        <img class="img-fluid mt-lg-30 mb-lg-30 w-lg-a" src="{% static 'img/line.png' %}">
                        <div class="w-lg-75p">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
                        </div>
                    </div>
                    <div class="item">
                        <h4><span>Vallerie Pribadi 4</span></h4>
                        <h4>“Easy to use & excellent value”</h4>
                        <img class="img-fluid mt-lg-30 mb-lg-30 w-lg-a" src="{% static 'img/line.png' %}">
                        <div class="w-lg-75p">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
                        </div>
                    </div>
                </div>
                <img class="img-fluid motif" src="{% static 'img/01-home/home-image-17.png' %}">
            </div>
        </div>
    </div>
    <img class="background" src="{% static 'img/01-home/home-background-03.png' %}">
</div>