{% load static %}
{% load compress %}

<form method="post" enctype="multipart/form-data">
{% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="your-attending">are you attending?*</label>
            <div>
                {{ form_class.check }}
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="your-email">email address*</label>
            {{ form_class.email }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="your-firstname">Full name*</label>
            {{ form_class.name }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="your-firstname">Phone Number*</label>
            {{ form_class.phone }}
        </div>
        <div class="form-group col-md-6">
            <label for="your-with">who else is coming with you?*</label>
            <div class="guest input-number-arrow">
                <a role="button" id="step-decrement" class="btn btn-default" aria-label="remove 1" aria-labelledby="step-decrement label-text">
                    <img class="img-fluid" src="{% static 'img/templates-button/buttons_LiamFeli-03.png' %}" />
                </a>
                <input class="form-control text-center" type="number" name="your-guest" id="spinner" value="1" placeholder="1" aria-live="polite" tabindex="-1" aria-labelledby="label-text" min="1" max="5">
                <a role="button" id="step-increment" class="btn btn-default" aria-label="add 1" aria-labelledby="step-increment label-text">
                    <img class="img-fluid" src="{% static 'img/templates-button/buttons_LiamFeli-04.png' %}" />
                </a>
            </div>
        </div>
    </div>
    <div class="button-position mt-lg-10p">
        <button type="submit" class="add-to-cart button-default" data-toggle="modal" data-target="#thankyou" >
            <div class="default">RSVP</div>
            <div class="success">RESERVED</div>
            <div class="dots-animation"></div>
        </button>
        <a class="button-download" target="_blank" href="{{ x.inv_pdf.url }}">Download Invitation</a>
    </div>
</form>