{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Template Wedding | Homepage</title>
    <link rel="shortcut icon" href="{% static 'rsvp/wedding/liam_felicia/images/ico.ico' %}">
    <!-- Customize css -->
    <link rel="stylesheet" href="{% static 'features/animatecss/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/assets/owl.theme.default.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rsvp/wedding/liam_felicia/style-wedding-3.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <!-- Preview Navigation -->
    {% include 'themes/wedding/liam_felicia/navbar_preview.html' %}
    
    <!-- Main Site -->
    <div id="homepage" class="pos-rel">
        <!-- Navbar -->
        <nav class="animated fadeInDown">
            <div class="container-fluid pos-rel">
                <div class="row d-none d-lg-block">
                    <a href="">
                        <div class="logo">
                            <img src="{{img}}{{x.initial_logo}}" alt="">
                        </div>
                    </a>
                    <div class="offset-lg-3 col-lg-9 pr-lg-0">
                        <ul class="menu">
                            <li><a href="#story">.Our Story</a></li>
                            <li><a href="#venue">.Venue</a></li>
                            <li><a href="#accommodations">.Accommodations</a></li>
                            <li><a href="#gallery">.Gallery</a></li>
                            <li><a href="#rsvp">.RSVP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row d-lg-none">
                    <div class="col-8">
                        <a href="index.html"><div class="logo">{{ x.initial_logo }}</div></a>
                    </div>
                    <div class="col-4 pr-m-0">
                        <ul class="bars">
                            <div id="toggle">
                                <div class="one"></div>
                                <div class="two"></div>
                                <div class="three"></div>
                            </div>
                        </ul>
                    </div>
                    <div class="side-nav">
                        <div class="close-div text-right p-3">
                            <i class="fa fa-times close-icon"></i>
                        </div>
                        <ul class="list-unstyled">
                            <li><a href="#story">.Our Story</a></li>
                            <li><a href="#venuem">.Venue</a></li>
                            <li><a href="#accommodations">.Accommodations</a></li>
                            <li><a href="#gallery">.Gallery</a></li>
                            <li><a href="#rsvp">.RSVP</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Section Banner -->
        <section id="banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pl-lg-0 pr-lg-0">
                        <img class="img-fluid w-lg-100p" src="{{img}}{{x.banner_bg}}" />
                        <div class="boxc text-center">
                            <h1 class="ml3">{{ x.banner_title }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Story -->
        <section id="story">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block pt-lg-10p pb-lg-5p pl-lg-5p slideanimLeft">
                        <img class="img-fluid" src="{{img}}{{x.about_image}}" />
                    </div>
                    <div class="col-lg-6 pt-m-35p pb-m-10p pl-m-10p pr-m-10p pt-lg-10p pb-lg-5p pr-lg-5p">
                        <div class="w-m-100p w-lg-70p">
                            <img class="motif" src="{% static 'rsvp/wedding/liam_felicia/images/icon.png' %}">
                            <h3 class="font-maroon mb-lg-10p ml4 slideanim">{{ x.about_title }}</h3>
                        </div>
                        <div class="w-m-100p w-lg-70p slideanim">
                            <div class="mb-lg-15p">
                                {{ x.about_brief }}
                            </div>
                            <a class="button-default" href="#rsvp">Are You Attending?</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Venue -->
        <section id="venuem">
            <div class="container-fluid  pt-m-25p pt-lg-10p pb-lg-10p pl-lg-10p pr-lg-10p">
                <div id="venue" class="row">
                    <div class="col-lg-12">
                        <div class="title-def pos-rel w-lg-100p mb-lg-35">
                            <div class="title-line"></div>
                            <h3>Our Venue</h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid image w-lg-100p" src="{{img}}{{x.vc_image}}" />
                        <div class="box bg-grey">
                            <h3 class="font-maroon-1 mb-lg-0">Ceremony</h3>
                            <div class="time mb-lg-15">{{ x.vc_day }}, <b>{{ x.vc_date }}</b><br />{{ x.vc_time }}</div>
                            <div class="line-grey w-lg-100p mb-lg-15"></div>
                            <div>
                                <p>
                                    {{ x.vc_place }},<br />
                                    {{ x.vc_address }}<br><br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid image w-lg-100p" src="{{img}}{{x.vr_image}}" />
                        <div class="box bg-brown">
                            <h3 class="font-grey mb-lg-0">Reception</h3>
                            <div class="time font-white mb-lg-15">{{ x.vr_day }}, <b>{{ x.vr_date }}</b><br />{{ x.vr_time }}</div>
                            <div class="line-brown w-lg-100p mb-lg-15"></div>
                            <div class="font-white">
                                <p>
                                    {{ x.vr_place }},<br />
                                    {{ x.vr_address }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Accommodations -->
        <section id="accommodations">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pt-lg-5p pl-lg-0 pr-lg-0">
                        <img class="img-fluid w-lg-100p" src="{{img}}{{x.acm_image}}" />
                        <div class="boxc bg-brown font-white text-center">
                            <h4 class="font-white mb-lg-15">Accommodations</h4>
                            <div class="line-brown w-lg-100p mb-lg-15"></div>
                            <p class="mb-lg-15">Your convenience is one of our concerns, we have booked you a room at this following place:</p>
                            <p><b>
                                {{ x.acm_place }}<br />
                                {{ x.acm_address }}
                            </b></p>
                            <div class="line-brown w-lg-100p mb-lg-15"></div>
                            <p>{{ x.acm_note }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Gallery -->
        <section id="gallery">
            <div class="container-fluid pos-rel pt-lg-10p pb-lg-15p pl-lg-10p pr-lg-10p">
                <div class="row"  data-toggle="modal" data-target="#galleryModal">
                    <img class="motif slideanimImage6" src="{% static 'rsvp/wedding/liam_felicia/images/motif.png' %}">
                    <div class="col-lg-4 mb-lg-20 pl-lg-10 pr-lg-10 image-item slideanimImage1">
                        <img class="img-fluid w-lg-100p" src="{{img}}{{x.gallery_image1}}" data-target="#carouselGallery" data-slide-to="0" />
                    </div>
                    <div class="col-lg-4 mb-lg-20 pl-lg-10 pr-lg-10 image-item slideanimImage2">
                        <img class="img-fluid w-lg-100p" src="{{img}}{{x.gallery_image2}}" data-target="#carouselGallery" data-slide-to="1" />
                    </div>
                    <div class="col-lg-4 mb-lg-20 pl-lg-10 pr-lg-10 image-item slideanimImage3">
                        <img class="img-fluid w-lg-100p" src="{{img}}{{x.gallery_image3}}" data-target="#carouselGallery" data-slide-to="2" />
                    </div>
                    <div class="col-lg-7 mb-lg-20 pl-lg-10 pr-lg-10 image-item slideanimImage4">
                        <img class="img-fluid w-lg-100p" src="{{img}}{{x.gallery_image4}}" data-target="#carouselGallery" data-slide-to="3" />
                    </div>
                    <div class="col-lg-5 mb-lg-20 pl-lg-10 pr-lg-10 image-item slideanimImage5">
                        <img class="img-fluid w-lg-100p" src="{{img}}{{x.gallery_image5}}" data-target="#carouselGallery" data-slide-to="4" />
                    </div>
                    <!-- Mobile Slider -->
                    <div class="col-12">
                        <div class="d-block d-lg-none">
                            <div class="one-carousel home-testimonial owl-theme">
                                <div class="item">
                                    <img class="img-fluid w-lg-100p" src="{{img}}{{x.gallery_image1}}" />
                                </div>
                                <div class="item">
                                    <img class="img-fluid w-lg-100p" src="{{img}}{{x.gallery_image2}}" />
                                </div>
                                <div class="item">
                                    <img class="img-fluid w-lg-100p" src="{{img}}{{x.gallery_image3}}" />
                                </div>
                                <div class="item">
                                    <img class="img-fluid w-lg-100p" src="{{img}}{{x.gallery_image4}}" />
                                </div>
                                <div class="item">
                                    <img class="img-fluid w-lg-100p" src="{{img}}{{x.gallery_image5}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Pop up for Slider -->
        <div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <h2 class="text-white" aria-hidden="true">&times;</h2>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                      <div class="col-lg-6 offset-lg-3">
                      <div id="carouselGallery" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-75 mx-auto" src="{{img}}{{x.gallery_image1}}" alt="First slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-75 mx-auto" src="{{img}}{{x.gallery_image2}}" alt="Second slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-75 mx-auto" src="{{img}}{{x.gallery_image3}}" alt="Third slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-75 mx-auto" src="{{img}}{{x.gallery_image4}}" alt="Third slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-75 mx-auto" src="{{img}}{{x.gallery_image5}}" alt="Third slide">
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselGallery" role="button" data-slide="prev">
                          <h3 class="carousel-control-prev-icon" aria-hidden="true"></h3>
                          <h3 class="sr-only">Previous</h3>
                        </a>
                        <a class="carousel-control-next" href="#carouselGallery" role="button" data-slide="next">
                          <h3 class="carousel-control-next-icon" aria-hidden="true"></h3>
                          <h3 class="sr-only">Next</h3>
                        </a>
                      </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- Section RSVP -->
        <section id="rsvp" class="bg-brown">
            <div class="container-fluid pt-m-30p pb-m-30p pt-lg-10p pb-lg-10p pl-lg-10p pr-lg-10p">
                <div class="row">
                    <div class="col-12 d-block d-lg-none text-center mb-m-10p">
                        <h2 class="font-white">Let us know if you are attending</h2>
                    </div>
                    <div class="col-lg-7">
                        {% include 'themes/wedding/liam_felicia/attendance.html' %}
                    </div>
                    <div class="col-lg-5 title pt-lg-10p text-center">
                        <h2 class="font-white">Let us know if you are attending</h2>
                    </div>
                </div>
            </div>
        </section>
        <!-- Modal -->
        <div class="modal fade thankyou" id="thankyou" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl p-4 px-l-g-0" role="document">
                <img class="close-modal" data-dismiss="modal" src="{% static 'rsvp/wedding/liam_felicia/images/button-close-05.png' %}" alt="">
                <div class="modal-content py-5">
                    <div class="row my-5 py-5">
                        <div class="col-lg-3 pt-lg-5 offset-lg-3">
                            <h3 class="font-maroon ml-lg-5 ml-4">
                                Thank you<br>
                                for the RSVP
                            </h3>
                        </div>
                        <div class="col-lg-4 pt-lg-5">
                            <p class="ml-lg-5 ml-4">
                                We have save your seat and sent you an<br>
                                email for your rsvp bookings. We really<br>
                                appreciate you participating in our very<br>
                                special day.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="py-lg-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10 pl-lg-5">
                        <p class="mb-lg-0">All Rights Reserved © This website is made by Reservasi Dulu</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Customize js -->
    <script>
        new WOW().init();
    </script>
    {% compress js %}
        {% include 'static/js.html' %}
        <script type="text/javascript" src="{% static 'rsvp/wedding/liam_felicia/app.js' %}"></script>
    {% endcompress %}
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>