/* Halaman Home */
.home-template .box{
    width: 100%;
    height: 227px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

/* Halaman Why Us */
#main-whyus .affordablefast .background{top: 40vh;}

.img_acc {
    height: 25vh;
    margin-bottom: 5%;
}

/* Section Category */
.landing-category .ornament-01{
    position: absolute;
    top: 15%;
    left: 10%;
}
.landing-category .ornament-02{
    position: absolute;
    top: 7%;
    right: 10%;
}
.landing-category .button-orange,
.landing-freetemplates .button-orange,
.landing-suggest .button-orange{
    display: inline-block;
    margin-top: 7%;
    width: 300px;
}
.landing-category .button-orange p,
.landing-freetemplates .button-orange p,
.landing-suggest .button-orange p{
    top: 20px;
    width: 230px;
}
.landing-category .button-orange img,
.landing-freetemplates .button-orange img,
.landing-suggest .button-orange img{
    width: 100%;
    height: 60px;
}
.landing-category .catwrap .catdef,
.landing-category .catwrap .cathov{height: 257px;}
/* Section Free Templates */
.landing-freetemplates .ornament-01{
    position: absolute;
    margin: 0 auto;
    top: 4%;
    left: 0;
    right: 35%;
}
.landing-freetemplates .ornament-02{
    position: absolute;
    top: 1%;
    right: 10%;
}
.landing-freetemplates .button-orange{margin-top: 3%;}
.landing-freetemplates .image{width: 82%;}
/* Section Suggest */
.landing-suggest .image{width: 100%;}
.landing-suggest .boxv{left: 13%;}
.landing-suggest .button-orange{
    margin-top: 3%;
    width: 240px;
}
.landing-suggest-image2{
    margin-top: -80px;
    width: 100%;
}

/*fuckin faq*/

/* Section Banner */
  .faq-banner .boxv.image.birthday{
    top: 45%;
    left: 15%;
    width: 34%;
  }
  .faq-banner .boxv.desc{
    top: 30%;
    right: 20%;
  }
/* Section Content */
/* Wrapper */
    .container-fluid.faq-content,
    .container-fluid.faq-content .container-fluid{overflow: unset !important;}
    .faq-content{margin-top: -30vh;}
/* Tab */
    .faq-content .nav-tabs{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .faq-content .nav-tabs li{display: inline-block;}
    .faq-content .nav-tabs li a{
        position: relative;
        padding: 15px 50px;
        font-size: 18px !important;
        color: #333333 !important;
        background: #fff;
        border: 1px solid #dee2e6;
        border-radius: 20px 20px 0 0;
        -moz-border-radius: 20px 20px 0 0;
        -webkit-border-radius: 20px 20px 0 0;
    }
    .faq-content .nav-tabs li a.active{
        font-family: "Montserrat Bold" !important;
        border-bottom: 1px solid #fff;
    }
/* Detail */
    .faq-content .tab-content{
        min-height: 50vh;
        background: #fff;
    }
/* Detail Sidemenu */
    .faq-content .tab-content .faq-sidemenu{
        position: -webkit-sticky;
        position: sticky;
        z-index: 99;
        padding: 40px 50px;
        top: 60px;
        left: 0;
        width: 90%;
        background: #f1f1f2;
        border-radius: 30px;
        -webkit-box-shadow: 3px 5px 20px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 5px 20px -10px rgba(0,0,0,0.75);
        box-shadow: 3px 5px 20px -10px rgba(0,0,0,0.75);
    }
    .faq-content .tab-content .faq-sidemenu ul{
        margin-bottom: 0;
        padding-left: 0;
        list-style-type: none;
    }
    .faq-content .tab-content .faq-sidemenu ul li{padding-bottom: 20px;}
    .faq-content .tab-content .faq-sidemenu ul li:last-child{padding-bottom: 0;}
    .faq-content .tab-content .faq-sidemenu ul li a{
        font-size: 18px !important;
        line-height: 25px;
        color: #333333;
    }
    .faq-content .tab-content .faq-sidemenu ul li a:hover{
        text-decoration: none;
        color: #f58d74;
    }
    .faq-content .tab-content .faq-target{
        position: absolute;
        z-index: -1;
        top: -5vh;
        width: 100%;
        height: 20px;
    }

    /* Detail Accordion */
    .faq-content .tab-content .faq-accordion .item{margin-bottom: 10%;}
    .faq-content .tab-content .faq-accordion .item:last-child{margin-bottom: 0;}
    .faq-content .tab-content .faq-accordion .card{
        border-left: 0;
        border-right: 0;
    }
    .faq-content .tab-content .faq-accordion .card:first-child{border-top: 2px solid rgba(0,0,0,.125);}
    .faq-content .tab-content .faq-accordion .card:last-child{border-bottom: 2px solid rgba(0,0,0,.125);}
    .faq-content .tab-content .faq-accordion .card .card-header{
        padding: 20px 0;
        background: #fff;
        border: 0;
    }
    .faq-content .tab-content .faq-accordion .card .card-header .card-link.collapsed{
        font-family: "Montserrat Regular";
        color: #333333;
        transition: .5s;
    }
    .faq-content .tab-content .faq-accordion .card .card-header .card-link,
    .faq-content .tab-content .faq-accordion .card .card-header .card-link:hover{
        font-family: "Montserrat Bold";
        font-size: 18px !important;
        color: #f58d74;
        transition: .5s;
    }
    .faq-content .tab-content .faq-accordion .card .card-body{padding: 0 0 20px;}
    .faq-content .tab-content .faq-accordion .card .card-body p:last-child{margin-bottom: 0;}
    .faq-content .tab-content .faq-accordion .card .card-body b,
    .faq-content .tab-content .faq-accordion .card .card-body strong{
        font-family: "Montserrat Bold";
        font-weight: unset;
    }
    .faq-content .tab-content .faq-accordion .card .card-body a{color: #f58d74;}
    .faq-content .tab-content .faq-accordion .card .card-body a:hover{text-decoration: underline !important;}
    .faq-content .tab-content .faq-accordion .card .card-header .card-link.collapsed:before,
    .faq-content .tab-content .faq-accordion .card .card-header .card-link.collapsed:after,
    .faq-content .tab-content .faq-accordion .card .card-header .card-link:before,
    .faq-content .tab-content .faq-accordion .card .card-header .card-link:after{
        position: absolute;
        float: right;
        content: '';
        right: 25px;
        width: 14px;
        height: 14px;
        -webkit-transform: rotate(45deg);
    }
    .faq-content .tab-content .faq-accordion .card .card-header .card-link.collapsed:before{
        top: 23px;
        background-color: #f58d74;
    }
    .faq-content .tab-content .faq-accordion .card .card-header .card-link.collapsed:after{
        top: 20px;
        background-color: #fff;
    }
    .faq-content .tab-content .faq-accordion .card .card-header .card-link:before{
        top: 30px;
        background-color: #f58d74;
    }
    .faq-content .tab-content .faq-accordion .card .card-header .card-link:after{
        top: 33px;
        background-color: #fff;
    }

    /* Login Page */
  /* Section Content */
  .reservasidulu-login .wrap,
  .reservasidulu-signup .wrap{
    background: url('/static/img/form-background.png');
    background-size: 100% 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    margin: 0 auto;
    padding: 7% 5% 4%;
    width: 60%;
    min-height: 90vh;
  }
  .reservasidulu-login .wrap form input,
  .reservasidulu-signup .wrap form input,
  .profile-content .wrap form input,
  .login-content .wrap form input{
    padding: 2%;
    height: auto;
    border: 1px solid #dadada;
  }
  .reservasidulu-login .wrap form .btn-form-orange,
  .reservasidulu-signup .wrap form .btn-form-orange{
    background: url('/static/img/button-03.png');
    margin-bottom: 10% !important;
    padding: 15px 50px;
    border: unset;
  }
  .reservasidulu-login .wrap form p a,
  .reservasidulu-signup .wrap form p a{
    font-family: "Montserrat Bold" !important;
    color: #f8b133 !important;
  }
  .reservasidulu-login .wrap form p a:hover,
  .reservasidulu-signup .wrap form p a:hover{text-decoration: underline !important;}
  .reservasidulu-login .background,
  .reservasidulu-signup .background{
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
  }
    .reservasidulu-login .ornament-01{
    position: absolute;
    top: 30vh;
    left: 7vw;
    width: 34%;
    z-index: -1;
  }
  .reservasidulu-login .ornament-02{
    position: absolute;
    bottom: 18vh;
    right: 1vw;
    width: 41%;
  }
  /* Signup Page */
  /* Section Content */
  .reservasidulu-signup form span,
  .reservasidulu-signup form span ul li{
    font-family: "Montserrat Regular";
    font-size: 12px !important;
    line-height : 24px;
    color: #939598;
  }
  .reservasidulu-signup form span{
    display: block;
    margin-bottom: 30px;
  }
  .reservasidulu-signup form span ul{padding-left: 15px;}
  .reservasidulu-signup form label,
  .reservasidulu-signup form label span{
      font-family: "Montserrat Bold";
      font-size: 18px !important;
      color: #333;
  }
  .reservasidulu-signup form label span{
      display: inline-block;
      margin: 0 0 0 1%;
  }
  .reservasidulu-signup form input{margin-bottom: 1%;}
  .reservasidulu-signup form small{margin-bottom: 5%;}
  .reservasidulu-signup form small ul{padding-left: 15px;}
  .reservasidulu-signup form small ul li{font-size: 12px !important;}
  .reservasidulu-signup .ornament-01{
    position: absolute;
    top: 30vh;
    left: 5vw;
    width: 22%;
    z-index: -1;
  }
  .reservasidulu-signup .ornament-02{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 22%;
  }
/* User */
  /* Navigation */
  #navigation.account .logo{
    display: inline-block;
    padding-top: 0;
    width: 24.7%;
  }
  #navigation.account .nav-accountlogo h5{
    display: inline-block;
    vertical-align: middle;
    margin-top: 1.2vh;
  }
  #navigation.account .nav-accountlogo .line{
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    width: 2px;
    height: 70%;
    background: #939598;
  }
  #navigation.account .nav-account .line{border-right: 2px solid #333333;}
  .navspace{padding-top: 7vw;}
  .user-navigation ul{
    margin-bottom: 0;
    padding: 3vh 0;
    list-style: none;
    border-top: 2px solid #939598;
  }
  .user-navigation ul li{
    display: inline-block;
    padding-right: 5%;
  }
  .user-navigation ul li a{
    padding-bottom: 3vh;
    font-family: "Montserrat Bold";
    color: #333333;
    border-bottom: 3px solid transparent;
  }
  .user-navigation ul li a:hover,
  .user-navigation ul li a:active,
  .user-navigation ul li a.active{border-bottom: 3px solid #f8b133;}
  .user-content h1,.user-content h2,.user-content h3,.user-content h4,.user-content h5,.user-content h6{
    font-family: "Montserrat Light" !important;
    color: #333333;
  }
  /* Profile & Login Page */
    .profile-content .wrap,
    .login-content .wrap{
      margin: 0 auto;
      width: 70%;
    }
    .profile-content .wrap .profile-picture{
      margin: 0 auto;
      max-width: 100%;
      width: 150px;
      max-height: 100%;
      height: 150px;
      border-radius: 100%;
    }
    .profile-content .wrap .btn-rectangle,
    .profile-content .wrap form .btn-whiteoutline,
    .login-content .wrap form .btn-rectangle{
      float: right;
      width: auto;
    }
    .profile-content .wrap form input,
    .login-content .wrap form input{padding: 1.5% 2%;}
    .profile-content .wrap form .btn-rectangle{margin-left: 2.5%;}
  /* My Products */
    .my-product-content .wrap{
      border-radius: .25rem;
      border: 1px solid rgba(0,0,0,.125);
    }
    .my-product-content .wrap .card{
      padding: 5%;
      background: #fff;
      border: none;
    }
    .my-product-content .wrap .card:nth-child(even){background: #f5f5f5;}
    .my-product-content .wrap .card .info{left: 5%;}
    .my-product-content .wrap .card .title{
      font-family: "Montserrat Bold";
      font-size: 24px;
    }
    .my-product-content .wrap .card .category{
      margin-bottom: 1%;
      font-family: "Montserrat Regular";
      font-size: 16px;
    }
    .my-product-content .wrap .card .date{
      font-family: "Montserrat Regular";
      font-size: 14px;
    }
    .my-product-content .wrap .card .btn-whiteoutline,
    .my-product-content .wrap .card .btn-rectangle{
      margin: 0 auto 5%;
      padding: 2%;
      width: 50%;
    }
  /* Edit Templates */
    .edit-template .card .templates-steps .nav-tabs{
      display: block;
      padding: 3% 0;
      text-align: center;
      border: none;
    }
    .edit-template .card .templates-steps .nav-tabs li{display: inline-block;}
    .edit-template .card .templates-steps .nav-tabs li a{
      position: relative;
      display: block;
      margin: 0 5px;
      width: 15px;
      height: 15px;
      background: #ededed;
      border-radius: 50%;
    }
    .edit-template .card .templates-steps .nav-tabs li.active a{background: #808285;}
    .edit-template .card .templates-steps .tab-pane .form-wrap{
      margin-bottom: 6%;
      padding: 8%;
      width: 100%;
      border-radius: .25rem;
      background: #ededed;
    }
    .edit-template .card .templates-steps .tab-pane .btn-whiteoutline,
    .edit-template .card .templates-steps .tab-pane .btn-rectangle{
      padding: 4% 2%;
      font-size: 16px !important;
    }
  /* My Guest */
    /* Header Info */
    .my-guest-content .info{margin: 3% 0;}
    .my-guest-content .info a{
      padding-bottom: 2px;
      color: #F8B133;
      border-bottom: 1px solid #F8B133;
    }
    .my-guest-content .info .header-attending{border-right: 1px solid #c6c6c6;}
    .my-guest-content .info .header-attending .num{
      font-family: "Montserrat Bold";
      font-size: 100px;
      color: #F8B133;
    }
    .my-guest-content .info .sna .submitted{
      padding-bottom: 8%;
      border-bottom: 1px solid #c6c6c6;
    }
    .my-guest-content .info .sna .notattending{padding-top: 5%;}
    .my-guest-content .info .num-sm{color: #F8B133;}
    /* Table Attending */
    .my-guest-content .table-attending .card{
      padding: 4%;
      height: 640px;
      overflow-y: auto;
    }
    .my-guest-table{margin-bottom: 0;}
    .my-guest-table thead tr th{
      font-family: "Montserrat Bold";
      font-size: 18px !important;
      font-weight: unset;
      border: none;
    }
    .my-guest-table thead tr th:first-child,
    .my-guest-table tbody tr td:first-child{
      padding-left: 0;
      width: 70px;
    }
    .my-guest-table thead tr th:last-child,
    .my-guest-table tbody tr td:last-child{
      padding-right: 0;
      width: 130px;
    }
    .my-guest-table tbody tr td{
      color: #999999;
      border-top: 1px solid #e6e7e8;
    }
    .my-guest-table tbody tr:first-child td,
    .my-guest-content .table-notattending .card .my-guest-table tbody tr:first-child td{border-top: 2px solid #939598;}
    /* Table Not Attending */
    .my-guest-content .table-notattending .card,
    .my-guest-content .table-gift .card{padding: 4%;}
    .my-guest-content .table-notattending .card .my-guest-table tbody tr td{border: none;}
    .my-guest-content .table-notattending .card .my-guest-table thead tr th:first-child,
    .my-guest-content .table-notattending .card .my-guest-table tbody tr td:first-child,
    .my-guest-content .table-gift .card .my-guest-table thead tr th:last-child,
    .my-guest-content .table-gift .card .my-guest-table tbody tr td:last-child{width: unset;}
    /* Table Gift */
    .my-guest-content .info .topgift table{width: 100%;}
    .my-guest-content .info .topgift table tr td:first-child{width: 69.1%;}
/* About Page */
  /* Section Banner */
  .about-banner .boxv.desc{
    margin: 0 auto;
    top: 40%;
    right: 0;
    left: 50%;
    width: 540px;
  }
  .about-banner .boxv.image{
    top: 50%;
    width: 44%;
  }
  /* Section Brief */
  .about-brief h4{line-height: 30px;}
  .about-brief .image{width: 94%;}
/* How To Page */
  /* Section Banner */
  .howto-banner .boxv.desc{
    top: 58%;
    left: 6%;
    right: unset;
  }
  .howto-banner .boxv.image{
    top: 55%;
    left: unset;
    right: 0;
    width: 64%;
  }
  /* Tab Navigation*/
  .tabs-howto #nav-box{
    padding-left: 0;
    list-style-type: none;
  }
  .tabs-howto #nav-box li{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 17vw;
  }
  .tabs-howto #nav-box li .wrap{
    display: inline-block;
    width: 47%;
  }
  .tabs-howto #nav-box li:last-child{width: 10vw;}
  .tabs-howto #nav-box li:last-child .wrap{width: 100%;}
  .tabs-howto #nav-box li:after{
    margin: 6vh 0 0;
    content: '';
    width: 40%;
    height: 9px;
    background: url('/static/img/howto/howto-number-line.png');
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    background-position: center;
    float: right;
  }
  .tabs-howto #nav-box li:last-child:after{display: none;}
  .tabs-howto #nav-box li .wrap .nav-tab .image{
    position: relative;
    display: inline-block;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    margin-bottom: 5%;
    width: 95px;
    height: 95px;
    cursor: pointer;
  }
  .tabs-howto #nav-box li .wrap .nav-tab .image .boxc{
    font-family: "Montserrat Bold";
    font-size: 40px;
    letter-spacing: 4px;
    color: #FFB64D;
  }
  .tabs-howto #nav-box li .wrap .nav-tab .image.color .boxc{color: #ffffff;}
  .tabs-howto #nav-box li .wrap .nav-tab .color{display: none !important;}
  .tabs-howto #nav-box li .wrap .nav-tab.active .color,
  .tabs-howto #nav-box li .wrap .nav-tab .color:hover,
  .tabs-howto #nav-box li .wrap .nav-tab .color.active{display: inline-block !important;}
  .tabs-howto #nav-box li .wrap .nav-tab.active .icon,
  .tabs-howto #nav-box li .wrap .nav-tab .icon.active{display: none !important;}
  .tabs-howto #nav-box li .desc{
    margin: 0 auto;
    width: 100px;
  }
  /* Tab Content */
  .tabs-howto .tabs .image-01{width: 73%;}
  .tabs-howto .tabs .image-02{width: 81%;}
  .tabs-howto .tabs .image-03{width: 83%;}
  .tabs-howto .tabs .image-04{width: 82%;}
  .tabs-howto .tabs .ornament-01,
  .tabs-howto .tabs .ornament-02,
  .tabs-howto .tabs .ornament-03,
  .tabs-howto .tabs .ornament-04{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }
  .tabs-howto .tabs .ornament-01{
    margin: 0 auto;
    right: 0;
    left: 45%;
    width: 65%;
  }
  .tabs-howto .tabs .ornament-02{
    top: -21vh;
    left: -19vw;
    width: 67%;
  }
  .tabs-howto .tabs .ornament-03{
    top: -16vh;
    left: -8vw;
    width: 86%;
  }
  .tabs-howto .tabs .ornament-04{
    top: -8vh;
    left: 2vw;
    width: 78%;
  }