{% extends 'base_form.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <!-- Main -->
    <div id="main-templates" class="main-account">
        <!-- Section User Navigation -->
        {% include 'shared/partials/base_form_nav.html' %}
        <!-- Section User Content -->
        <div class="container-fluid pos-rel user-content edit-template pt-lg-5p pb-lg-15p pl-lg-5p pr-lg-5p pt-m-30p pl-m-10p pr-m-10p bg-lightgrey">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="mb-lg-2p">Edit Templates</h3>
                    <div class="card">
                        <div class="container-fluid templates-steps pb-lg-10p">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                        <!-- Navigation Dots -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active">
                                                <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" aria-expanded="true"></a>
                                            </li>
                                            <li role="presentation" class="disabled">
                                                <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" aria-expanded="false"></a>
                                            </li>
                                            <li role="presentation" class="disabled">
                                                <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab"></a>
                                            </li>
                                            <li role="presentation" class="disabled">
                                                <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab"></a>
                                            </li>
                                            <li role="presentation" class="disabled">
                                                <a href="#step5" data-toggle="tab" aria-controls="step5" role="tab"></a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="main_form">
                                            <div class="tab-pane active" role="tabpanel" id="step1">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <img class="img-fluid w-lg-100p" src="{% static 'img/form-edit-template/event/Screenshot-Event-ChristmasDinner-01.png' %}" alt="reservasidulu" />
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <div class="form-wrap">
                                                                <h5 class="mb-lg-4p"><b>Main Info</b></h5>
                                                                <label>Theme</label>
                                                                    <input type="text" name="theme" class="form-control" placeholder="Christmas Jolly" disabled />
                                                                <label>Site URL*</label>
                                                                    {{ form.site_url }}
                                                                <label>Site Title*</label>
                                                                    {{ form.title }}
                                                                <label>Logo*</label>
                                                                    {{ form.img_logo }}
                                                                <label>Name*</label>
                                                                    {{ form.name }}
                                                                <label>Hastag*</label>
                                                                    {{ form.hashtag }}
                                                            </div>
                                                            <a class="btn-rectangle next-step">Next Step</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" role="tabpanel" id="step2">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <img class="img-fluid w-lg-100p" src="{% static 'img/form-edit-template/event/Screenshot-Event-ChristmasDinner-02.png' %}" alt="reservasidulu" />
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <div class="form-wrap">
                                                                <h5 class="mb-lg-4p"><b>Header</b></h5>
                                                                <label>Title 1*</label>
                                                                    {{ form.banner_title }}
                                                                <label>Sub Title*</label>
                                                                    {{ form.about_subtitle }}
                                                                <label>Title 2*</label>
                                                                    {{ form.about_title }}
                                                                <label>Background*</label>
                                                                    {{ form.about_bg }}
                                                            </div>
                                                            <a class="btn-whiteoutline prev-step mb-lg-4p">Previous Step</a>
                                                            <a class="btn-rectangle next-step">Next Step</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" role="tabpanel" id="step3">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <img class="img-fluid w-lg-100p" src="{% static 'img/form-edit-template/event/Screenshot-Event-ChristmasDinner-03.png' %}" alt="reservasidulu" />
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <div class="form-wrap">
                                                                <h5 class="mb-lg-4p"><b>Date, Time, and Place</b></h5>
                                                                <label>Day*</label>
                                                                    {{ form.dap_day }}
                                                                <label>Date*</label>
                                                                    {{ form.dap_date }}
                                                                <label>Time*</label>
                                                                    {{ form.dap_time }}
                                                                <label>Place*</label>
                                                                    {{ form.dap_place }}
                                                                <label>Address*</label>
                                                                    {{ form.dap_address }}
                                                                <label>Contact*</label>
                                                                    {{ form.dap_contact }}
                                                                <label>Dresscode*</label>
                                                                    {{ form.dap_dress }}
                                                                <label>Things*</label>
                                                                    {{ form.dap_things }}
                                                                <label>Maps*</label>
                                                                    {{ form.dap_maps }}
                                                            </div>
                                                            <a class="btn-whiteoutline prev-step mb-lg-4p">Previous Step</a>
                                                            <a class="btn-rectangle next-step">Next Step</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" role="tabpanel" id="step4">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <img class="img-fluid w-lg-100p" src="{% static 'img/form-edit-template/event/Screenshot-Event-ChristmasDinner-04.png' %}" alt="reservasidulu" />
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <div class="form-wrap">
                                                                <h5 class="mb-lg-4p"><b>Rundown</b></h5>
                                                                <label>Time 1*</label>
                                                                    {{ form.rundown_time1 }}
                                                                <label>Event 1*</label>
                                                                    {{ form.rundown_event1 }}
                                                                <label>Time 2*</label>
                                                                    {{ form.rundown_time2 }}
                                                                <label>Event 2*</label>
                                                                    {{ form.rundown_event2 }}
                                                                <label>Time 3*</label>
                                                                    {{ form.rundown_time3 }}
                                                                <label>Event 3*</label>
                                                                    {{ form.rundown_event3 }}
                                                                <label>Time 4*</label>
                                                                    {{ form.rundown_time4 }}
                                                                <label>Event 4*</label>
                                                                    {{ form.rundown_event4 }}
                                                                <label>Time 5*</label>
                                                                    {{ form.rundown_time5 }}
                                                                <label>Event 5*</label>
                                                                    {{ form.rundown_event5 }}
                                                                <label>Time 6*</label>
                                                                    {{ form.rundown_time6 }}
                                                                <label>Event 6*</label>
                                                                    {{ form.rundown_event6 }}
                                                            </div>
                                                            <a class="btn-whiteoutline prev-step mb-lg-4p">Previous Step</a>
                                                            <a class="btn-rectangle next-step">Next Step</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" role="tabpanel" id="step5">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <img class="img-fluid w-lg-100p" src="{% static 'img/form-edit-template/event/Screenshot-Event-ChristmasDinner-05.png' %}" alt="reservasidulu" />
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <div class="form-wrap">
                                                                <h5 class="mb-lg-4p"><b>RSVP</b></h5>
                                                                <label>Invitation PDF*</label>
                                                                    {{ form.inv_pdf }}
                                                            </div>
                                                            <a class="btn-whiteoutline prev-step mb-lg-4p">Previous Step</a>
                                                            <button type="submit" class="btn-rectangle">Preview Website</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-lg-100p h-lg-115vh bg-lightgrey"></div>
    </div>

{% endblock %}