{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Event | Homepage</title>
    <link rel="shortcut icon" href="{% static 'rsvp/event/christmas_dinner/images/ico.ico' %}">
    <!-- Customize css -->
    <link rel="stylesheet" href="{% static 'features/animatecss/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/assets/owl.theme.default.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rsvp/event/christmas_dinner/style-event-7.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target="#navbar-example" data-offset="1">
    <!-- Preview Navigation -->
    {% include 'themes/poni.html' %}
    
    <!-- Main Site -->
    <div id="homepage" class="pos-rel">
        <!-- Navbar -->
        <nav>
            <div data-aos="fade-left" class="container-fluid">
                <div class="row">
                    <nav class="menu" id="navbar-example">
                        <ul class="list-unstyled">
                            <li class="mx-4">
                                <a href="#banner" class="nav-link active">
                                    <div class="dot"></div>
                                </a>
                            </li>
                            <li class="mx-4">
                                <a href="#about" class="nav-link">
                                    <div class="dot"></div>
                                </a>
                            </li>
                            <li class="mx-4">
                                <a href="#dateandplace" class="nav-link">
                                    <div class="dot"></div>
                                </a>
                            </li>
                            <li class="mx-4">
                                <a href="#rsvp" class="nav-link">
                                    <div class="dot"></div>
                                </a>
                            </li>
                            <li class="mx-4">
                                <a href="#brief" class="nav-link">
                                    <div class="dot"></div>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </nav>
        <!-- Section Banner -->
        <section data-aos="zoom-out" id="banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pl-lg-0 pr-lg-0">
                        <img class="img-fluid banner-bg w-lg-100p" src="{% static 'rsvp/event/christmas_dinner/images/background-01.jpg' %}" />
                        <img class="img-fluid ornament1" src="{% static 'rsvp/event/christmas_dinner/images/ornament-01.png' %}" />
                        <img class="img-fluid ornament2" src="{% static 'rsvp/event/christmas_dinner/images/ornament-02.png' %}" />
                        <img class="img-fluid boxc ornament3" src="{% static 'rsvp/event/christmas_dinner/images/ornament-03.png' %}" />
                        <img class="img-fluid ornament4" src="{% static 'rsvp/event/christmas_dinner/images/ornament-04.png' %}" />
                        <img class="img-fluid ornament5 d-none d-lg-block" src="{% static 'rsvp/event/christmas_dinner/images/ornament-05.png' %}" />
                        <div class="boxc w-m-100p w-lg-40p text-center">
                            <h3 data-aos="fade-down" class="mb-lg-5p">YOU’RE INVITED TO A</h3>
                            <h1 data-aos="fade-up" data-aos-offset="-200" class="mb-lg-5p">
                                Holly<br />
                                Jolly
                            </h1>
                            <h5 class="mb-m-5p mb-lg-10p">{{ x.banner_title }}</h5>
                            <img class="img-fluid logo" src="{{ x.img_logo.url }}" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section About -->
        <section id="about">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pl-lg-0 pr-lg-0">
                        <img class="img-fluid images w-lg-100p" src="{{ x.about_bg.url }}" />
                        <img class="img-fluid ornament1" src="{% static 'rsvp/event/christmas_dinner/images/ornament-06.png' %}" />
                        <img class="img-fluid ornament2 d-block d-lg-none" src="{% static 'rsvp/event/christmas_dinner/images/ornament-05.png' %}" />
                        <div class="wrap">
                            <div data-aos="fade-left">
                                <h6>{{ x.about_subtitle }}</h6>
                                <h2>{{ x.about_title }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Date & Place -->
        <section id="dateandplace">
            <div class="container-fluid">
                <div class="row">
                    <div class="order-2 order-lg-1 col-lg-5 pt-m-0 pb-m-10p pl-m-10p pr-m-10p pt-lg-14p pb-lg-10p pl-lg-10p pr-lg-0">
                        <img class="img-fluid ornament2 d-none d-lg-block" src="{% static 'rsvp/event/christmas_dinner/images/ornament-08.png' %}" />
                        <img class="img-fluid ornament2 d-block d-lg-none" src="{% static 'rsvp/event/christmas_dinner/images/mobile-ornament-08.png' %}" />
                        <div class="line-brown w-lg-100p"></div>
                        <table>
                            <tr data-aos="fade-right">
                                <td>
                                    <img class="img-fluid icon" src="{% static 'rsvp/event/christmas_dinner/images/icon-01.png' %}" />
                                </td>
                                <td>
                                    <h4>{{ x.dap_place }}</h4>
                                    <p>
                                        {{ x.dap_address }}
                                    </p>
                                </td>
                            </tr>
                            <tr data-aos="fade-right">
                                <td>
                                    <img class="img-fluid icon" src="{% static 'rsvp/event/christmas_dinner/images/icon-02.png' %}" />
                                </td>
                                <td>
                                    <h4>Contact Person</h4>
                                    {{ x.dap_contact }}
                                </td>
                            </tr>
                            <tr data-aos="fade-right">
                                <td>
                                    <img class="img-fluid icon" src="{% static 'rsvp/event/christmas_dinner/images/icon-03.png' %}" />
                                </td>
                                <td>
                                    <h4>Casual dresscode</h4>
                                    <p>{{ x.dap_dress }}</p>
                                </td>
                            </tr>
                            <tr data-aos="fade-right">
                                <td>
                                    <img class="img-fluid icon" src="{% static 'rsvp/event/christmas_dinner/images/icon-04.png' %}" />
                                </td>
                                <td>
                                    <h4>Things to bring</h4>
                                    {{ x.dap_things }}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="order-1 order-lg-2 col-lg-7 mtext-right pt-m-20p pb-m-0 pl-m-10p pr-m-10p pt-lg-5p pb-lg-10p pl-lg-5p pr-lg-0">
                        <img class="img-fluid ornament1" src="{% static 'rsvp/event/christmas_dinner/images/ornament-07.png' %}" />
                        <h3 data-aos="fade-right">
                            {{ x.dap_day }},<br />
                            {{ x.dap_date }}
                        </h3>
                        <h4 data-aos="fade-right" class="mb-lg-10p">{{ x.dap_time }}</h4>
                        {{ x.dap_maps }}
                        {#<iframe data-aos="fade-left" class="w-lg-100p" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.9124709603684!2d106.91104641476866!3d-6.1424589955526585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f5399cc6c7cf%3A0x307d9c18493c483c!2sRoyal%20Gading%20Mansion%20Prumahan%20RG%205%2F2!5e0!3m2!1sid!2sid!4v1592981529595!5m2!1sid!2sid" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>#}
                    </div>
                </div>
            </div>
        </section>
        <!-- Section RSVP -->
        <section id="rsvp">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pt-m-20p pb-m-20p pl-m-0 pr-m-0 pt-lg-10p pb-lg-10p pl-lg-10p pr-lg-10p">
                        <img class="img-fluid background" src="{% static 'rsvp/event/christmas_dinner/images/background-02.jpg' %}" />
                        <img class="img-fluid ornament1" src="{% static 'rsvp/event/christmas_dinner/images/ornament-09.png' %}" />
                        <h3 class="pl-m-10p pr-m-10p mb-lg-3p">Rundown</h3>
                        <div data-aos="fade-up" class="wrap">
                            <ul class="timeline">
                                <li class="timeline-item" data-date="{{ x.rundown_time1 }}">
                                    <div class="hide"></div>
                                    {{ x.rundown_event1 }}
                                </li>
                                <li class="timeline-item" data-date="{{ x.rundown_time2 }}">
                                    <div class="hide"></div>
                                    {{ x.rundown_event2 }}
                                </li>
                                <li class="timeline-item" data-date="{{ x.rundown_time3 }}">
                                    <div class="hide"></div>
                                    {{ x.rundown_event3 }}
                                </li>
                                <li class="timeline-item" data-date="{{ x.rundown_time4 }}">
                                    <div class="hide"></div>
                                    {{ x.rundown_event4 }}
                                </li>
                                <li class="timeline-item" data-date="{{ x.rundown_time5 }}">
                                    <div class="hide"></div>
                                    {{ x.rundown_event5 }}
                                </li>
                                <li class="timeline-item" data-date="{{ x.rundown_time6 }}">
                                    <div class="hide"></div>
                                    {{ x.rundown_event6 }}
                                </li>
                            </ul>
                        </div>
                        <div data-aos="fade-right" class="form-rsvp">
                            <h3>
                                We can’t wait to 
                                celebrate with you!
                            </h3>
                            <div class="line-white mb-lg-15p"></div>
                            {% include 'themes/event/christmas_dinner/attendance.html' %}
                        </div>
                    </div>
                </div>
            </div>            
            <div class="modal fade" id="ebrochure">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 pl-lg-0 pr-lg-0">
                                    <a class="close" data-dismiss="modal">
                                        <img class="img-fluid" src="{% static 'rsvp/event/christmas_dinner/images/close.png' %}" />
                                    </a>
                                    <img class="img-fluid popup-bg w-lg-100p bs d-none d-lg-block" src="{% static 'rsvp/event/christmas_dinner/images/background-04.png' %}" />
                                    <img class="img-fluid popup-bg w-lg-100p bs d-block d-lg-none" src="{% static 'rsvp/event/christmas_dinner/images/background-05.png' %}" />
                                    <div class="boxc">
                                        <div class="wraptitle">
                                            <div class="title pt-lg-5p">Thank</div>
                                            <div class="title text-right pb-m-50 pb-lg-70 pr-lg-5p">you!</div>
                                        </div>
                                        <div class="subtitle">FOR LETTING US KNOW</div>
                                        <div class="line-yellow"></div>
                                        <p class="mb-lg-0">
                                            We will surely take notes of your attendance and drop you an email for further notice.
                                        </p>
                                    </div>
                                    <img class="img-fluid ornament1" src="{% static 'rsvp/event/christmas_dinner/images/ornament-12.png' %}" />
                                    <img class="img-fluid ornament2" src="{% static 'rsvp/event/christmas_dinner/images/ornament-13.png' %}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Brief -->
        <section id="brief">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pl-lg-0 pr-lg-0">
                        <img class="img-fluid brief-bg w-lg-100p" src="{% static 'rsvp/event/christmas_dinner/images/background-03.jpg' %}" />
                        <img class="img-fluid boxc ornament1" src="{% static 'rsvp/event/christmas_dinner/images/ornament-10.png' %}" />
                        <img class="img-fluid ornament2" src="{% static 'rsvp/event/christmas_dinner/images/ornament-11.png' %}" />
                        <div class="boxc text-center">
                            <h3 data-aos="fade-right">• Let’s celebrate the joyful of Christmas •</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer>
            <div class="container-fluid pt-m-10p pb-m-10p pl-m-15p pr-m-15p pt-lg-3p pb-lg-3p pl-lg-15p pr-lg-15p">
                <div class="row">
                    <div class="col-12 mb-m-5p mtext-center col-lg-8">
                        <p>All Rights Reserved © This website is made by <b>Reservasi Dulu</b></p>
                    </div>                
                    <div class="col-12 mtext-center col-lg-4 text-right">
                        <a href="" class="button-footer">Create a Site</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Customize js -->
    <script>
        new WOW().init();
    </script>
    {% compress js %}
        {% include 'static/js.html' %}
        <script type="text/javascript" src="{% static 'rsvp/event/christmas_dinner/app.js' %}"></script>
    {% endcompress %}
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>