{% extends 'base_form.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <!-- Main -->
    <div id="main-templates" class="main-account">
        <!-- Section User Navigation -->
        {% include 'shared/partials/base_form_nav.html' %}
        <!-- Section User Content -->
        <div class="container-fluid pos-rel user-content edit-template pt-lg-5p pb-lg-15p pl-lg-5p pr-lg-5p pt-m-30p pl-m-10p pr-m-10p bg-lightgrey">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="mb-lg-2p">Editing {{ form.title }}</h3>
                    <div class="card">
                        <div class="container-fluid templates-steps pb-lg-10p">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                        <!-- Navigation Dots -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active">
                                                <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" aria-expanded="true"></a>
                                            </li>
                                            <li role="presentation" class="disabled">
                                                <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" aria-expanded="false"></a>
                                            </li>
                                            <li role="presentation" class="disabled">
                                                <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab"></a>
                                            </li>
                                            <li role="presentation" class="disabled">
                                                <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab"></a>
                                            </li>
                                            <li role="presentation" class="disabled">
                                                <a href="#step5" data-toggle="tab" aria-controls="step5" role="tab"></a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="main_form">
                                            <div class="tab-pane active" role="tabpanel" id="step1">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <img class="img-fluid w-lg-100p" src="{% static 'img/form-edit-template/event/Screenshot-Event-ChristmasDinner-01.png' %}" alt="reservasidulu" />
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <div class="form-wrap">
                                                                <h5 class="mb-lg-4p"><b>Main Info</b></h5>
                                                                <label>Theme</label>
                                                                <input type="text" name="theme" class="form-control" placeholder="Christmas Jolly" disabled />
                                                                <label>Site URL*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.site_url }}" required>
                                                                <label>Site Title*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.title }}" required>
                                                                <label>Logo*</label>
                                                                <input type="file" id="fname" name="fname" value="{{ form.img_logo }}" required>
                                                                <label>Name*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.name }}" required>
                                                                <label>Hastag*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.hashtag }}" required>
                                                            </div>
                                                            <a class="btn-rectangle next-step">Next Step</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" role="tabpanel" id="step2">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <img class="img-fluid w-lg-100p" src="{% static 'img/form-edit-template/event/Screenshot-Event-ChristmasDinner-02.png' %}" alt="reservasidulu" />
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <div class="form-wrap">
                                                                <h5 class="mb-lg-4p"><b>Header</b></h5>
                                                                <label>Title 1*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.banner_title }}" required>
                                                                <label>Sub Title*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.about_subtitle }}" required>
                                                                <label>Title 2*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.about_title }}" required>
                                                                <label>Background*</label>
                                                                <input type="file" id="fname" name="fname" value="{{ form.about_bg }}" required>
                                                            </div>
                                                            <a class="btn-whiteoutline prev-step mb-lg-4p">Previous Step</a>
                                                            <a class="btn-rectangle next-step">Next Step</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" role="tabpanel" id="step3">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <img class="img-fluid w-lg-100p" src="{% static 'img/form-edit-template/event/Screenshot-Event-ChristmasDinner-03.png' %}" alt="reservasidulu" />
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <div class="form-wrap">
                                                                <h5 class="mb-lg-4p"><b>Date, Time, and Place</b></h5>
                                                                <label>Day*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.dap_day }}" required>
                                                                <label>Date*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.dap_date }}" required>
                                                                <label>Time*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.dap_time }}" required>
                                                                <label>Place*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.dap_place }}" required>
                                                                <label>Address*</label>
                                                                <textarea id="fname" name="fname" cols="40" rows="10" required>{{ form.dap_address }}</textarea>
                                                                <label>Contact*</label>
                                                                <textarea id="fname" name="fname" cols="40" rows="10" required>{{ form.dap_contact }}</textarea>
                                                                <label>Dresscode*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.dap_dress }}" required>
                                                                <label>Things*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.dap_things }}" required>
                                                                <label>Maps*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.dap_maps }}" required>
                                                            </div>
                                                            <a class="btn-whiteoutline prev-step mb-lg-4p">Previous Step</a>
                                                            <a class="btn-rectangle next-step">Next Step</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" role="tabpanel" id="step4">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <img class="img-fluid w-lg-100p" src="{% static 'img/form-edit-template/event/Screenshot-Event-ChristmasDinner-04.png' %}" alt="reservasidulu" />
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <div class="form-wrap">
                                                                <h5 class="mb-lg-4p"><b>Rundown</b></h5>
                                                                <label>Time 1*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.rundown_time1 }}" required>
                                                                <label>Event 1*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.rundown_event1 }}" required>
                                                                <label>Time 2*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.rundown_time2 }}" required>
                                                                <label>Event 2*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.rundown_event2 }}" required>
                                                                <label>Time 3*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.rundown_time3 }}" required>
                                                                <label>Event 3*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.rundown_event3 }}" required>
                                                                <label>Time 4*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.rundown_time4 }}" required>
                                                                <label>Event 4*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.rundown_event4 }}" required>
                                                                <label>Time 5*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.rundown_time5 }}" required>
                                                                <label>Event 5*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.rundown_event5 }}" required>
                                                                <label>Time 6*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.rundown_time6 }}" required>
                                                                <label>Event 6*</label>
                                                                <input type="text" id="fname" name="fname" value="{{ form.rundown_event6 }}" required>
                                                            </div>
                                                            <a class="btn-whiteoutline prev-step mb-lg-4p">Previous Step</a>
                                                            <a class="btn-rectangle next-step">Next Step</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" role="tabpanel" id="step5">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <img class="img-fluid w-lg-100p" src="{% static 'img/form-edit-template/event/Screenshot-Event-ChristmasDinner-05.png' %}" alt="reservasidulu" />
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <div class="form-wrap">
                                                                <h5 class="mb-lg-4p"><b>RSVP</b></h5>
                                                                <label>Invitation PDF*</label>
                                                                <input type="file" id="fname" name="fname" value="{{ form.inv_pdf }}" required>
                                                            </div>
                                                            <a class="btn-whiteoutline prev-step mb-lg-4p">Previous Step</a>
                                                            <button type="submit" class="btn-rectangle">Preview Website</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-lg-100p h-lg-115vh bg-lightgrey"></div>
    </div>

{% endblock %}