{% load static %}
{% load compress %}

<form method="post" enctype="multipart/form-data">
{% csrf_token %}
    <table>
        <tr>
            <td><label>Are you attending? *</label></td>
            <td>
                {{ form_class.check }}
            </td>
        </tr>
        <tr>
            <td><label>Full Name *</label></td>
            <td>{{ form_class.name }}</td>
        </tr>
        <tr>
            <td><label>Email *</label></td>
            <td>{{ form_class.email }}</td>
        </tr>
        <tr>
            <td><label>Phone number *</label></td>
            <td>{{ form_class.phone }}</td>
        </tr>
        <tr>
            <td><label>Additional guest *</label></td>
            <td>
                <a role="button" id="step-decrement" class="btn btn-default" aria-label="remove 1" aria-labelledby="step-decrement label-text">
                    <i class="fa fa-caret-left font-green"></i>
                </a>
                <input class=" text-center" disabled type="number" name="your-guest" id="spinner" value="1" aria-live="polite" tabindex="-1" aria-labelledby="label-text">
                <a role="button" id="step-increment" class="btn btn-default" aria-label="add 1" aria-labelledby="step-increment label-text">
                    <i class="fa fa-caret-right font-green"></i>
                </a>
            </td>
        </tr>
    </table>
    <div class="row w-lg-90p pl-lg-15 pr-lg-15">
        <div class="order-3 order-lg-1 col-lg-5 pl-lg-0 pr-lg-0 mtext-center text-left">
            <a class="button-default bs" target="_blank" href="{{ x.inv_pdf.url }}">DOWNLOAD INVITATION</a>
        </div>
        <div class="order-2 order-lg-2 col-lg-4 pl-lg-0 pr-lg-0 text-center d-none">
            <a href="wishlist.html" class="button-default bs pl-lg-30 pr-lg-30">SEE WISHLIST</a>
        </div>
        <div class="order-1 order-lg-3 col-lg-3 pl-lg-0 pr-lg-0 mtext-center text-right">
            <button type="submit" class="button-pink bs ma-m" data-toggle="modal" data-target="#ebrochure">SUBMIT</button>
            <!-- Popup Wishlist -->
            <div class="modal fade" id="ebrochure">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 pl-lg-0 pr-lg-0">
                                    <img class="img-fluid d-none d-lg-block w-lg-100p" src="{% static 'rsvp/birthday/diana_ross/images/popup-01.png' %}" />
                                    <img class="img-fluid d-block d-lg-none w-lg-100p" src="{% static 'rsvp/birthday/diana_ross/images/popup-02.png' %}" />
                                    <div class="boxc">
                                        <h2 class="font-yellow mb-lg-5p">
                                            <span>SEE YOU</span><br />
                                            AT THE CELEBRATION
                                        </h2>
                                        <p>
                                            Your presence on my celebration means a lot<br>
                                            to me and my family. Cannot wait to see you<br>
                                            there! Don’t forget to select the gift you may<br>
                                            give from my wishlist, so others will not need<br>
                                            to give the same gift as you.
                                        </p>
                                        <p>Love, Diana Ross</p>
                                        <div class="row wrap-button">
                                            <a href="wishlist.html" class="button-yellow">GIFT<br>WISHLIST</a>
                                            <a class="button-wishlist" class="close" data-dismiss="modal">CLOSE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>