{% extends 'base_form.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
            <div class="tab-pane" role="tabpanel" id="step6">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-7">
                            <img class="img-fluid w-lg-100p" src="{% static 'img/form-edit-template/birthday/wishlist-christine.png' %}" alt="reservasidulu" />
                        </div>
                        <div class="col-lg-5">
                            <div class="form-wrap">
                                <h5 class="mb-lg-4p"><b>Wish List</b></h5>
                                <label>Wishlist Name*</label>
                                    {{ form.wishlist_name }}
                                <label>Wishlist Image*</label>
                                    {{ form.wishlist_img }}
                            </div>
                            <a class="btn-whiteoutline prev-step mb-lg-4p">Previous Step</a>
                            <button type="submit" class="btn-rectangle">Preview Website</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
