{% load static %}
{% load compress %}

<form method="post" enctype="multipart/form-data">
{% csrf_token %}
    <table>
        <tr>
            <td><label>Are You Attending? *</label></td>
            <td>
                {{ form_class.check }}
            </td>
        </tr>
        <tr>
            <td><label>Full Name *</label></td>
            <td>{{ form_class.name }}</td>
        </tr>
        <tr>
            <td><label>Email *</label></td>
            <td>{{ form_class.email }}</td>
        </tr>
        <tr>
            <td><label>Phone Number *</label></td>
            <td>{{ form_class.phone }}</td>
        </tr>
        <tr>
            <td><label>Additional Guest *<br />(Max 5)</label></td>
            <td>
                <div class="guest input-number-arrow w-lg-100p mb-lg-4p">
                    <a role="button" id="step-decrement" class="btn btn-default" aria-label="remove 1" aria-labelledby="step-decrement label-text">
                        <img class="img-fluid" src="{% static 'img/templates-button/buttons_JackJane-01.png' %}" />
                    </a>
                    <input class="form-control text-center" type="number" name="your-guest" id="spinner" value="1" placeholder="1" aria-live="polite" tabindex="-1" aria-labelledby="label-text" min="1" max="5">
                    <a role="button" id="step-increment" class="btn btn-default" aria-label="add 1" aria-labelledby="step-increment label-text">
                        <img class="img-fluid" src="{% static 'img/templates-button/buttons_JackJane-02.png' %}" />
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td></td><td class="text-right">
                {#<a class="button-download" target="_blank" href="{{ x.inv_pdf.url }}" download="{{ x.inv_pdf.url }}">Download Invitation</a>#}
                <input type="submit" class="button-green bs" data-toggle="modal" data-target="#thankyou" value="SUBMIT" />
            </td>
        </tr>
    </table>
    <input type="submit" class="button-green w-m-100p bs d-block d-lg-none" data-toggle="modal" data-target="#thankyou" value="SUBMIT" />
    {#<a class="button-download d-block d-lg-none" target="_blank" href="{{ x.inv_pdf.url }}" download="{{ x.inv_pdf.url }}">Download Invitation</a>#}
</form>