{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Template Free | Homepage</title>
    <link rel="shortcut icon" href="{% static 'rsvp/free/natasha_bruce/images/ico.ico' %}">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/animation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rsvp/free/natasha_bruce/style-birthday-1.css' %}">
    <link rel="stylesheet" href="{% static 'features/animatecss/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/assets/owl.theme.default.min.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <!-- Preview Navigation -->
    {% include 'themes/poni.html' %}
    
    <!-- Main Site -->
    <div class="container-fluid trial-wedding-1">
        <div class="row">
            <div class="col-lg-5 pl-5  d-none d-lg-flex">
                <img class="img-fluid mb-5 pl-4" src="{{ x.image.url }}" alt="franz ferdinand">
            </div>
            <div class="col-lg-12 d-lg-none">
                <div class="row">
                    <div class="col-lg-12 text-center pt-5">
                        <h3 class="text-dgreen">
                            {{ x.name_groom }} & {{ x.name_bride }}
                        </h3>
                        <p class="text-gray">
                            invite you to
                        </p>
                    </div>
                    <div class="col-lg-12 pr-0 text-right">
                        <img src="{{ x.image_mobile.url }}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 px-5 mb-lg-5p pb-lg-0 pb-5">
                <div class="row mt-5">
                    <div class="carousel-free owl-theme">
                        <div class="item">
                            <div class="col-lg-12 py-4">
                                <p class="text-gray">
                                    Wedding Ceremony
                                </p>
                                <h3 class="text-gray font-oswald-extralight mb-4">
                                    {{ x.vc_place }}
                                </h3>
                                <p class="font-montserrat-bold text-gray">
                                    <strong>
                                        {{ x.vc_date }}<br>
                                        {{ x.vc_time }}
                                    </strong>
                                </p>
                                <p class="text-gray">
                                    {{ x.vc_brief }}
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-lg-12 py-4">
                                <p class="text-gray">
                                    Wedding Reception
                                </p>
                                <h3 class="text-gray font-oswald-extralight mb-4">
                                    {{ x.vr_place }}
                                </h3>
                                <p class="font-montserrat-bold text-gray">
                                    <strong>
                                        {{ x.vr_date }}<br>
                                        {{ x.vr_time }}
                                    </strong>
                                </p>
                                <p class="text-gray">
                                    {{ x.vr_brief }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-lg-12">
                        <p class="text-gray">
                            Fill in the list below <strong> IF </strong> you are attending
                        </p>
                    </div>
                </div>
                {% include 'themes/free/natasha_bruce/attendance.html' %}
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content pt-5  thank-you">
                        <div class="col-lg-12 py-5">
                        <p class="text-gray font-weight-bold text-center mb-0">
                            THANK YOU FOR SUBMITTING YOUR RSVP
                        </p>
                        <h1 class="text-yellow text-center mb-4">
                            WE’LL LOOK FORWARD<br>
                            TO SEE YOU!
                        </h1>
                        <img class="mx-auto d-block my-4" src="{% static 'rsvp/wedding/natasha_bruce/images/horizontal-line-pop-up-08.png' %}">
                        <p class="text-gray w-lg-30p mx-auto text-center">
                            We have save your seat and sent you an email for your rsvp bookings. We really appreciate you participating in our very special day.
                        </p>
                        <div class="text-center pt-4">
                            <a href="#" class="button-border-cyan mx-auto" data-dismiss="modal">
                                CLOSE
                            </a>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-cyan footer">
        <div class="row">
            <div class="col-lg-10 text-left pl-lg-5 order-lg-1 order-2">
                <p class="mb-0 text-white mt-lg-4">
                    All Rights Reserved © This website is made by <span class="font-weight-bold">Reservasi Dulu</span>
                </p>
            </div>
            <div class="col-lg-2 order-lg-2 order-1 text-center">
                 <a class="button-border-white my-lg-3 mt-3 d-inline-block" href="#">Create a Site</a>
            </div>
        </div>
    </div>

    <!-- Customize js -->
    <script>
        new WOW().init();
    </script>
    {% compress js %}
        {% include 'static/js.html' %}
        <script type="text/javascript" src="{% static 'rsvp/free/natasha_bruce/app.js' %}"></script>
    {% endcompress %}
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>