{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Event | Homepage</title>
    <link rel="shortcut icon" href="{% static 'rsvp/event/music/images/ico.ico' %}">
    <!-- Customize css -->
    <link rel="stylesheet" href="{% static 'features/animatecss/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/assets/owl.theme.default.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rsvp/event/music/style_event_8.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target="#navbar-example" data-offset="1">
    <!-- Preview Navigation -->
    {% include 'themes/poni.html' %}
    
    <!-- Main Site -->
        <div data-aos="fade-up" class="nav-event container-fluid">
            <div class="row d-none d-lg-flex mr-5">
                <div class="col-lg-12 text-center">
                    <ul class="list-unstyled">
                        <li class="mx-3">
                            <a href="#about" class="nav-link my-5 active">
                                HOME
                            </a>
                        </li>
                        <li class="mx-3">
                            <a href="#lineup" class="nav-link my-5">
                                LINEUP
                            </a>
                        </li>
                        <li class="mx-3">
                            <a href="#tickets" class="nav-link my-5">
                                TICKETS
                            </a>
                        </li>
                        <li class="mx-3">
                            <a href="#updates" class="nav-link my-5">
                                UPDATES
                            </a>
                        </li>
                        <li class="mx-3">
                            <a href="#venue" class="nav-link my-5">
                                VENUE
                            </a>
                        </li>
                        <li class="mx-3">
                            <a href="#about" class="nav-link my-5">
                                ABOUT US
                            </a>
                        </li>
                        <li class="mx-3">
                            <a href="#sponsors" class="nav-link my-5">
                                SPONSORS
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row d-lg-none">
                <div class="col-2 offset-10 text-center pr-4 pt-3">
                    <div class="menu-icon">
                        <img class="img-fluid" src="{% static 'rsvp/event/music/images/menu-icon-07.png' %}">
                    </div>
                </div>
                <div class="side-menu text-center">
                    <h1 class="text-right m-4 close-div text-white">
                        &times;
                    </h1>
                    <ul class="list-unstyled text-center">
                        <li class="mx-4 my-4">
                            <a class="nav-link py-2 active" href="#about">
                                HOME
                            </a>
                        </li>
                        <li class="mx-4 my-4">
                            <a class="nav-link py-2" href="#lineup">
                               LINEUP
                            </a>
                        </li>
                        <li class="mx-4 my-4">
                            <a class="nav-link py-2" href="#tickets">
                                TICKETS
                            </a>
                        </li>
                        <li class="mx-4 my-4">
                            <a class="nav-link py-2" href="#updates">
                                UPDATES
                            </a>
                        </li>
                        <li class="mx-4 my-4">
                            <a class="nav-link py-2" href="#venue">
                                VENUE
                            </a>
                        </li>
                        <li class="mx-4 my-4">
                            <a class="nav-link py-2" href="#about">
                                ABOUT US
                            </a>
                        </li>
                        <li class="mx-4 my-4">
                            <a class="nav-link py-2" href="#sponsors">
                                SPONSORS
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <div data-aos="zoom-out" class="container-fluid header" id="home">
        <div class="row">
            <div class="col-lg-12 content-header">
                <div class="content text-center">
                    <img data-aos="fade-up" class="d-block mx-auto my-2 logo-ismaya" src="{{ x.banner_logo1.url }}">
                    <img data-aos="fade-down" class="d-block mx-auto logo-sountopia" src="{{ x.banner_logo2.url }}">
                    <p data-aos="zoom-out" data-aos-offset="-350" class="d-block mx-auto text-white font-montserrat-semibold my-3">
                        {{ x.banner_at }} {{ x.banner_room }}  <span class="mx-2">|</span>  {{ x.banner_date }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid videos bg-light-cream">
        <div class="row wrap-videos px-2 px-lg-0">
            <div class="col-lg-11 container-videos offset-lg-1 px-4 px-lg-2">
                <div class="content">
                    <h1 data-aos="fade-left" class="text-blue font-montserrat-semibold font-55-px">
                        {{ x.brief_title }}
                    </h1>
                </div>
                <video data-aos="fade-up" class="img-fluid" src="{{ x.brief_video.url }}"></video>
                {#<img data-aos="fade-up" class="img-fluid" src="{% static 'rsvp/event/music/images/videos-content-05.jpg' %}">#}
            </div>
        </div>
    </div>
    <div class="container-fluid line-up bg-light-cream">
        <div class="row">
            <div data-aos="fade-left" class="col-lg-12 text-center">
                <div class="title pt-lg-3 pt-2">
                    <h1 class="font-russo text-white ml-lg-4">
                        LINEUP
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div data-aos="fade-up" class="col-lg-10 offset-lg-1 px-lg-0">
                <div  id="lineup" class="carousel-lineup owl-theme">
                    <div class="item">
                        <img src="{{ x.lineup_image1.url }}">
                        <h1 class="text-white text-center font-montserrat-semibold">
                            {{ x.lineup_name1 }}
                        </h1>
                    </div>
                    <div class="item">
                        <img src="{{ x.lineup_image2.url }}">
                        <h1 class="text-white text-center font-montserrat-semibold">
                            {{ x.lineup_name2 }}
                        </h1>
                    </div>
                    <div class="item">
                        <img src="{{ x.lineup_image3.url }}">
                        <h1 class="text-white text-center font-montserrat-semibold">
                            {{ x.lineup_name3 }}
                        </h1>
                    </div>
                    <div class="item">
                        <img src="{{ x.lineup_image4.url }}">
                        <h1 class="text-white text-center font-montserrat-semibold">
                            {{ x.lineup_name4 }}
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid tickets">
        <div class="row">
            <div data-aos="fade-right" class="col-lg-12">
                <div id="tickets" class="title pt-lg-3 pt-2">
                    <h1 class="text-white font-russo offset-lg-2 offset-1 ml-4">
                        TICKETS
                    </h1>
                </div>
            </div>
        </div>
        <div class="row my-5 py-5 mx-lg-0 mx-1">
            <div class="col-lg-10 offset-lg-1">
                <div class="row my-lg-5">
                    <div data-aos="fade-up" class="col-lg-6 my-lg-0 my-3">
                        <h4 class="text-blue font-montserrat-semibold mb-0 mb-lg-1">
                            {{ x.ticket_title1 }}
                        </h4>
                        <p class="text-gray font-montserrat mb-1">
                            {{ x.ticket_brief1 }}
                        </p>
                        <div class="price d-flex">
                            <div class="value pl-lg-3 pr-lg-5 px-2">
                                <p class="text-blue font-montserrat-semibold mb-0">
                                    STARTING FROM
                                </p>
                                <h1 class="text-blue font-55-px font-montserrat-semibold"><sup class="font-montserrat-semibold">IDR</sup> {{ x.ticket_price1 }}</h1>
                            </div>
                            <div class="book-now bg-blue pt-lg-4 px-lg-4 pt-4 px-3">
                                <a href="{{ x.ticket_link1 }}"><h6 class="text-white font-montserrat-semibold mt-lg-3 mt-2">BOOK NOW</h6></a>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up" class="col-lg-6 my-lg-0 my-3">
                        <h4 class="text-blue font-montserrat-semibold mb-0 mb-lg-1">
                            {{ x.ticket_title2 }}
                        </h4>
                        <p class="text-gray font-montserrat mb-1">
                            {{ x.ticket_brief2 }}
                        </p>
                        <div class="price d-flex">
                            <div class="value pl-lg-3 pr-lg-5 px-2">
                                <p class="text-blue font-montserrat-semibold mb-0">
                                    STARTING FROM
                                </p>
                                <h1 class="text-blue font-55-px font-montserrat-semibold"><sup class="font-montserrat-semibold">IDR</sup> {{ x.ticket_price2 }}</h1>
                            </div>
                            <div class="book-now bg-blue pt-lg-4 px-lg-4 pt-4 px-3">
                                <a href="{{ x.ticket_link2 }}"><h6 class="text-white font-montserrat-semibold mt-lg-3 mt-2">BOOK NOW</h6></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-lg-5">
                    <div data-aos="fade-up" class="col-lg-6 my-lg-0 my-3">
                        <h4 class="text-blue font-montserrat-semibold mb-0 mb-lg-1">
                            {{ x.ticket_title3 }}
                        </h4>
                        <p class="text-gray font-montserrat mb-1">
                            {{ x.ticket_brief3 }}
                        </p>
                        <div class="price d-flex">
                            <div class="value pl-lg-3 pr-lg-5 px-2">
                                <p class="text-blue font-montserrat-semibold mb-0">
                                    STARTING FROM
                                </p>
                                <h1 class="text-blue font-55-px font-montserrat-semibold"><sup class="font-montserrat-semibold">IDR</sup> {{ x.ticket_price3 }}</h1>
                            </div>
                            <div class="book-now bg-blue pt-lg-4 px-lg-4 pt-4 px-3">
                                <a href="{{ x.ticket_link3 }}"><h6 class="text-white font-montserrat-semibold mt-lg-3 mt-2">BOOK NOW</h6></a>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up" class="col-lg-6 my-lg-0 my-3">
                        <h4 class="text-blue font-montserrat-semibold mb-0 mb-lg-1">
                            {{ x.ticket_title4 }}
                        </h4>
                        <p class="text-gray font-montserrat mb-1">
                            {{ x.ticket_brief4 }}
                        </p>
                        <div class="price d-flex">
                            <div class="value pl-lg-3 pr-lg-5 px-2">
                                <p class="text-blue font-montserrat-semibold mb-0">
                                    STARTING FROM
                                </p>
                                <h1 class="text-blue font-55-px font-montserrat-semibold"><sup class="font-montserrat-semibold">IDR</sup> {{ x.ticket_price4 }}</h1>
                            </div>
                            <div class="book-now bg-blue pt-lg-4 px-lg-4 pt-4 px-3">
                                <a href="{{ x.ticket_link4 }}"><h6 class="text-white font-montserrat-semibold mt-lg-3 mt-2">BOOK NOW</h6></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-lg-5">
                    <div data-aos="fade-up" class="col-lg-6 my-lg-0 my-3">
                        <h4 class="text-blue font-montserrat-semibold mb-0 mb-lg-1">
                            {{ x.ticket_title5 }}
                        </h4>
                        <p class="text-gray font-montserrat mb-1">
                            {{ x.ticket_brief5 }}
                        </p>
                        <div class="price d-flex">
                            <div class="value pl-lg-3 pr-lg-5 px-2">
                                <p class="text-blue font-montserrat-semibold mb-0">
                                    STARTING FROM
                                </p>
                                <h1 class="text-blue font-55-px font-montserrat-semibold"><sup class="font-montserrat-semibold">IDR</sup> {{ x.ticket_price5 }}</h1>
                            </div>
                            <div class="book-now bg-blue pt-lg-4 px-lg-4 pt-4 px-3">
                                <a href="{{ x.ticket_link5 }}"><h6 class="text-white font-montserrat-semibold mt-lg-3 mt-2">BOOK NOW</h6></a>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up" class="col-lg-6 my-lg-0 my-3">
                        <h4 class="text-blue font-montserrat-semibold mb-0 mb-lg-1">
                            {{ x.ticket_title6 }}
                        </h4>
                        <p class="text-gray font-montserrat mb-1">
                            {{ x.ticket_brief6 }}
                        </p>
                        <div class="price d-flex">
                            <div class="value pl-lg-3 pr-lg-5 px-2">
                                <p class="text-blue font-montserrat-semibold mb-0">
                                    STARTING FROM
                                </p>
                                <h1 class="text-blue font-55-px font-montserrat-semibold"><sup class="font-montserrat-semibold">IDR</sup> {{ x.ticket_price6 }}</h1>
                            </div>
                            <div class="book-now bg-blue pt-lg-4 px-lg-4 pt-4 px-3">
                                <a href="{{ x.ticket_link6 }}"><h6 class="text-white font-montserrat-semibold mt-lg-3 mt-2">BOOK NOW</h6></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-lg-5">
                    <div data-aos="fade-up" class="col-lg-6 my-lg-0 my-3">
                        <h4 class="text-blue font-montserrat-semibold mb-0 mb-lg-1">
                            {{ x.ticket_title7 }}
                        </h4>
                        <p class="text-gray font-montserrat mb-1">
                            {{ x.ticket_brief7 }}
                        </p>
                        <div class="price d-flex">
                            <div class="value pl-lg-3 pr-lg-5 px-2">
                                <p class="text-blue font-montserrat-semibold mb-0">
                                    STARTING FROM
                                </p>
                                <h1 class="text-blue font-55-px font-montserrat-semibold"><sup class="font-montserrat-semibold">IDR</sup> {{ x.ticket_price7 }}</h1>
                            </div>
                            <div class="book-now bg-blue pt-lg-4 px-lg-4 pt-4 px-3">
                                <a href="{{ x.ticket_link7 }}"><h6 class="text-white font-montserrat-semibold mt-lg-3 mt-2">BOOK NOW</h6></a>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up"  class="col-lg-6 my-lg-0 my-3">
                        <h4 class="text-blue font-montserrat-semibold mb-0 mb-lg-1">
                            {{ x.ticket_title8 }}
                        </h4>
                        <p class="text-gray font-montserrat mb-1">
                            {{ x.ticket_brief8 }}
                        </p>
                        <div class="price d-flex">
                            <div class="value pl-lg-3 pr-lg-5 px-2">
                                <p class="text-blue font-montserrat-semibold mb-0">
                                    STARTING FROM
                                </p>
                                <h1 class="text-blue font-55-px font-montserrat-semibold"><sup class="font-montserrat-semibold">IDR</sup> {{ x.ticket_price8 }}</h1>
                            </div>
                            <div class="book-now bg-blue pt-lg-4 px-lg-4 pt-4 px-3">
                                <a href="{{ x.ticket_link8 }}"><h6 class="text-white font-montserrat-semibold mt-lg-3 mt-2">BOOK NOW</h6></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid updates">
        <div class="row">
            <div data-aos="fade-left" class="col-lg-12">
                <div class="title pt-lg-3 pt-2">
                    <h1 class="text-white font-russo offset-lg-2 mr-4 mr-lg-0">
                        UPDATES
                    </h1>
                </div>
            </div>
        </div>
        <div  id="updates" data-aos="fade-up" class="row row-content px-lg-0 px-4">
            <div class="col-lg-8 offset-lg-2">
                <div class="row border-bottom-white pb-lg-4">
                    <div class="col-lg-9 pt-lg-4">
                        <h1 class="text-white font-montserrat-semibold mt-lg-1">
                            {{ x.update_title_hl }}
                        </h1>
                    </div>
                    <div class="col-lg-3">
                        <p class="text-light-gray mb-0 mt-3">
                            {{ x.update_brief_hl }}
                        </p>
                        <a class="text-light-blue" href="{{ x.update_link_hl }}">......READ MORE </a>
                    </div>
                </div>
                <div class="row my-lg-5">
                    <div class="col-lg-6 my-lg-3">
                        <h5 class="text-white font-montserrat-semibold">
                            {{ x.update_title1 }}
                        </h5>
                        <p class="text-light-gray">
                            {{ x.update_brief1 }}  <a class="text-light-blue" href="{{ x.update_link1 }}">.......READ MORE</a> 
                        </p>
                    </div>
                    <div class="col-lg-6 my-lg-3">
                        <h5 class="text-white font-montserrat-semibold">
                            {{ x.update_title2 }}
                        </h5>
                        <p class="text-light-gray">
                            {{ x.update_brief2 }}  <a class="text-light-blue" href="{{ x.update_link2 }}">.......READ MORE</a> 
                        </p>
                    </div>
                    <div class="col-lg-6 my-lg-3">
                        <h5 class="text-white font-montserrat-semibold">
                            {{ x.update_title3 }}
                        </h5>
                        <p class="text-light-gray">
                            {{ x.update_brief3 }}  <a class="text-light-blue" href="{{ x.update_link3 }}">.......READ MORE</a> 
                        </p>
                    </div>
                    <div class="col-lg-6 my-lg-3">
                        <h5 class="text-white font-montserrat-semibold">
                            {{ x.update_title4 }}
                        </h5>
                        <p class="text-light-gray">
                            {{ x.update_brief4 }}  <a class="text-light-blue" href="{{ x.update_link4 }}">.......READ MORE</a> 
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center py-4">
                        <a href="{{ x.update_more_link }}" class="text-white border-white px-3 py-2 rounded-button">
                            MORE UPDATES
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid venue" id="venue">
        <div class="row">
            <div class="col-lg-5 px-0">
                <div class="title" data-aos="fade-right" >
                    <h1 class="font-russo text-blue">
                        VENUE
                    </h1>
                </div>
                    <h1 class="text-light-blue pt-lg-5 pt-3 mt-lg-5 ml-lg-5 pl-5">
                        {{ x.banner_at }}
                    </h1>
                    <h3 class="text-light-blue ml-lg-5 pl-5">
                        {{ x.banner_room }}
                    </h3>
                    <p class="text-gray mt-lg-5 mt-3 ml-lg-5 pl-5">
                        {{ x.venue_address }}
                    </p>
            </div>
            <div class="col-lg-7 pt-4 pr-0 pl-lg-2 pl-0">
                {{ x.venue_maps }}
                {#<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15862.918108214062!2d106.6369675!3d-6.2992282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x34406ed8b098f478!2sIndonesia%20Convention%20Exhibition%20(ICE)%20BSD%20City!5e0!3m2!1sen!2sid!4v1593501784293!5m2!1sen!2sid" class="w-100" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>#}
            </div>
        </div>
    </div>
    <div class="container-fluid about" id="about">
        <div class="row">
            <div data-aos="fade-left" class="col-lg-12">
                <div class="title pt-lg-4">
                    <h1 class="text-white font-russo offset-lg-2 d-none d-lg-block">
                        ABOUT {{ x.banner_event_name }}
                    </h1>
                    <h1 class="text-white font-russo offset-lg-2 d-lg-none mt-2">
                        ABOUT US
                    </h1>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-5 left-content">
                <h1 class="text-white font-montserrat-semibold mb-lg-5 mb-0">
                    {{ x.about_title }}
                </h1>
                <div class="font-white">
                    {{ x.about_brief }}
                </div>
                <p class="mt-5">
                    <a class="bg-blue text-white font-montserrat-semibold px-lg-5 px-5 py-2 rounded-button" href="#lineup">LINEUP</a> <a class="bg-blue text-white font-montserrat-semibold px-lg-5 px-5 py-2 rounded-button ml-lg-5 ml-3" href="#tickets">TICKETS</a>
                </p>
            </div>
            <div data-aos="fade-up" class="col-lg-7 px-0">
                <img class="img-fluid w-100 mt-lg-0 mt-5" src="{{ x.about_image.url }}">
            </div>
        </div>
    </div>
    <div class="container-fluid sponsors" id="sponsors">
        <div class="row">
            <div class="title-mobile d-lg-none">
                    <h1 class="font-russo font-60-px text-white">
                        SPONSORS    
                    </h1>
            </div>
            <div data-aos="fade-up" class="col-lg-8 offset-lg-2">
                <div class="row d-none d-lg-flex">
                    <div class="col-lg-6 text-center box-logo">
                        <h6 class="text-white font-montserrat-semibold">
                            {{ x.sponsors_title1 }}
                        </h6>
                        <img class="img-logos" src="{{ x.sponsors_logo1.url }}">
                    </div>
                    <div class="col-lg-6 text-center box-logo">
                        <h6 class="text-white font-montserrat-semibold">
                            {{ x.sponsors_title2 }}
                        </h6>
                        <img class="img-logos" src="{{ x.sponsors_logo2.url }}">
                    </div>
                </div>
                <div class="row d-none d-lg-flex">
                    <div class="col-lg-4 text-center box-logo">
                        <h6 class="text-white font-montserrat-semibold">
                            {{ x.sponsors_title3 }}
                        </h6>
                        <img class="img-logos" src="{{ x.sponsors_logo3.url }}">
                    </div>
                    <div class="col-lg-4 text-center box-logo">
                        <h6 class="text-white font-montserrat-semibold">
                            {{ x.sponsors_title4 }}
                        </h6>
                        <img class="img-logos" src="{{ x.sponsors_logo4.url }}">
                    </div>
                    <div class="col-lg-4 text-center box-logo">
                        <h6 class="text-white font-montserrat-semibold">
                            {{ x.sponsors_title5 }}
                        </h6>
                        <img class="img-logos" src="{{ x.sponsors_logo5.url }}">
                    </div>
                </div>
                <div class="row d-lg-none">
                    <div class="col-lg-12 text-center box-logo">
                        <h6 class="text-white font-montserrat-semibold">
                            {{ x.sponsors_title1 }}
                        </h6>
                        <img class="img-logos" src="{{ x.sponsors_logo1.url }}">
                    </div>
                    <div class="col-6 text-center box-logo">
                        <h6 class="text-white font-montserrat-semibold">
                            {{ x.sponsors_title2 }}
                        </h6>
                        <img class="img-logos" src="{{ x.sponsors_logo2.url }}">
                    </div>
                    <div class="col-6 text-center box-logo">
                        <h6 class="text-white font-montserrat-semibold">
                            {{ x.sponsors_title3 }}
                        </h6>
                        <img class="img-logos" src="{{ x.sponsors_logo3.url }}">
                    </div>
                    <div class="col-6 text-center box-logo">
                        <h6 class="text-white font-montserrat-semibold">
                            {{ x.sponsors_title4 }}
                        </h6>
                        <img class="img-logos" src="{{ x.sponsors_logo4.url }}">
                    </div>
                    <div class="col-6 text-center box-logo">
                        <h6 class="text-white font-montserrat-semibold">
                            {{ x.sponsors_title5 }}
                        </h6>
                        <img class="img-logos" src="{{ x.sponsors_logo5.url }}">
                    </div>
                </div>
            </div>
            <div  data-aos="fade-up" data-aos-offset="-100" class="col-lg-2 title d-none d-lg-block">
                <h1 class="font-russo font-60-px text-white">
                    SPONSORS    
                </h1>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-black py-4 footer">
        <hr>
        <div class="row px-lg-5">
            <div class="col-lg-5 pl-4 pl-lg-5 order-lg-1 order-2">
                <p class="text-white mb-0">
                    All Rights Reserved © This website is made by <span class="font-jost">Reservasi Dulu</span>
                </p>
            </div>
        </div>
    </div>
    <!-- MODAL -->
    <div class="modal fade" id="form-submit" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content p-lg-5 p-4 thank-you">
            <div class="wrap-submit bg-orange">
                <div class="row mb-5">
                    <div class="col-lg-12 text-right d-none d-lg-block px-5 py-4">
                        <h1 class="text-dark-blue font-weight-bold text-purple" data-dismiss="modal">
                            &times;
                        </h1>
                    </div>
                    <div class="col-2 offset-10 pr-5 pl-2 d-lg-none">
                        <h1 class="text-dark-blue font-weight-bold text-purple" data-dismiss="modal">
                            &times;
                        </h1>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-12 pb-5 mb-lg-5">
                        <h1 class="text-dark-blue">
                             See You There!
                        </h1>
                        <img class="my-4" src="{% static 'rsvp/event/music/images/submit-line-05.png' %}">
                        <h3 class="text-white mx-lg-0 mx-4 px-lg-0 px-1 font-jost-light d-none d-lg-block">
                            We will take notes of your attendance,<br>
                            please check your email for further notice.
                        </h3>
                        <p class="text-white mx-lg-0 mx-4 px-lg-0 px-1 font-jost-light d-lg-none">
                            We will take notes of your attendance,<br>
                            please check your email for further notice.
                        </p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <!-- Customize js -->
    <script>
        new WOW().init();
    </script>
    {% compress js %}
        {% include 'static/js.html' %}
        <script type="text/javascript" src="{% static 'rsvp/event/music/app.js' %}"></script>
    {% endcompress %}
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>