{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="container-fluid pos-rel pt-lg-15p pb-lg-25p pl-lg-10p pr-lg-10p">
        <div class="row">
            <div class="col-lg-12">
                <h3>Your Detail Event</h3>
                    <b>Event Name:</b> {{ event.event_name }}<br>
                    <b>Event Date</b>: {{ event.event_date | date }}<br>
                    <b>Event Package Price</b>: {{ event.price }}<br>
                    <b>Event Url</b>: {{ event.slug }}<br>
                    <b>Event Location</b>: {{ event.event_place }}<br>

                <div>
                     <a href="{% url 'update' event.slug %}" class="btn btn-outline-primary btn-sm" type="submit">Edit</a>
                     <a href="{% url 'delete' event.slug %}" class="btn btn-outline-primary btn-sm" type="submit">Delete</a>
                     <button class="btn btn-outline-primary btn-sm" type="submit">Share</button>
                </div>
            </div>
        </div>
    </div>
    <div class="w-lg-100p h-lg-100vh"></div>
{% endblock %}