{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid pos-rel pt-lg-15p pb-lg-25 pl-lg-10p pr-lg-10p">
    <div class="row">
        <div class="col-lg-6">
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    {{ form.site | as_crispy_field }}
{#                    {{ form.template_path | as_crispy_field }}#}
                    {{ form.name | as_crispy_field }}
                    {{ form.title | as_crispy_field }}
                    {{ form.subtitle | as_crispy_field }}
                    {{ form.email | as_crispy_field }}
                    {{ form.phone | as_crispy_field }}
                    {{ form.text | as_crispy_field }}
                    {{ form.images | as_crispy_field }}
                </table>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
<div class="w-lg-100p" style='height: 128vh;'></div>
{% endblock %}