{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Birthday | Homepage</title>
    <link rel="shortcut icon" href="{% static 'rsvp/birthday/aaron/images/ico.ico' %}">
    <!-- Customize css -->
    <link rel="stylesheet" href="{% static 'features/animatecss/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/assets/owl.theme.default.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rsvp/birthday/aaron/style-birthday-4.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <!-- Preview Navigation -->
    {% include 'themes/poni.html' %}
    
    <!-- Main Site -->
    <div id="homepage" class="pos-rel">
        <!-- Navbar -->    
        <nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 d-none d-lg-block">
                        <a href="index.html"><img data-aos="fade-right" class="img-fluid logo" src="{{ x.img_logo.url }}" /></a>
                    </div>
                    <div data-aos="fade-left" class="col-lg-9 d-none d-lg-block">
                        <ul class="menu">
                            <li><a href="index.html">HOME</a></li>
                            <li><a href="#about">ABOUT</a></li>
                            <li><a href="#dateandplace">DATE & PLACE</a></li>
                            <li><a href="#rsvp-d">RSVP</a></li>
                            <li><a href="wishlist.html">WISH LIST</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-8 d-lg-none">
                        <a href="index.html"><img class="img-fluid logo" src="{{ x.img_logo.url }}" /></a>
                    </div>
                    <div class="col-4 d-lg-none text-right">
                        <h3 class="text-white">
                            <i class="fa fa-bars"></i>
                        </h3>
                    </div>
                    <div class="side-nav">
                        <div class="close-div text-right p-3">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                        <ul class="list-unstyled">
                            <li><a href="index.html">HOME</a></li>
                            <li><a href="#about">ABOUT</a></li>
                            <li><a href="#dateandplace">DATE & PLACE</a></li>
                            <li><a href="#rsvp">RSVP</a></li>
                            <li><a href="wishlist.html">WISH LIST</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Section BANNER -->
        <section data-aos="zoom-out" id="banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pl-lg-0 pr-lg-0">
                            <div class="box">
                                <div data-aos="fade-up" class="subtitle">{{ x.banner_subtitle }}</div>
                                <div data-aos="fade-up" class="title">{{ x.banner_title }}</div>
                            </div>
                        <img class="img-fluid w-lg-100p d-none d-lg-block" src="{{ x.banner_bg.url }}" />
                        <img class="img-fluid w-lg-100p d-block d-lg-none" src="{{ x.banner_bg_mobile.url }}" />
                        <img class="img-fluid w-lg-100p motif" src="{% static 'rsvp/birthday/aaron/images/motif-01.png' %}" />
                    </div>
                </div>
            </div>
        </section>
        <!-- Section ABOUT -->
        <section id="about">
            <div class="container-fluid pt-m-30p pt-lg-20p pb-lg-10p pl-lg-10p pr-lg-10p">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1 class="mb-m-15p mb-lg-5p">{{ x.about_name }}’s <span>{{ x.about_age }}</span> Birthday</h1>
                        <div class="gallery">
                            <div class="box">
                                <img data-aos="fade-up"  class="img-fluid" src="{{ x.about_image1.url }}" />
                                <img data-aos="fade-up"  class="img-fluid horizontal" src="{{ x.about_image6.url }}" />
                            </div>
                            <div class="box">
                                <img data-aos="fade-up" class="img-fluid horizontal" src="{{ x.about_image2.url }}" />
                                <img data-aos="fade-up" class="img-fluid" src="{{ x.about_image7.url }}" />
                            </div>
                            <div class="box">
                                <img data-aos="fade-up" class="img-fluid" src="{{ x.about_image3.url }}" />
                                <img data-aos="fade-up" class="img-fluid horizontal" src="{{ x.about_image8.url }}" />
                            </div>
                            <div class="box">
                                <img data-aos="fade-up" class="img-fluid horizontal" src="{{ x.about_image4.url }}" />
                                <img data-aos="fade-up" class="img-fluid" src="{{ x.about_image9.url }}" />
                            </div>
                            <div class="box">
                                <img data-aos="fade-up" class="img-fluid" src="{{ x.about_image5.url }}" />
                                <img data-aos="fade-up" class="img-fluid horizontal" src="{{ x.about_image10.url }}" />
                            </div>
                        </div>
                        <div class="mgallery d-block d-lg-none">
                            <div class="one-carousel owl-theme">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-6">
                                            <img class="img-fluid" src="{{ x.about_image1.url }}" />
                                            <img class="img-fluid horizontal" src="{{ x.about_image6.url }}" />
                                        </div>
                                        <div class="col-6">
                                            <img class="img-fluid horizontal" src="{{ x.about_image2.url }}" />
                                            <img class="img-fluid" src="{{ x.about_image7.url }}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-6">
                                            <img class="img-fluid" src="{{ x.about_image3.url }}" />
                                            <img class="img-fluid horizontal" src="{{ x.about_image8.url }}" />
                                        </div>
                                        <div class="col-6">
                                            <img class="img-fluid horizontal" src="{{ x.about_image4.url }}" />
                                            <img class="img-fluid" src="{{ x.about_image9.url }}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-6">
                                            <img class="img-fluid" src="{{ x.about_image5.url }}" />
                                            <img class="img-fluid horizontal" src="{{ x.about_image10.url }}" />
                                        </div>
                                        <div class="col-6">
                                            <img class="img-fluid horizontal" src="" />
                                            <img class="img-fluid" src="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section DATE & PLACE -->
        <section id="dateandplace">
            <div class="container-fluid pt-m-45p pb-m-35p pt-lg-10p pb-lg-10p pl-lg-5p pr-lg-5p text-center bg-lightgreen">
                <img data-aos="fade-left" class="img-fluid motif" src="{% static 'rsvp/birthday/aaron/images/motif-02.png' %}" />
                <img class="img-fluid d-block d-lg-none mmotif3" src="{% static 'rsvp/birthday/aaron/images/mobile-motif-03.png' %}" />
                <div class="row">
                    <div class="col-lg-12">
                        <h3 data-aos="fade-down" class="font-krub-r"><span>remember</span></h3>
                        <h2 data-aos="fade-down">the Time & Place</h2>
                        <div data-aos="fade-up"  class="box mt-m-15p mt-lg-5p bg-white">
                            <div class="row">
                                <div class="col-lg-3 pt-m-15p pb-m-15p">
                                    <div class="boxc">
                                        <div class="day">{{ x.dap_day }}</div>
                                        <div class="title">{{ x.dap_date }}</div>
                                        <p>{{ x.dap_time }}</p>
                                    </div>
                                    <img class="img-fluid d-none d-lg-block motif4" src="{% static 'rsvp/birthday/aaron/images/motif-05.png' %}" />
                                </div>
                                <div class="col-lg-6 pt-m-15p pb-m-15p pt-lg-5p pb-lg-5p">
                                    <div class="title">{{ x.dap_place }}</div>
                                    <p>
                                        {{ x.dap_address }}
                                    </p>
                                </div>
                                <div class="col-lg-3 pt-m-15p pb-m-15p">
                                    <div class="boxc">
                                        <img class="img-fluid mb-lg-10p" src="{% static 'rsvp/birthday/aaron/images/icon-01.png' %}" />
                                        <div class="title">Dresscode</div>
                                        <p>{{ x.dap_dress }}</p>                                        
                                    </div>
                                    <img class="img-fluid d-none d-lg-block motif2" src="{% static 'rsvp/birthday/aaron/images/motif-03.png' %}" />
                                    <img class="img-fluid d-none d-lg-block motif3" src="{% static 'rsvp/birthday/aaron/images/motif-04.png' %}" />
                                    <img class="img-fluid d-none d-lg-block motif5" src="{% static 'rsvp/birthday/aaron/images/motif-06.png' %}" />
                                </div>
                                <img class="img-fluid d-block d-lg-none mmotif1" src="{% static 'rsvp/birthday/aaron/images/mobile-motif-01.png' %}" />
                                <img class="img-fluid d-block d-lg-none mmotif2" src="{% static 'rsvp/birthday/aaron/images/mobile-motif-02.png' %}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section RSVP -->
        <section id="rsvp">
            <div class="container-fluid pt-m-35p pb-m-35p pt-lg-10p pb-lg-10p text-center">
                <div  id="rsvp-d" class="row">
                    <div class="col-lg-12 mb-lg-10p">
                        <h2 data-aos="fade-up" data-aos-once="true">
                            Looking Forward<br/>
                            to Hear <span>Your</span> Response
                        </h2>
                    </div>
                    <div class="col-lg-12 pl-m-10p pr-m-10p">
                        {% include 'themes/birthday/aaron/attendance.html' %}
                        <div class="modal fade" id="ebrochure">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12 text-center pt-m-15p pt-lg-5p pb-lg-10p pl-lg-0 pr-lg-0">
                                                {#<!-- <img class="img-fluid w-lg-100p motif" src="{% static 'rsvp/birthday/aaron/images/motif-09.png' %}" /> -->#}
                                                <div class="box bs">
                                                    <a class="close button-default" data-dismiss="modal">X</a>
                                                    <h3 class="font-krub-r"><span>see you there</span></h3>
                                                    <h2>At the Party!</h2>
                                                    <div class="font-darkblue">
                                                        <p>
                                                            Your presence on my celebration means a lot to me and my family.<br>
                                                            Cannot wait to see you there! Don’t forget to select the gift you may give<br>
                                                            from my wishlist, so others will not need to give the same gift as you.
                                                        </p>
                                                    </div>
                                                    <div class="wrap-button py-5">
                                                        <a href="wishlist.html" class="button-cyan">
                                                            View my gift wishlist
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <a target="_blank" href="{{ x.inv_pdf.url }}">Download Invitation</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section WISHLIST -->
        <section id="wishlist">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pl-lg-0 pr-lg-0">
                        <img class="img-fluid w-lg-100p d-none d-lg-block motif" src="{% static 'rsvp/birthday/aaron/images/motif-07.png' %}" />
                        <img class="img-fluid w-lg-100p d-block d-lg-none motif" src="{% static 'rsvp/birthday/aaron/images/mobile-motif-04.png' %}" />
                        <img class="img-fluid motif2" src="{% static 'rsvp/birthday/aaron/images/motif-08.png' %}" />
                        <img class="img-fluid d-none d-lg-block w-lg-100p" src="{% static 'rsvp/birthday/aaron/images/images-12.png' %}" />
                        <img class="img-fluid bg d-block d-lg-none w-lg-100p" src="{% static 'rsvp/birthday/aaron/images/mobile-images-02.png' %}" />
                        <div class="boxc text-center">
                            <div data-aos="fade-up"  class="subtitle">the</div>
                            <div data-aos="fade-up"  class="title mb-lg-5p">Wish List</div>
                            <div data-aos="fade-up" data-aos-offset="-50"  class="mb-lg-15p">
                                <p>
                                    Confused of what to get for my birthday?<br />
                                    Say no more
                                </p>
                            </div>
                            <a data-aos="fade-up" data-aos-offset="-50"  class="button-default" href="wishlist.html">Wish List</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer>
            <div class="container-fluid pt-m-10p pb-m-15p pl-m-10p pr-m-10p pt-lg-30 pb-lg-30 pl-lg-5p pr-lg-5p">
                <div class="row">
                    <div class="col-12 mb-m-10p mtext-center col-lg-8">
                        <p>All Rights Reserved © This website is made by <span>Reservasi Dulu</span></p>
                    </div>                
                    <div class="col-12 mtext-center col-lg-4 mtext-center text-right">
                        <a href="" class="button-footer">Create a Site</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Customize js -->
    <script>
        new WOW().init();
    </script>
    {% compress js %}
        {% include 'static/js.html' %}
        <script type="text/javascript" src="{% static 'rsvp/birthday/aaron/app.js' %}"></script>
    {% endcompress %}
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>