{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Template Wedding | Homepage</title>
    <link rel="shortcut icon" href="{% static 'rsvp/wedding/vicky_wanda/images/ico.ico' %}">
    <!-- Customize css -->
    <link rel="stylesheet" href="{% static 'features/animatecss/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/assets/owl.theme.default.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rsvp/wedding/vicky_wanda/style-wedding-6.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <!-- Preview Navigation -->
    {% include 'themes/wedding/vicky_wanda/navbar_preview.html' %}
    
    <!-- Main Site -->
    <div id="homepage" class="pos-rel">

        <!-- Left Column -->
        <div class="wrapleft">

            <!-- Navigation -->
            <nav>
                <div class="d-none d-lg-block">
                    <a class="logo" href="index.html">
                        <img data-aos="fade-down" data-aos-once="true" class="img-fluid" src="{{ x.img_logotype.url }}" />
                    </a>
                    <ul data-aos="fade-right"  data-aos-once="true" class="menu">
                        <li><a href="#home">HOME</a></li>
                        <li><a href="#ourstory">OUR STORY</a></li>
                        <li><a href="#dateandtime-d">DATE & TIME</a></li>
                        <li><a href="#accommodation">ACCOMMODATION</a></li>
                        <li><a href="#gallery">GALLERY</a></li>
                        <li><a href="#countdown">COUNT DOWN</a></li>
                        <li><a href="#rsvp">RSVP</a></li>
                    </ul>
                </div>
                <div class="row d-lg-none">
                    <div class="offset-8 col-4 pr-lg-10p text-right">
                        <ul class="bars">
                            <div id="toggle">
                                <div class="one"></div>
                                <div class="two"></div>
                                <div class="three"></div>
                            </div>
                        </ul>
                    </div>
                    <div class="side-nav">
                        <div class="close-div text-right p-3">
                            <img class="img-fluid close-icon" src="{% static 'rsvp/wedding/vicky_wanda/images/icon-07.png' %}" />
                        </div>
                        <a href="index.html"><img class="img-fluid logo" src="{{ x.img_logotype_mobile.url }}" /></a>
                        <ul class="list-unstyled">
                            <li><a href="#home">HOME</a></li>
                            <li><a href="#ourstory">OUR STORY</a></li>
                            <li><a href="#dateandtime">DATE & TIME</a></li>
                            <li><a href="#accommodation">ACCOMMODATION</a></li>
                            <li><a href="#gallery">GALLERY</a></li>
                            <li><a href="#countdown">COUNT DOWN</a></li>
                            <li><a href="#rsvp">RSVP</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

        <!-- End Left Column-->
        </div><div class="wrapright">
        <!-- Right Column -->

                    <!-- Section Home -->
                    <section id="home">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 pl-lg-0 pr-lg-0">
                                    <img data-aos="zoom-out"  data-aos-once="true"  class="img-fluid bg w-lg-100p" src="{{ x.banner_bg.url }}" />
                                    <img data-aos="fade-down" data-aos-once="true"  class="img-fluid motif" src="{{ x.img_logogram.url }}" />
                                    <div class="boxc text-center">
                                        <div data-aos="fade-down" data-aos-once="true" class="title">{{ x.banner_title }}</div>
                                    </div>
                                    <a id="chevron-down" class="gobot" href="#ourstory"><img class="img-fluid" src="{% static 'rsvp/wedding/vicky_wanda/images/arrow-down.png' %}" /></a>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Section Our Story -->
                    <section id="ourstory">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 d-none d-lg-block pl-lg-0 pr-lg-0">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link mt-2" id="tabourstory-tab" data-toggle="tab" href="#tabourstory" role="tab" aria-controls="tabourstory">OUR STORY</a>
                                        </li>                                        
                                        <li class="nav-item">
                                            <a class="nav-link" id="tababoutthegroom-tab" data-toggle="tab" href="#tababoutthegroom" role="tab" aria-controls="tababoutthegroom">ABOUT THE GROOM</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tababoutthebride-tab" data-toggle="tab" href="#tababoutthebride" role="tab" aria-controls="tababoutthebride">ABOUT THE BRIDE</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fadein" id="tabourstory" role="tabpanel" aria-labelledby="tabourstory-tab">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <img class="img-fluid boxc text-center motif" src="{% static 'rsvp/wedding/vicky_wanda/images/icon-01.png' %}" />
                                                    <div data-aos="fade-up" data-aos-once="true" class="col-lg-6 pl-lg-0 pr-lg-0">
                                                        <img class="img-fluid w-lg-100p" src="{{ x.about_os_image.url }}" />
                                                    </div>
                                                    <div data-aos="fade-left" class="col-lg-6 pl-lg-0 pr-lg-0 bg-brown">
                                                        <div class="boxc desc" data-aos-once="true">
                                                            <h2 class="mb-lg-10p">OUR <br /><span>STORY</span></h2>
                                                            {{ x.about_os_brief }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fadein" id="tababoutthegroom" role="tabpanel" aria-labelledby="tababoutthegroom-tab">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <img class="img-fluid boxc text-center motif" src="{% static 'rsvp/wedding/vicky_wanda/images/icon-02.png' %}" />
                                                    <div class="col-lg-6 pl-lg-0 pr-lg-0">
                                                        <img class="img-fluid w-lg-100p" src="{{ x.about_gr_image.url }}" />
                                                    </div>
                                                    <div class="col-lg-6 pl-lg-0 pr-lg-0 bg-brown">
                                                        <div class="boxc desc">
                                                            <h2 class="mb-lg-10p">ABOUT THE <br /><span>GROOM</span></h2>
                                                            {{ x.about_gr_brief }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fadein" id="tababoutthebride" role="tabpanel" aria-labelledby="tababoutthebride-tab">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <img class="img-fluid boxc text-center motif" src="{% static 'rsvp/wedding/vicky_wanda/images/icon-03.png' %}" />
                                                    <div class="col-lg-6 pl-lg-0 pr-lg-0">
                                                        <img class="img-fluid w-lg-100p" src="{{ x.about_br_image.url }}" />
                                                    </div>
                                                    <div class="col-lg-6 pl-lg-0 pr-lg-0 bg-brown">
                                                        <div class="boxc desc">
                                                            <h2 class="mb-lg-10p">ABOUT THE <br /><span>BRIDE</span></h2>
                                                            {{ x.about_br_brief }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 pl-m-0 pr-m-0 d-block d-lg-none text-center bg-brown">
                                    <div class="one-carousel owl-theme">
                                        <div class="item">
                                            <div class="row">
                                                <img class="img-fluid boxc text-center motif" src="{% static 'rsvp/wedding/vicky_wanda/images/icon-01.png' %}" />
                                                <div class="col-12">
                                                    <img class="img-fluid images w-lg-100p" src="{{ x.about_os_image.url }}" />
                                                </div>
                                                <div class="col-12 pt-m-25p pb-m-15p pl-m-10p pr-m-10p">
                                                    <div class="desc">
                                                        <h2 class="mb-lg-10p">OUR <span>STORY</span></h2>
                                                        {{ x.about_os_brief }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="row">
                                                <img class="img-fluid boxc text-center motif" src="{% static 'rsvp/wedding/vicky_wanda/images/icon-02.png' %}" />
                                                <div class="col-12">
                                                    <img class="img-fluid images w-lg-100p" src="{{ x.about_gr_image.url }}" />
                                                </div>
                                                <div class="col-12 pt-m-25p pb-m-15p pl-m-10p pr-m-10p">
                                                    <div class="desc">
                                                        <h2 class="mb-lg-10p">ABOUT THE <span>GROOM</span></h2>
                                                        {{ x.about_gr_brief }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="row">
                                                <img class="img-fluid boxc text-center motif" src="{% static 'rsvp/wedding/vicky_wanda/images/icon-03.png' %}" />
                                                <div class="col-12">
                                                    <img class="img-fluid images w-lg-100p" src="{{ x.about_br_image.url }}" />
                                                </div>
                                                <div class="col-12 pt-m-25p pb-m-15p pl-m-10p pr-m-10p">
                                                    <div class="desc">
                                                        <h2 class="mb-lg-10p">ABOUT THE <span>BRIDE</span></h2>
                                                        {{ x.about_br_brief }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Section Date & Time -->
                    <section id="dateandtime">
                        <div class="container-fluid bg-cream pt-lg-5p pb-lg-5p">
                            <div id="dateandtime-d" class="row">
                                <div class="col-lg-12 pt-m-15p pb-m-50p pl-m-10p pr-m-10p pl-lg-0 pr-lg-0">
                                    <ul data-aos="fade-up" data-aos-once="true" data-aos-offset="-200" class="nav nav-tabs" id="myTab2" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" id="tabweddingceremony-tab" data-toggle="tab" href="#tabweddingceremony" role="tab" aria-controls="tabweddingceremony">WEDDING CEREMONY</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tabweddingparty-tab" data-toggle="tab" href="#tabweddingparty" role="tab" aria-controls="tabweddingparty">WEDDING PARTY</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent2">
                                        <div class="tab-pane fadein" id="tabweddingceremony" role="tabpanel" aria-labelledby="tabweddingceremony-tab">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div data-aos="fade-right" data-aos-once="true" class="order-2 order-lg-1 col-lg-5 pt-m-10p pb-m-0 pl-m-0 pr-m-0 pl-lg-5p pr-lg-5p">
                                                        <img class="img-fluid motif mb-lg-15p" src="{% static 'rsvp/wedding/vicky_wanda/images/icon-04.png' %}" />
                                                        <h2 class="font-lightbrown mb-lg-10p">WEDDING <br /><span>CEREMONY</span></h2>
                                                        <div class="row">
                                                            <div class="col-6 col-lg-6">
                                                                <h4>{{ x.vc_month }} <span>{{ x.vc_date }} <br />{{ x.vc_year }}</span></h4>
                                                            </div>
                                                            <div class="col-6 col-lg-6">
                                                                <p>
                                                                    at <span>{{ x.vc_place }}</span><br />
                                                                    {{ x.vc_address }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="dateandtime-d" data-aos="fade-down" data-aos-once="true" data-aos-offset="200" class="order-1 order-lg-2 col-lg-7 pt-m-0 pb-m-0 pl-m-0 pr-m-0 pl-lg-5p pr-lg-5p">
                                                        <div class="wrap">
                                                            <img class="img-fluid images w-lg-100p" src="{{ x.vc_image.url }}" />
                                                            <div class="boxc imagelist"></div>
                                                            <a target="_blank" href="{{ x.vc_maps_link }}">
                                                                <div class="boxc imageov">
                                                                    <div class="boxc text">SEE LOCATION</div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fadein" id="tabweddingparty" role="tabpanel" aria-labelledby="tabweddingparty-tab">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="order-2 order-lg-1 col-lg-5 pt-m-10p pb-m-0 pl-m-0 pr-m-0 pt-lg-5p pb-lg-5p pl-lg-5p pr-lg-5p">
                                                        <img class="img-fluid motif mb-lg-15p" src="{% static 'rsvp/wedding/vicky_wanda/images/icon-08.png' %}" />
                                                        <h2 class="font-lightbrown mb-lg-10p">WEDDING <br /><span>PARTY</span></h2>
                                                        <div class="row">
                                                            <div class="col-6 col-lg-6">
                                                                <h4>{{ x.vr_month }} <span>{{ x.vr_date }} <br />{{ x.vr_year }}</span></h4>
                                                            </div>
                                                            <div class="col-6 col-lg-6">
                                                                <p>
                                                                    at <span>{{ x.vr_place }}</span><br />
                                                                    {{ x.vr_address }}
                                                                </p>
                                                                <p>
                                                                    <span>Dresscode</span><br />
                                                                    {{ x.vr_dress }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="order-1 order-lg-2 col-lg-7 pt-m-0 pb-m-0 pl-m-0 pr-m-0 pt-lg-5p pb-lg-5p pl-lg-5p pr-lg-5p">
                                                        <div class="wrap">
                                                            <img class="img-fluid images w-lg-100p" src="{{ x.vr_image.url }}" />
                                                            <div class="boxc imagelist"></div>
                                                            <a target="_blank" href="{{ x.vr_maps_link }}">
                                                                <div class="boxc imageov">
                                                                    <div class="boxc text">SEE LOCATION</div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <img class="img-fluid imagesnd" src="{% static 'rsvp/wedding/vicky_wanda/images/images-06.png' %}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Section Accommodation -->
                    <section id="accommodation">
                        <div class="container-fluid bg-lightbrown">
                            <div class="row">
                                <div data-aos="zoom-out" data-aos-once="true" class="col-lg-12 pl-lg-0 pr-lg-0">
                                    <img class="img-fluid w-lg-100p d-none d-lg-block" src="{{ x.acm_image.url }}" />
                                    <img class="img-fluid images w-lg-100p d-block d-lg-none" src="{{ x.acm_image_mobile.url }}" />
                                </div>
                                <div class="col-lg-7 pt-m-10p pl-m-10p pr-m-10p pt-lg-5p pb-lg-5p pl-lg-5p pr-lg-0">
                                    <h2 data-aos="fade-right" data-aos-once="true">THE <br /><span>ACCOMMODATION</span></h2>
                                </div>
                                <div class="col-lg-5 pb-m-10p pl-m-10p pr-m-10p pt-lg-5p pb-lg-5p pl-lg-0 pr-lg-5p">
                                    <h4>{{ x.acm_place }}</h4>
                                    <p><b>{{ x.acm_subtitle }}</b></p>
                                    {{ x.acm_brief }}
                                    <p class="mb-m-15p mb-lg-10p">{{ x.acm_note }}</p>
                                    <a class="button-cream" target="_blank" href="{{ x.acm_maps_link }}">SEE LOCATION <img class="img-fluid" src="{% static 'rsvp/wedding/vicky_wanda/images/btn-arrow-right.png' %}" /></a>
                                    <br /><br /><br />
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Section Gallery -->
                    <section id="gallery">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 pl-lg-0 pr-lg-0 d-block d-lg-none">
                                    <div id="js-gallery">
                                        <div class="gallery__hero">
                                            <img class="img-fluid" src="{{ x.gallery_image1.url }}" />
                                        </div>
                                        <div class="gallery__thumbs">
                                            <a  href="{{ x.gallery_image1.url }}" data-gallery="thumb" class="is-active">
                                                <img class="img-fluid" src="{{ x.gallery_image1.url }}" />
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                            <a href="{{ x.gallery_image2.url }}" data-gallery="thumb">
                                                <img class="img-fluid" src="{{ x.gallery_image2.url }}" />
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                            <a href="{{ x.gallery_image3.url }}" data-gallery="thumb">
                                                <img class="img-fluid" src="{{ x.gallery_image3.url }}" />
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                            <a href="{{ x.gallery_image4.url }}" data-gallery="thumb">
                                                <img class="img-fluid" src="{{ x.gallery_image4.url }}" />
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                            <a href="{{ x.gallery_image5.url }}" data-gallery="thumb">
                                                <img class="img-fluid" src="{{ x.gallery_image5.url }}" />
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                            <a href="{{ x.gallery_image6.url }}" data-gallery="thumb">
                                                <img class="img-fluid" src="{{ x.gallery_image6.url }}" />
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 d-none d-lg-block">
                                    <div class="row">
                                        <div data-aos="fade-up" data-aos-once="true" class="col-4 col-lg-4 pl-lg-0 pr-lg-0">
                                            <img class="img-fluid w-lg-100p" src="{{ x.gallery_image1.url }}" />
                                            <a data-toggle="modal" data-target="#images-08">
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div data-aos="fade-up" data-aos-once="true" class="col-4 col-lg-4 pl-lg-0 pr-lg-0">
                                            <img class="img-fluid w-lg-100p" src="{{ x.gallery_image2.url }}" />
                                            <a data-toggle="modal" data-target="#images-09">
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div data-aos="fade-up" data-aos-once="true" class="col-4 col-lg-4 pl-lg-0 pr-lg-0">
                                            <img class="img-fluid w-lg-100p" src="{{ x.gallery_image3.url }}" />
                                            <a data-toggle="modal" data-target="#images-10">
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div data-aos="fade-up" data-aos-once="true" class="col-4 col-lg-4 pl-lg-0 pr-lg-0">
                                            <img class="img-fluid w-lg-100p" src="{{ x.gallery_image4.url }}" />
                                            <a data-toggle="modal" data-target="#images-11">
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div data-aos="fade-up" data-aos-once="true" class="col-4 col-lg-4 pl-lg-0 pr-lg-0">
                                            <img class="img-fluid w-lg-100p" src="{{ x.gallery_image5.url }}" />
                                            <a data-toggle="modal" data-target="#images-12">
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div data-aos="fade-up" data-aos-once="true" class="col-4 col-lg-4 pl-lg-0 pr-lg-0">
                                            <img class="img-fluid w-lg-100p" src="{{ x.gallery_image6.url }}" />
                                            <a data-toggle="modal" data-target="#images-13">
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="modal fade" id="images-08">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-lg-12 pt-lg-0 pb-lg-0 pl-lg-0 pr-lg-0">
                                                                <a class="close" data-dismiss="modal">
                                                                    <img class="img-fluid" src="{% static 'rsvp/wedding/vicky_wanda/images/icon-05.png' %}" />    
                                                                </a>
                                                                <img class="img-fluid" src="{{ x.gallery_image1.url }}" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="images-09">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-lg-12 pt-lg-0 pb-lg-0 pl-lg-0 pr-lg-0">
                                                                <a class="close" data-dismiss="modal">
                                                                    <img class="img-fluid" src="{% static 'rsvp/wedding/vicky_wanda/images/icon-05.png' %}" />    
                                                                </a>
                                                                <img class="img-fluid" src="{{ x.gallery_image2.url }}" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="images-10">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-lg-12 pt-lg-0 pb-lg-0 pl-lg-0 pr-lg-0">
                                                                <a class="close" data-dismiss="modal">
                                                                    <img class="img-fluid" src="{% static 'rsvp/wedding/vicky_wanda/images/icon-05.png' %}" />    
                                                                </a>
                                                                <img class="img-fluid" src="{{ x.gallery_image3.url }}" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="images-11">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-lg-12 pt-lg-0 pb-lg-0 pl-lg-0 pr-lg-0">
                                                                <a class="close" data-dismiss="modal">
                                                                    <img class="img-fluid" src="{% static 'rsvp/wedding/vicky_wanda/images/icon-05.png' %}" />    
                                                                </a>
                                                                <img class="img-fluid" src="{{ x.gallery_image4.url }}" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="images-12">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-lg-12 pt-lg-0 pb-lg-0 pl-lg-0 pr-lg-0">
                                                                <a class="close" data-dismiss="modal">
                                                                    <img class="img-fluid" src="{% static 'rsvp/wedding/vicky_wanda/images/icon-05.png' %}" />    
                                                                </a>
                                                                <img class="img-fluid" src="{{ x.gallery_image5.url }}" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="images-13">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-lg-12 pt-lg-0 pb-lg-0 pl-lg-0 pr-lg-0">
                                                                <a class="close" data-dismiss="modal">
                                                                    <img class="img-fluid" src="{% static 'rsvp/wedding/vicky_wanda/images/icon-05.png' %}" />    
                                                                </a>
                                                                <img class="img-fluid" src="{{ x.gallery_image6.url }}" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Section Countdown -->
                    <section id="countdown">
                        <div class="container-fluid bg-lightbrown">
                            <div class="row">
                                <div class="col-lg-12 my-lg-5 text-center pt-m-30p pb-m-25p pl-m-10p pr-m-10p pt-lg-10p pb-lg-10p pl-lg-5p pr-lg-5p">
                                    <div class="row mb-m-20p mb-lg-5p">
                                        <div class="col-3 col-lg-3">
                                            <div class="box">
                                                <div id="days" class="number"></div><div class="desc">DAYS</div>
                                            </div>
                                        </div>
                                        <div class="col-3 col-lg-3">
                                            <div class="box">
                                                <div id="hours" class="number"></div><div class="desc">HOURS</div>
                                            </div>
                                        </div>
                                        <div class="col-3 col-lg-3">
                                            <div class="box">
                                                <div id="minutes" class="number"></div><div class="desc">MINUTES</div>
                                            </div>
                                        </div>
                                        <div class="col-3 col-lg-3">
                                            <div class="box">
                                                <div id="seconds" class="number"></div><div class="desc">SECONDS</div>
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="font-white">UNTIL WE GET MARRIED !</h5>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Section RSVP -->
                    <section id="rsvp">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 pl-m-10p pr-m-10p pt-lg-10p pb-lg-10p pl-lg-10p pr-lg-10p">
                                    <h2 data-aos="fade-right" data-aos-once="true"  class="mb-m-10p mb-lg-15p font-lightbrown">CAN’T WAIT TO <br /><span>SEE YOU THERE!</span></h2>
                                    <img class="img-fluid motif" src="{% static 'rsvp/wedding/vicky_wanda/images/icon-06.png' %}" />
                                    <img data-aos="fade-up" data-aos-once="true" class="img-fluid images" src="{{ x.rsvp_image.url }}" />
                                    {% include 'themes/wedding/vicky_wanda/attendance.html' %}
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Footer -->
                    <footer>
                        <div class="container-fluid pt-m-10p pb-m-15p pl-m-10p pr-m-10p py-lg-4 pl-lg-5p pr-lg-5p">
                            <div class="row">
                                <div class="order-2 order-lg-1 col-12 mb-m-0 mtext-center col-lg-8">
                                    <p>All Rights Reserved © This website is made by Reservasi Dulu</p>
                                </div>
                            </div>
                        </div>
                    </footer>

        <!-- End Right Column -->
        </div>
    </div>

    <!-- Customize js -->
    <script>
        new WOW().init();
    </script>
    {% compress js %}
        {% include 'static/js.html' %}
        <script type="text/javascript" src="{% static 'rsvp/wedding/vicky_wanda/app.js' %}"></script>
    {% endcompress %}
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>