<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oops</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div style="align-content: center">
                <h1>Sorry, this content isn't available in your country yet.</h1>
                <br/>
                <h2>But don't worry, We're almost there!</h2> <br>
                <h2>Debugging, is like being a detective in a crime movie where you are also the murderer.</h2>
            </div>
        </div>
    </div>
</body>
</html>