{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} E-Invitation | ReservasiDulu {% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'img/ico.ico' %}">

    {% compress css %}
        {% include 'static/css.html' %}
    {% endcompress %}

</head>

<body>

{% with url_name=request.resolver_match.url_name %}
    {% if url_name == 'account' %}
        {% include 'shared/nav.html' %}
    {% elif url_name == 'my_products' %}
        {% include 'shared/nav.html' %}
    {% elif url_name == 'my_guests' %}
        {% include 'shared/nav.html' %}
    {% else %}
        {% include 'shared/navbar.html' with brand_name='Okular' %}
    {% endif %}
{% endwith %}


{% block content %}
    {# content goes here #}
{% endblock %}
    {% include 'shared/footer.html' %}

    {% compress js %}
        <!--This is JS-->
        {% include 'static/js.html' %}
    {% endcompress %}

    {% compress js %}
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    {% endcompress %}
</body>
</html>

