{% load static %}
{% load compress %}

<form method="post" enctype="multipart/form-data">
{% csrf_token %}
    <div class="form-row">
        <div class="form-group col-12 mb-m-0 pr-m-5">
            <label for="your-firstname">Full Name*</label>
            {{ form_class.name }}
        </div>
        <div class="form-group col-lg-12">
            <label for="your-phone">Phone Number*</label>
            {{ form_class.phone }}
            <label for="your-email">Email*</label>
            {{ form_class.email }}
        </div>
        <div class="form-group col-lg-12">
            <label for="your-guest">Number of Guest</label>
        </div>
        <div class="col-lg-1 px-0">
            <a role="button" id="step-decrement" class="btn btn-default mt-1" aria-label="remove 1" aria-labelledby="step-decrement label-text">
                <i class="fa fa-chevron-left text-gray"></i>
            </a>
        </div>
        <div class="col-lg-3 col-2 pl-0 pr-lg-3 pr-0">
            <input class="w-100 form-control bg-white text-center" disabled type="number" name="your-guest" id="spinner" value="1" placeholder="1" aria-live="polite" tabindex="-1" aria-labelledby="label-text" min="1" max="5">
        </div>
        <div class="col-lg-2 col-1 px-0">
            <a role="button" id="step-increment" class="btn btn-default mt-1 pl-lg-0" aria-label="add 1" aria-labelledby="step-increment label-text">
                <i class="fa fa-chevron-right text-gray"></i>
            </a>
        </div>
        <div class="form-group col-lg-12">
            <button type="submit" class="button-default" data-toggle="modal" data-target="#ebrochure">Submit</button><br><br>
            <!-- modal -->
            <div class="modal fade" id="ebrochure">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 p-0">
                                    <a class="close" data-dismiss="modal"><img class="img-fluid" src="{% static 'rsvp/free/dylan_rose/images/close_dylan_rose.png' %}" /></a>
                                    <div class="wrap">
                                        <h2>Thank You</h2>
                                        <p>We will be looking forward for your presence(s) soon</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal -->
        </div>
    </div>
</form>