{% load static %}
{% load compress %}

<form method="post" enctype="multipart/form-data">
{% csrf_token %}
    <div class="row my-3">
        <div class="col-lg-5">
            <label class="font-green">Full Name*</label>
        </div>
        <div class="col-lg-7">
            {{ form_class.name }}
        </div>
    </div>
    <div class="row my-3">
        <div class="col-lg-5">
            <label class="font-green">Email*</label>
        </div>
        <div class="col-lg-7">
            {{ form_class.email }}
        </div>
    </div>
    <div class="row my-3">
        <div class="col-lg-5">
            <label class="font-green">Phone Number*</label>
        </div>
        <div class="col-lg-7">
            {{ form_class.phone }}
        </div>
    </div>
    <div class="row my-3">
        <div class="col-lg-5">
            <label class="font-green">Additional Guest*</label>
        </div>
        <div class="col-lg-7">
            <div class="row">
                <div class="col-2">
                    <a role="button" id="step-decrement" class="btn btn-default" aria-label="remove 1" aria-labelledby="step-decrement label-text">
                        <i class="fa fa-caret-left font-green"></i>
                    </a>
                </div>
                <div class="col-3">
                    <input class=" text-center" disabled type="number" name="your-guest" id="spinner" value="1" placeholder="1" aria-live="polite" tabindex="-1" aria-labelledby="label-text" min="1" max="5">
                </div>
                <div class="col-2">
                    <a role="button" id="step-increment" class="btn btn-default" aria-label="add 1" aria-labelledby="step-increment label-text">
                        <i class="fa fa-caret-right font-green"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-lg-0 mb-5">
        <div class="col-lg-12 py-3 text-right">
            <button type="submit" class="submit-birthday">SUBMIT</button>
        </div>
    </div>
</form>