{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container-fluid pos-rel pt-lg-15p pb-lg-25  p pl-lg-10p pr-lg-10p">
        <div class="row">
            <div class="col-lg-12">
                <form enctype="application/x-www-form-urlencoded" method="post">
                    {% csrf_token %}
                    <h3>Event Form</h3>
                    {{ form.event_name | as_crispy_field }}<br>
                    {{ form.event_date | as_crispy_field }}<br>
                    {{ form.price | as_crispy_field }}<br>
                    {{ form.slug | as_crispy_field }}<br>
                    {{ form.event_place | as_crispy_field }}<br>
                    <button class="btn btn-outline-primary btn-sm" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="w-lg-100p h-lg-100vh"></div>

{% endblock %}