{% extends "base.html" %}
{% load static %}
{% load compress %}

<title>Home Page Template</title>

{% block base_head %}
<link rel='stylesheet' href='{% static "css/main.css" %}' >
{% endblock %}

{% block content %}
<title>{% block title %}About | ReservasiDulu {% endblock %}</title>

    <div id="main-templates">
        <!-- Section Banner -->
        <div class="container-fluid pos-rel pt-lg-0 pb-lg-0 pl-lg-0 pr-lg-0 templates-banner about-banner fadein">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-fluid w-lg-100p d-none d-lg-block" src="{% static 'img/about-banner.png' %}" alt="reservasidulu" />
                    <img class="img-fluid w-lg-100p d-lg-none" src="{% static 'img/about-banner-mobile-02.png' %}" alt="reservasidulu" />
                    <img class="img-fluid boxv image d-none d-lg-block" src="{% static 'img/about-image-01.png' %}" alt="reservasidulu" />
                    <img class="img-fluid boxv image d-lg-none" src="{% static 'img/about-image-01-mobile-03.png' %}" alt="reservasidulu" />
                    <div class="boxv desc animated fadeInRight" style="animation-delay: 1s !important;">
                        <h2 class="font-white mb-lg-10">
                            {{ x.heading | safe }}
                        </h2>
                        <a id="chevron-down" href="#about-brief">
                            <h5 class="font-white mr-lg-15">Scroll down</h5>
                            <img class="arrow" src="{% static 'img/arrow-down.png' %}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section Brief -->
        <div id="about-brief" class="container-fluid pos-rel pb-lg-5p pl-lg-10p pr-lg-10p pt-m-20p pb-m-20p about-brief pr-0">
            <div class="row">
                <div class="col-lg-5 pt-lg-15p slideanim pr-lg-3 pr-5">
                    <p>
                        {{ x.section1 | safe }}
                    </p>
                    <h4 class="mt-lg-5p"><b>{{ x.section2 | safe }}</b></h4>
                </div>
                <div class="col-lg-7 text-right slideanimX px-lg-3 pr-0">
                    <img class="img-fluid image d-none d-lg-block" src="{% static 'img/about-image-02.png' %}" />
                    <img class="img-fluid image d-lg-none" src="{% static 'img/about-image-02-mobile-03.png' %}" />
                </div>
            </div>
        </div>
        <div class="footer-divider"></div>
    </div>

{% endblock %}