<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Reservasi Dulu | FAQ</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="css/animation.css" >
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Features css -->
    <link rel="stylesheet" href="features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
</head>
<body>
    <!-- Navigation -->
    <div id="top"></div>
    <nav id="navigation" class="fadein">
        <div class="container-fluid pt-lg-20 pb-lg-20 pl-lg-5p pr-lg-5p">
            <div class="row">
                <div class="col-lg-3">
                    <a href="index.html"><img class="logo" src="images/logo.png" alt="reservasidulu"></a>
                </div>
                <div class="col-lg-6 menuhov">
                    <div class="menu">
                        <ul>
                            <li><a href="why-us.html">Why Us?</a></li>
                            <li><a href="tour.html">Tour</a></li>
                            <li>
                                <a href="templates-landing.html">Templates</a>
                                <div class="submenu">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <h2>Hi There!</h2>
                                                <h5><span>Find what you’re looking for?</span></h5>
                                            </div>
                                            <div class="col-lg-6">
                                                <ul class="navtemplates">
                                                    <li><a href="templates-wedding.html">Wedding</a></li>
                                                    <li><a href="templates-birthday.html">Birthday</a></li>
                                                    <li><a href="templates-events.html">Events</a></li>
                                                    <li><a href="templates-free.html">Free</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a class="active" href="faq.html">Faq</a></li>
                            <li><a href="contact-us.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 pl-lg-0 pr-lg-0 text-center">
                    <a class="button-orange getstarted" href="signup.html">
                        <p class="font-white">Get Started</p>
                        <img src="images/button-01.png">
                    </a>
                    <a class="button-orange login" href="login.html">
                        <p class="font-white">Login</p>
                        <img src="images/button-02.png">
                    </a>
                </div>
            </div>
        </div>
    </nav>