{% extends 'base.html' %}
{% load static %}

{% block content %}
    <title>{% block title %}FAQ | ReservasiDulu {% endblock %}</title>
    <!-- Main -->
    <div id="main-templates">
        <!-- Section Banner -->
        <div class="container-fluid pos-rel pt-lg-0 pb-lg-0 pl-lg-0 pr-lg-0 templates-banner faq-banner fadein">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-fluid w-lg-100p" src="{% static 'img/faq-background.png' %}" alt="reservasidulu" />
                    <img class="img-fluid boxv image birthday" src="{% static 'img/faq-image.png' %}" alt="reservasidulu" />
                    <div class="boxv desc animated fadeInRight" style="animation-delay: 1s !important;">
                        <h2 class="font-white mb-lg-30">Your Answer for<br><span>Frequently<br>Ask Question</span></h2>
                        <a id="chevron-down" href="#faq-content">
                            <h5 class="font-white mr-lg-15">Scroll down</h5>
                            <img class="arrow" src="{% static 'img/arrow-down.png' %}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section Content -->
        <div id="faq-content" class="container-fluid pos-rel faq-content">
            <div class="row">
                <div class="col-lg-12 pl-lg-0 pr-lg-0">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" href="#fc-account" role="tab" data-toggle="tab">Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#fc-transaction" role="tab" data-toggle="tab">Transaction</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#fc-template" role="tab" data-toggle="tab">Template</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#fc-payment" role="tab" data-toggle="tab">Payment</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeInUp" id="fc-account">
                            <div class="container-fluid pt-lg-10p pb-lg-10p pl-lg-10p pr-lg-10p">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="faq-sidemenu">
                                            <ul>
                                                <li><a class="faq-sidemenuanim" href="#signuplogin">Sign Up & Log In</a></li>
                                                <li><a class="faq-sidemenuanim" href="#myaccountsettings">My Account Settings</a></li>
                                                <li><a class="faq-sidemenuanim" href="#password">Password</a></li>
                                                <li><a class="faq-sidemenuanim" href="#otpcode">OTP Code</a></li>
                                                <li><a class="faq-sidemenuanim" href="#accountblocked">Account Blocked</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 faq-accordion">
                                        <!-- Item -->
                                        <div class="container-fluid item">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div id="signuplogin" class="faq-target"></div>
                                                    <h3 class="mb-lg-5p title slideanim">Sign Up & Log In</h3>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div id="faqparent-signuplogin" class="shadow-lightgray">
                                                        <div class="card border-radius-0">
                                                            <div class="card-header">
                                                                <a class="card-link collapsed" data-toggle="collapse" href="#howdoisignup">
                                                                    How Do I Sign Up?
                                                                </a>
                                                            </div>
                                                            <div id="howdoisignup" class="collapse" data-parent="#faqparent-signuplogin">
                                                                <div class="card-body">
                                                                    <p>
                                                                        1. &nbsp&nbsp&nbsp Select <strong>“Register”</strong> at the top right corner of the Reservasidulu homepage<br>
                                                                        2. &nbsp&nbsp&nbsp Select <strong>“Register with E-mail”</strong><br>
                                                                        3. &nbsp&nbsp&nbsp You will be connected to your Google account<br>
                                                                        4. &nbsp&nbsp&nbsp Input your verification code that you have received via-email<br>
                                                                        5. &nbsp&nbsp&nbsp Your account has been successfully created<br>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card border-radius-0">
                                                            <div class="card-header">
                                                                <a class="card-link collapsed" data-toggle="collapse" href="#howdoilogin">
                                                                    How Do I Log In?
                                                                </a>
                                                            </div>
                                                            <div id="howdoilogin" class="collapse" data-parent="#faqparent-signuplogin">
                                                                <div class="card-body">
                                                                    <p>
                                                                        1. &nbsp&nbsp&nbsp Select the <b>“Log In”</b> button on the top right corner in our website.<br />
                                                                        2.  &nbsp&nbsp&nbsp Fill in your email address and password that you already create in <a href="">sign up page.</a><br />
                                                                        3.  &nbsp&nbsp&nbsp Click <b>“Log In”.</b>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Item -->
                                        <div class="container-fluid item">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div id="password" class="faq-target"></div>
                                                    <h3 class="mb-lg-5p title slideanim">Password</h3>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div id="faqparent-myaccountsettings" class="shadow-lightgray">
                                                        <div class="card border-radius-0">
                                                            <div class="card-header">
                                                                <a class="card-link collapsed" data-toggle="collapse" href="#howdoisignup2">
                                                                    I Forgot My Password
                                                                </a>
                                                            </div>
                                                            <div id="howdoisignup2" class="collapse" data-parent="#faqparent-myaccountsettings">
                                                                <div class="card-body">
                                                                    <p>
                                                                        1. &nbsp&nbsp&nbsp Select <strong>“Log In”</strong> on Reservasidulu homepage<br>
                                                                        2. &nbsp&nbsp&nbsp Select <strong>Forgot Password</strong><br>
                                                                        3. &nbsp&nbsp&nbsp Enter the e-mail address you used to register<br>
                                                                        4. &nbsp&nbsp&nbsp Enter the verifications code that has been sent to your e-mail<br>
                                                                        5. &nbsp&nbsp&nbsp Enter your new password, then click <strong>Change Password.</strong><br>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Item -->
                                        <div class="container-fluid item">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div id="otpcode" class="faq-target"></div>
                                                    <h3 class="mb-lg-5p title slideanim">OTP Code</h3>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div id="faqparent-myaccountsettings" class="shadow-lightgray">
                                                        <div class="card border-radius-0">
                                                            <div class="card-header">
                                                                <a class="card-link collapsed" data-toggle="collapse" href="#otp">
                                                                    I Didn’t Receive OTP Code
                                                                </a>
                                                            </div>
                                                            <div id="otp" class="collapse" data-parent="#faqparent-myaccountsettings">
                                                                <div class="card-body">
                                                                    <p>
                                                                        1. &nbsp&nbsp&nbsp Make sure you are using registered e-mail<br>
                                                                        2. &nbsp&nbsp&nbsp If you used the registered e-mail, but still not receive an OTP code, please click <strong>Resend</strong> <br>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Item -->
                                        <div class="container-fluid item">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div id="accountblocked" class="faq-target"></div>
                                                    <h3 class="mb-lg-5p title slideanim">Account Blocked</h3>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div id="faqparent-myaccountsettings" class="shadow-lightgray">
                                                        <div class="card border-radius-0">
                                                            <div class="card-header">
                                                                <a class="card-link collapsed" data-toggle="collapse" href="#myaccblocked">
                                                                    My Account is Blocked
                                                                </a>
                                                            </div>
                                                            <div id="myaccblocked" class="collapse" data-parent="#faqparent-myaccountsettings">
                                                                <div class="card-body">
                                                                    <p>
                                                                        For security reasons, your account will be blocked after 3 unsuccessful login attempts. Here’s how you can unblock it.<br>
                                                                        <br>
                                                                        1. &nbsp&nbsp&nbsp Select “Log In” on Reservasidulu homepage, then choose Forgot Password<br>
                                                                        2. &nbsp&nbsp&nbsp Enter your e-mail address<br>
                                                                        3. &nbsp&nbsp&nbsp Answer the secret question<br>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane animated fadeInUp" id="fc-transaction">
                            <div class="container-fluid pt-lg-10p pb-lg-10p pl-lg-10p pr-lg-10p">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="faq-sidemenu">
                                            <ul>
                                                <li><a class="faq-sidemenuanim" href="#howtobuy">How To Buy</a></li>
                                                <li><a class="faq-sidemenuanim" href="#invoice">Invoice</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 faq-accordion">
                                        <!-- Item -->
                                        <div class="container-fluid item">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div id="howtobuy" class="faq-target"></div>
                                                    <h3 class="mb-lg-5p title slideanim">How To Buy</h3>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div id="faqparent-signuplogintransaction" class="shadow-lightgray">
                                                        <div class="card border-radius-0">
                                                            <div class="card-header">
                                                                <a class="card-link collapsed" data-toggle="collapse" href="#howtobuyourtemp">
                                                                    How To Buy Our Templates
                                                                </a>
                                                            </div>
                                                            <div id="howtobuyourtemp" class="collapse" data-parent="#faqparent-signuplogintransaction">
                                                                <div class="card-body">
                                                                    <p>
                                                                        1. &nbsp&nbsp&nbsp Choose the invitation template you want.
                                                                        2. &nbsp&nbsp&nbsp You will redirect to Payment.
                                                                        3. &nbsp&nbsp&nbsp Make a payment according to the method, before the estimated time given expires.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Item -->
                                        <div class="container-fluid item">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div id="invoice" class="faq-target"></div>
                                                    <h3 class="mb-lg-5p title slideanim">Invoice</h3>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div id="faqparent-myaccountsettingstransaction" class="shadow-lightgray">
                                                        <div class="card border-radius-0">
                                                            <div class="card-header">
                                                                <a class="card-link collapsed" data-toggle="collapse" href="#howdoisignup4">
                                                                    Where can I find my invoices?
                                                                </a>
                                                            </div>
                                                            <div id="howdoisignup4" class="collapse" data-parent="#faqparent-myaccountsettingstransaction">
                                                                <div class="card-body">
                                                                    <p>
                                                                        We will send an e-mail with the invoice attached or you can contact bank directly to get. Please note that we do not send paper invoices by mail.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane animated fadeInUp" id="fc-template">
                            <div class="container-fluid pt-lg-10p pb-lg-10p pl-lg-10p pr-lg-10p">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="faq-sidemenu">
                                            <ul>
                                                <li><a class="faq-sidemenuanim" href="#signuplogintemplate">My Templates</a></li>
                                                <li><a class="faq-sidemenuanim" href="#myaccountsettingstemplate">Free Vs Premium</a></li>
                                                <li><a class="faq-sidemenuanim" href="#photo">Photo</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 faq-accordion">
                                        <!-- Item -->
                                        <div class="container-fluid item">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div id="signuplogintemplate" class="faq-target"></div>
                                                    <h3 class="mb-lg-5p title slideanim">My Templates</h3>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div id="faqparent-signuplogintemplate" class="shadow-lightgray">
                                                        <div class="card border-radius-0">
                                                            <div class="card-header">
                                                                <a class="card-link collapsed" data-toggle="collapse" href="#howdoisignup5">
                                                                    How do I edit my template?
                                                                </a>
                                                            </div>
                                                            <div id="howdoisignup5" class="collapse" data-parent="#faqparent-signuplogintemplate">
                                                                <div class="card-body">
                                                                    <p>
                                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies ac ipsum ut convallis. Phasellus a lacus eu dolor venenatis finibus id vel eros. In scelerisque, eros eu ullamcorper suscipit, metus mi tincidunt augue, sed consectetur erat odio id nisl. Maecenas vel placerat nisi, sed suscipit sem. Maecenas gravida porttitor dignissim. Quisque ac malesuada nisl, sed tincidunt mauris. In at aliquam quam, ac suscipit felis. Fusce porta risus eu tellus imperdiet lobortis in id lacus. Praesent at augue at dolor dignissim lobortis. Nam quis nunc non enim convallis dignissim. Aliquam quis volutpat diam. Cras ac ipsum nisl. Duis et varius ligula. Ut finibus eleifend nunc vitae elementum. Duis eget consectetur mi, non elementum felis. Mauris a odio dolor.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card border-radius-0">
                                                            <div class="card-header">
                                                                <a class="card-link collapsed" data-toggle="collapse" href="#howdoilogin5">
                                                                    Where can I see my template
                                                                </a>
                                                            </div>
                                                            <div id="howdoilogin5" class="collapse" data-parent="#faqparent-signuplogintemplate">
                                                                <div class="card-body">
                                                                    <p>
                                                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, unde nihil. Repudiandae impedit nemo, perspiciatis perferendis, eligendi provident, ea dolorum reprehenderit ducimus error suscipit alias ipsa magnam officia nam similique.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card border-radius-0">
                                                            <div class="card-header">
                                                                <a class="card-link collapsed" data-toggle="collapse" href="#iforgotmypassword5">
                                                                    My template is taking too long
                                                                </a>
                                                            </div>
                                                            <div id="iforgotmypassword5" class="collapse" data-parent="#faqparent-signuplogintemplate">
                                                                <div class="card-body">
                                                                    <p>
                                                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto libero, dolorem minima laborum voluptatem deserunt nesciunt aspernatur harum tempora dicta perferendis fugit, eaque eos quas numquam voluptatibus dolor. Commodi, itaque.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card border-radius-0">
                                                            <div class="card-header">
                                                                <a class="card-link collapsed" data-toggle="collapse" href="#ididntreceiveotpcode5">
                                                                    How to limit the number of attendants
                                                                </a>
                                                            </div>
                                                            <div id="ididntreceiveotpcode5" class="collapse" data-parent="#faqparent-signuplogintemplate">
                                                                <div class="card-body">
                                                                    <p>
                                                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ea magni fuga porro, odio dicta ullam quos nemo? Provident numquam fugit perferendis debitis sequi quos deserunt commodi autem nihil veniam.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card border-radius-0">
                                                            <div class="card-header">
                                                                <a class="card-link collapsed" data-toggle="collapse" href="#myaccountisblocked5">
                                                                    How To limit the number of tickets soldHow To limit the number of tickets sold
                                                                </a>
                                                            </div>
                                                            <div id="myaccountisblocked5" class="collapse" data-parent="#faqparent-signuplogintemplate">
                                                                <div class="card-body">
                                                                    <p>
                                                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi adipisci labore sunt provident delectus veniam placeat nobis architecto voluptatum magnam, omnis inventore dicta dolorem eaque maxime aliquid. Corrupti, incidunt animi!
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Item -->
                                        <div class="container-fluid item">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div id="myaccountsettingstemplate" class="faq-target"></div>
                                                    <h3 class="mb-lg-5p title slideanim">Free Vs Premium</h3>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div id="faqparent-myaccountsettingstemplate" class="shadow-lightgray">
                                                        <div class="card border-radius-0">
                                                            <div class="card-header">
                                                                <a class="card-link collapsed" data-toggle="collapse" href="#howdoisignup6">
                                                                    Free vs Premium Templates
                                                                </a>
                                                            </div>
                                                            <div id="howdoisignup6" class="collapse" data-parent="#faqparent-myaccountsettingstemplate">
                                                                <div class="card-body">
                                                                    <p>
                                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ab doloremque deleniti beatae dolorem aliquam odio. Nam, ab adipisci ut placeat iusto cupiditate aliquid similique porro odit sint distinctio architecto.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Item -->
                                        <div class="container-fluid item">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div id="photo" class="faq-target"></div>
                                                    <h3 class="mb-lg-5p title slideanim">Photo</h3>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div id="faqparent-myaccountsettingstemplate" class="shadow-lightgray">
                                                        <div class="card border-radius-0">
                                                            <div class="card-header">
                                                                <a class="card-link collapsed" data-toggle="collapse" href="#howdoilogin6">
                                                                    I don’t have enough photos
                                                                </a>
                                                            </div>
                                                            <div id="howdoilogin6" class="collapse" data-parent="#faqparent-myaccountsettingstemplate">
                                                                <div class="card-body">
                                                                    <p>
                                                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet, veritatis necessitatibus rem similique libero soluta. Sequi, vel, sed adipisci doloribus aperiam labore ut dolores velit nisi fugiat praesentium molestiae cupiditate?
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane animated fadeInUp" id="fc-payment">
                            <div class="container-fluid pt-lg-10p pb-lg-10p pl-lg-10p pr-lg-10p">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="faq-sidemenu">
                                            <ul>
                                                <li><a class="faq-sidemenuanim" href="#signuploginpayment">Method</a></li>
                                                <li><a class="faq-sidemenuanim" href="#myaccountsettingspayment">Transaction Declined</a></li>
                                                <li><a class="faq-sidemenuanim" href="#help">Help</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 faq-accordion">
                                        <!-- Item -->
                                        <div class="container-fluid item">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div id="signuploginpayment" class="faq-target"></div>
                                                    <h3 class="mb-lg-5p title slideanim">Method</h3>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div id="faqparent-signuploginpayment" class="shadow-lightgray">
                                                        <div class="card border-radius-0">
                                                            <div class="card-header">
                                                                <a class="card-link collapsed" data-toggle="collapse" href="#howdoisignup7">
                                                                    What kind of payment methods can I use?
                                                                </a>
                                                            </div>
                                                            <div id="howdoisignup7" class="collapse" data-parent="#faqparent-signuploginpayment">
                                                                <div class="card-body">
                                                                    <p>
                                                                        Payment can be made by credit card, Mastercard and Visa. We’re currently unable to accept cash, debit card, or bank transfer.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Item -->
                                        <div class="container-fluid item">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div id="myaccountsettingspayment" class="faq-target"></div>
                                                    <h3 class="mb-lg-5p title slideanim">Transaction Declined</h3>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div id="faqparent-myaccountsettingspayment" class="shadow-lightgray">
                                                        <div class="card border-radius-0">
                                                            <div class="card-header">
                                                                <a class="card-link collapsed" data-toggle="collapse" href="#whyhas">
                                                                    Why has my card transaction been declined?
                                                                </a>
                                                            </div>
                                                            <div id="whyhas" class="collapse" data-parent="#faqparent-myaccountsettingspayment">
                                                                <div class="card-body">
                                                                    <p>
                                                                        There are number of reasons why your transaction may have been declined, these could be:<br>
                                                                        <br>
                                                                        1. &nbsp&nbsp&nbsp You’ve exceeded your limit<br>
                                                                        2. &nbsp&nbsp&nbsp Your card has expired<br>
                                                                        3. &nbsp&nbsp&nbsp Invalid credit card number, CVV number, or expiration date.<br>
                                                                        4. &nbsp&nbsp&nbsp Different billing address on your payment method.<br>
                                                                        <br>   
                                                                        <br>
                                                                        If you continue to have trouble, we recommend contacting your bank to see if there’s a problem with your card.<br>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Item -->
                                        <div class="container-fluid item">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div id="help" class="faq-target"></div>
                                                    <h3 class="mb-lg-5p title slideanim">Help</h3>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div id="faqparent-myaccountsettingspayment" class="shadow-lightgray">
                                                        <div class="card border-radius-0">
                                                            <div class="card-header">
                                                                <a class="card-link collapsed" data-toggle="collapse" href="#howdoisignup8">
                                                                    Need more help?
                                                                </a>
                                                            </div>
                                                            <div id="howdoisignup8" class="collapse" data-parent="#faqparent-myaccountsettingspayment">
                                                                <div class="card-body">
                                                                    <p>
                                                                        If you continue to have trouble, reach out to our team so we can take a look to see what is causing the issue.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-lg-100p h-lg-115vh"></div>
    </div>
    
{% endblock %}