{% extends 'base.html' %}
{% load static %}

{% block content %}
    <title>{% block title %}FAQ | ReservasiDulu {% endblock %}</title>
    <!-- Main -->
    <div id="main-templates">
        <!-- Section Banner -->
        <div class="container-fluid pos-rel pt-lg-0 pb-lg-0 pl-lg-0 pr-lg-0 templates-banner faq-banner fadein">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-fluid w-lg-100p" src="{% static 'img/faq/faq-background.png' %}" alt="reservasidulu" />
                    <img class="img-fluid boxv image birthday" src="{% static 'img/faq/faq-image.png' %}" alt="reservasidulu" />
                    <div class="boxv desc animated fadeInRight" style="animation-delay: 1s !important;">
                        <h2 class="font-white mb-lg-30">Your Answer for<br><span>Frequently<br>Ask Question</span></h2>
                        <a id="chevron-down" href="#faq-content">
                            <h5 class="font-white mr-lg-15">Scroll down</h5>
                            <img class="arrow" src="{% static 'img/arrow-down.png' %}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section Content -->
        <div id="faq-content" class="container-fluid pos-rel faq-content">
            <div class="row">
                <div class="col-lg-12 pl-lg-0 pr-lg-0">
                    {# Tab title goes here #}
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" href="#fc-Account" role="tab" data-toggle="tab">Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#fc-Transaction" role="tab" data-toggle="tab">Transaction</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#fc-Templates" role="tab" data-toggle="tab">Template</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#fc-Payment" role="tab" data-toggle="tab">Payment</a>
                        </li>
                    </ul>

                    {# content goes here #}
                    <div class="tab-content">
                    {% for i in x %}
                        <div role="tabpanel" class="tab-pane animated fadeInUp" id="fc-{{ i.category | safe}}">
                            <div class="container-fluid pt-lg-10p pb-lg-10p pl-lg-10p pr-lg-10p">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="faq-sidemenu">
                                            <ul>
                                                <li><a class="faq-sidemenuanim" href="#{{ i.title }}">{{ i.title }}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 faq-accordion">
                                        <!-- Item -->
                                        <div class="container-fluid item">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div id="signuplogintransaction" class="faq-target"></div>
                                                    <h3 class="mb-lg-5p title slideanim">{{ i.title }}</h3>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div id="faqparent-signuplogintransaction" class="shadow-lightgray">
                                                        <div class="card border-radius-0">
                                                            <div class="card-header">
                                                                <a class="card-link collapsed" data-toggle="collapse" href="#howdoisignup3">
                                                                    {{ i.sub_title }}
                                                                </a>
                                                            </div>
                                                            <div id="howdoisignup3" class="collapse" data-parent="#faqparent-signuplogintransaction">
                                                                <div class="card-body">
                                                                    <p>
                                                                        {{ i.content | safe }}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>


        <div class="w-lg-100p h-lg-115vh"></div>
    </div>

{% endblock %}