{% extends "base.html" %}
{% load static %}
{% load compress %}

<title>ReservasiDulu</title>

{% block base_head %}
{#<link rel='stylesheet' href='{% static "css/main.css" %}' >#}
{% endblock %}

{% block content %}

    <div id="top"></div>
    <style type="text/css">
        #navigation{
            position: fixed;
            z-index: 1030;
            display: none;
            top: 0;
            right: 0;
            width: 100% !important;
            outline: none;
        }
        #navigation:active{background:none;}
    </style>
    <!-- Main -->
    <div id="main-home">
        <!-- Section Banner -->
        <div class="fadein">
            <div class="container-fluid pos-rel pl-lg-0 pr-lg-0 home-banner" style="background: url(https://res.cloudinary.com/dtvdvurhh/image/upload/v1611128799/reservasidulu/img/static/home/home-background-01-new_n9fzr5.png);">
                <img class="img-fluid home-banner-ornament animated" style="animation-duration: 200ms;" src="https://res.cloudinary.com/dtvdvurhh/image/upload/v1611129161/reservasidulu/img/static/home/test-02_onynlc.png" />
                <div class="row">
                    <!-- Section 1 -->
                    <div class="col-lg-12 sec-1">
                        <div class="image-setup-1 show-on-scroll is-visible">
                            <div class="image-animation-1">
                                <div class="box-image">
                                    <img class="d-none d-lg-block image" src="https://res.cloudinary.com/dtvdvurhh/image/upload/v1611129270/reservasidulu/img/static/home/home-banner-ornament-01_be3esm.png">
                                    <img class="d-block d-lg-none image" src="https://res.cloudinary.com/dtvdvurhh/image/upload/v1611129217/reservasidulu/img/static/home/mobile-home-banner-ornament-01_b6wwwo.png">
                                    <img class="motif-01" src="https://res.cloudinary.com/dtvdvurhh/image/upload/v1611129270/reservasidulu/img/static/home/home-banner-ornament-02_rdkdqt.png">
                                </div>
                            </div>
                        </div>
                        <div class="desc-setup-1 show-on-scroll is-visible">
                            <div class="desc-animation-1">
                                <div class="box-desc animated fadeInRight" style="animation-delay: 1s !important;">
                                    <h2 class="mb-m-5 mb-lg-15">{{ x.header_text_1 | safe }}</h2>
                                    <p>{{ x.sub_header_1 | safe }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section 2 -->
                    <div class="col-lg-12 sec-2">
                        <div class="image-setup-2 show-on-scroll">
                            <div class="image-animation-2">
                                <div class="box-image">
                                    <img class="d-none d-lg-block image" src="https://res.cloudinary.com/dtvdvurhh/image/upload/v1611129437/reservasidulu/img/static/home/home-image_unlbc4.png">
                                    <img class="d-block d-lg-none image" src="https://res.cloudinary.com/dtvdvurhh/image/upload/v1611129217/reservasidulu/img/static/home/mobile-home-banner-ornament-02_fk8n1w.png">
{#                                    <!-- <img class="motif-01" src="{% static 'img/01-home/home-image-02.png' %}"> -->#}
                                    <img class="motif-02" src="https://res.cloudinary.com/dtvdvurhh/image/upload/v1611129527/reservasidulu/img/static/home/home-image-03_nort8z.png">
                                </div>
                            </div>
                        </div>
                        <div class="desc-setup-2 show-on-scroll">
                            <div class="desc-animation-2">
                                <div class="box-desc">
                                    <h2 class="mb-m-5 mb-lg-15">{{ x.header_text_2 | safe }}</h2>
                                    <p>{{ x.sub_header_2 | safe }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section 3 -->
                    <div class="col-lg-12 sec-3">
                        <div class="image-setup-3 show-on-scroll">
                            <div class="image-animation-3">
                                <div class="box-image">
                                    <img class="d-none d-lg-block image" src="https://res.cloudinary.com/dtvdvurhh/image/upload/v1611129217/reservasidulu/img/static/home/mobile-home-banner-ornament-02_fk8n1w.png">
                                    <img class="d-block d-lg-none image" src="https://res.cloudinary.com/dtvdvurhh/image/upload/v1611133099/reservasidulu/img/static/home/mobile-home-banner-ornament-03_aqfaqo.png">
                                    <img class="motif-01" src="https://res.cloudinary.com/dtvdvurhh/image/upload/v1611132952/reservasidulu/img/static/home/home-image-05_rrqi2q.png">
                                </div>
                            </div>
                        </div>

                        <div class="desc-setup-3 show-on-scroll">
                            <div class="desc-animation-2">
                                <div class="box-desc">
                                    <h2 class="mb-m-5 mb-lg-15">{{ x.header_text_3 | safe }}</h2>
                                    <p>{{ x.sub_header_3 | safe }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section Brief -->
        <div class="container-fluid pos-rel pt-lg-10p pb-lg-10p pl-lg-15p pr-lg-15p pl-m-5p pr-m-5p home-brief">
            <div class="row">
                <div class="col-lg-12">
                    <div class="quote font-darkgrey slideanim">
                        <p>{{ x.section_2_text | safe }}</p>
                        <img class="motif-01 l-lg-0" src="{% static 'img/quote-left.png' %}">
                        <img class="motif-02 r-lg-0" src="{% static 'img/quote-right.png' %}">
                    </div>
                </div>
                <img class="background d-none d-lg-block" src="{% static 'img/01-home/test-01.png' %}">
                <img class="background d-block d-lg-none" src="https://res.cloudinary.com/dtvdvurhh/image/upload/v1611133023/reservasidulu/img/static/home/mobile-home-background-01_ape6tm.png">
            </div>
        </div>

        <!-- Section Invitation -->
        <div class="container-fluid pos-rel pt-lg-15p pb-lg-10p pl-lg-10p pr-lg-10p pt-m-30p pb-m-20p home-invitation">
            <div class="row slideanim">
                <div class="col-lg-12 mb-lg-5p pb-lg-50 pb-m-10p text-center">
                    <h2><span>I want to make</span> an invitation for ____</h2>
                </div>
                <div class="col-lg-12">
                    <div class="container-fluid pos-rel pl-lg-0 pr-lg-0">
                        <div class="row">
                            <img class="img-fluid d-none d-lg-block boxc line" src="{% static 'img/01-home/home-invitation-01.png' %}" />
                            <div class="col-lg-4 mb-m-15p text-center">
                                <img class="img-fluid d-none d-lg-block background" src="{% static 'img/01-home/home-invitation-02.png' %}" />
                                <img class="img-fluid d-none d-lg-block boxc image-01" src="https://res.cloudinary.com/dtvdvurhh/image/upload/v1611133348/reservasidulu/img/static/home/home-invitation-05_iqvily.png" />
                                <a class="d-none d-lg-block font-darkgrey"><h5><span>Wedding</span></h5></a>
                                <a class="d-block d-lg-none mb-lg-10" href="{% url 'wedding_page' %}">
                                    <img class="img-fluid w-lg-100p w-m-70p" src="{% static 'img/01-home/home-image-08.png' %}" />
                                </a>
                                <a class="d-block d-lg-none" href="{% url 'wedding_page' %}">Wedding</a>
                                <a href="{% url 'wedding_page' %}">
                                    <div class="d-none d-lg-block home-invitation-card"></div>
                                </a>
                            </div>
                            <div class="col-lg-4 mb-m-15p text-center">
                                <img class="img-fluid d-none d-lg-block background" src="{% static 'img/01-home/home-invitation-03.png' %}" />
                                <img class="img-fluid d-none d-lg-block boxc image-02" src="https://res.cloudinary.com/dtvdvurhh/image/upload/v1611133348/reservasidulu/img/static/home/home-invitation-06_qterqz.png" />
                                <a class="d-none d-lg-block font-darkgrey"><h5><span>Birthday</span></h5></a>
                                <a class="d-block d-lg-none mb-lg-10" href="{% url 'birthday' %}">
                                    <img class="img-fluid w-lg-100p w-m-70p" src="{% static 'img/01-home/home-image-09.png' %}" />
                                </a>
                                <a class="d-block d-lg-none" href="{% url 'birthday' %}">Birthday</a>
                                <a href="{% url 'birthday' %}">
                                    <div class="d-none d-lg-block home-invitation-card mid"></div>
                                </a>
                            </div>
                            <div class="col-lg-4 text-center">
                                <img class="img-fluid d-none d-lg-block background" src="{% static 'img/01-home/home-invitation-04.png' %}" />
                                <img class="img-fluid d-none d-lg-block boxc image-03" src="https://res.cloudinary.com/dtvdvurhh/image/upload/v1611133348/reservasidulu/img/static/home/home-invitation-07_ljvuf4.png" />
                                <a class="d-none d-lg-block font-darkgrey"><h5><span>Event</span></h5></a>
                                <a class="d-block d-lg-none mb-lg-10" href="{% url 'event' %}">
                                    <img class="img-fluid w-lg-100p w-m-70p" src="{% static 'img/01-home/home-image-10.png' %}" />
                                </a>
                                <a class="d-block d-lg-none" href="{% url 'event' %}">Event</a>
                                <a href="{% url 'event' %}">
                                    <div class="d-none d-lg-block home-invitation-card"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section Steps -->
        <div class="container-fluid pos-rel pt-lg-5p pb-lg-15p pl-lg-10p pr-lg-0 pt-m-10p pb-m-20p home-steps">
            <div class="row">
                <div class="col-lg-5 pb-m-0 pr-m-0">
                    <div class="pt-m-0 pt-lg-30p">
                        <div class="w-lg-80p slideanim">
                            <h3 class="mb-lg-30 mb-m-15p"><span>Reservasi Dulu</span> is as easy as A, B, C, D <i class="font-montserrat-italic font-lg-11">literally</i></h3>
                        </div>
                        <div class="tabs-home-steps">
                            <ul id="nav-box" class="mb-lg-30 slideanim">
                                <a class="nav-tab" target="steps1">
                                    <li><div class="numb">1</div></li>
                                </a>
                                <a class="nav-tab" target="steps2">
                                    <li><div class="numb">2</div></li>
                                </a>
                                <a class="nav-tab" target="steps3">
                                    <li><div class="numb">3</div></li>
                                </a>
                                <a class="nav-tab" target="steps4">
                                    <li><div class="numb">4</div></li>
                                </a>
                            </ul>
                            <img class="img-fluid d-block d-lg-none mb-m-10p slideanimX" src="https://res.cloudinary.com/dtvdvurhh/image/upload/v1611132871/reservasidulu/img/static/home/home-image-11_wgumhu.png">
                            <div class="tabs animated fadeInUp" id="tab-steps1">
                                <h4><span>{{ x.step_1_title}}</span></h4>
                                <div class="w-lg-95p">
                                    {{ x.step_1_text | safe }}
                                    {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare justo felis, et congue augue lacinia id. Praesent elit dolor, posuere ac congue vel, condimentum quis lacus.</p>#}
                                </div>
                            </div>
                            <div class="tabs animated fadeInUp" id="tab-steps2">
                                <h4><span>{{ x.step_2_title}}</span></h4>
                                <div class="w-lg-95p">
                                    {{ x.step_2_text | safe }}
                                    {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare justo felis, et congue augue lacinia id. Praesent elit dolor, posuere ac congue vel, condimentum quis lacus.</p>#}
                                </div>
                            </div>
                            <div class="tabs animated fadeInUp" id="tab-steps3">
                                <h4><span>{{ x.step_3_title }}</span></h4>
                                <div class="w-lg-95p">
                                    {{ x.step_3_text | safe }}
                                    {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare justo felis, et congue augue lacinia id. Praesent elit dolor, posuere ac congue vel, condimentum quis lacus.</p>#}
                                </div>
                            </div>
                            <div class="tabs animated fadeInUp" id="tab-steps4">
                                <h4><span>{{ x.step_4_title }}</span></h4>
                                <div class="w-lg-95p">
                                    {{ x.step_4_text | safe }}
                                    {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare justo felis, et congue augue lacinia id. Praesent elit dolor, posuere ac congue vel, condimentum quis lacus.</p>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 d-none d-lg-block slideanimX">
                    <img class="img-fluid" src="https://res.cloudinary.com/dtvdvurhh/image/upload/v1611132871/reservasidulu/img/static/home/home-image-11_wgumhu.png">
                </div>
            </div>
        </div>

        <!-- Section Price & Testimony -->
        {% include 'shared/partials/price_testimony.html' %}

        <!-- Section Template -->
        {% include 'shared/partials/home_theme.html' %}

        <!-- Section Free -->
        <div class="container-fluid pos-rel pt-lg-5p pb-lg-5p pl-lg-0 pr-lg-0 home-free slideanim">
            <div class="row">
                <div class="col-lg-12">
                    <div class="wrap">
                        <div class="boxc line"></div>
                        <div class="title">
                            <h3>Are you <br><span>not ready</span> to <br>sign up yet?</h3>
                        </div>
                        <div class="desc">
                            <p>Yes it’s absolutely okay if you’re not ready! Click the button below to try out our demo account for free!</p>
                            <div class="col-lg-12 text-center">
                                <a class="button-orange" href="{% url 'free' %}">
                                    <p class="font-white">I want to try!</p>
                                    <img src="{% static 'img/button-01.png' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 pl-lg-0 pr-lg-0">
                    <img class="img-fluid w-lg-100p" src="https://res.cloudinary.com/dtvdvurhh/image/upload/v1611133612/reservasidulu/img/static/home/home-free-image-01_zrf5p1.png" />
                </div>
            </div>
        </div>


        <div class="w-lg-100p h-lg-100vh"></div>
    </div>

{% endblock %}