{% url 'home' as home_url %}
{% url 'login' as login_url %}
{% url 'account' as account_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}


{% load static %}
    <div class="preloader"></div>
    <nav id="navigation" class="fadein">
        <div class="container-fluid padres pt-lg-20 pb-lg-20 pl-lg-5p pr-lg-5p">
            {% with url_name=request.resolver_match.url_name %}
            <div class="row">
                <div class="col-lg-3 d-none d-lg-block">
                    <a href="{{home_url}}"><img class="logo" src="{% static 'img/logo.png' %}" alt="reservasidulu"></a>
                </div>
                <div class="col-lg-6 d-none d-lg-block menuhov">
                    <div class="menu">
                        <ul>
                            <li class="nav_custom{% if url_name == 'why' %} active {% endif %}"><a href="{% url 'why' %}">Why Us?</a></li>
                            <li class="nav_custom{% if url_name == 'tour' %} active {% endif %}"><a href="{% url 'tour' %}">Tour</a></li>
                            <li class="nav_custom{% if url_name == 'birthday' %} active {% elif url_name == 'event' %} active {% elif url_name == 'wedding_page' %} active {% endif %}">
                                <a href="{% url 'all_temp' %}">Templates</a>
                                <div class="submenu">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <h2>Hi There!</h2>
                                                <h5><span>Find what you're looking for?</span></h5>
                                            </div>
                                            <div class="col-lg-6">
                                                <ul class="navtemplates">
                                                    <li><a href="{% url 'wedding_page' %}">Wedding</a></li>
                                                    <li class="nav_custom{% if url_name == 'birthday' %} active {% endif %}"><a href="{% url 'birthday' %}">Birthday</a></li>
                                                    <li class="nav_custom{% if url_name == 'event' %} active {% endif %}"><a href="{% url 'event' %}">Event</a></li>
                                                    <li><a class="font-orange2" href="{% url 'free' %}">Free</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav_custom{% if url_name == 'faq' %} active {% endif %}"><a href="{% url 'faq' %}">Faq</a></li>
                            <li class="nav_custom{% if url_name == 'contact' %} active {% endif %}"><a href="{% url 'contact' %}">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block pl-lg-0 pr-lg-0 text-center">
                    {% if request.user.is_authenticated %}
                        <a class="button-orange getstarted" href="{{ account_url }}">
                            <p class="font-white">Account</p>
                            <img src="{% static 'img/button-01.png' %}">
                        </a>
                        <a class="button-orange login" href="{{ logout_url }}">
                            <p class="font-white">Logout</p>
                            <img src="{% static 'img/button-02.png' %}">
                        </a>
                    {% else %}
                        <a class="button-orange getstarted" href="{{ register_url }}">
                            <p class="font-white">Get Started</p>
                            <img src="{% static 'img/button-01.png' %}">
                        </a>
                        <a class="button-orange login" href="{{ login_url }}">
                            <p class="font-white">Login</p>
                            <img src="{% static 'img/button-02.png' %}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="row d-lg-none navigation-mobile">
                <div class="col-8">
                    <a href="{{home_url}}"><img class="logo" src="{% static 'img/logo.png' %}" alt="reservasidulu"></a>
                </div>
                <div class="col-4 bars">
                    <div id="toggle">
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                    </div>
                    <h5><b>Menu</b></h5>
                </div>
                <div class="side-nav">
                    <img class="img-fluid close-icon" src="{% static 'img/mobile/close.png' %}" />
                    <div class="menu">
                        <ul>
                            <li class="nav_custom{% if url_name == 'why' %} active {% endif %}"><a href="{% url 'why' %}">Why Us?</a></li>
                            <li class="nav_custom{% if url_name == 'tour' %} active {% endif %}"><a href="{% url 'tour' %}">Tour</a></li>
                            <li class="nav_custom{% if url_name == 'birthday' %} active {% elif url_name == 'event' %} active {% elif url_name == 'wedding_page' %} active {% endif %}">
                                <a class="menu-collapse collapsed" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Templates</a>
                                <div class="collapse" id="collapseExample">
                                    <ul>
                                        <li class="nav_custom{% if url_name == 'wedding' %} active {% endif %}"><a href="{% url 'wedding_page' %}">Wedding</a></li>
                                        <li class="nav_custom{% if url_name == 'birthday' %} active {% endif %}"><a href="{% url 'birthday' %}">Birthday</a></li>
                                        <li class="nav_custom{% if url_name == 'event' %} active {% endif %}"><a href="{% url 'event' %}">Event</a></li>
                                        <li><a class="font-orange2" href="{% url 'free' %}">Free</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav_custom{% if url_name == 'faq' %} active {% endif %}"><a href="{% url 'faq' %}">Faq</a></li>
                            <li class="nav_custom{% if url_name == 'contact' %} active {% endif %}"><a href="{% url 'contact' %}">Contact Us</a>
                        </ul>
                    </div>
                    {% if request.user.is_authenticated %}
                        <a class="button-orange getstarted" href="{{ account_url }}">
                            <p class="font-white">Account</p>
                            <img src="{% static 'img/button-01.png' %}">
                        </a>
                        <a class="button-orange login" href="{{ logout_url }}">
                            <p class="font-white">Logout</p>
                            <img src="{% static 'img/button-02.png' %}">
                        </a>
                    {% else %}
                        <a class="button-orange getstarted" href="{{ register_url }}">
                            <p class="font-white">Get Started</p>
                            <img src="{% static 'img/button-01.png' %}">
                        </a>
                        <a class="button-orange login" href="{{ login_url }}">
                            <p class="font-white">Login</p>
                            <img src="{% static 'img/button-02.png' %}">
                        </a>
                    {% endif %}
                </div>
            </div>
            {% endwith %}
        </div>
        <img class="navline" src="{% static 'img/mobile/nav-line.png' %}" />
    </nav>
