{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block content %}
<title>{% block title %} What Is ReservasiDulu? {% endblock %}</title>


    <div id="main-policy">
        <div id="policy-content" class="container-fluid pos-rel pt-lg-15p pb-lg-0 pl-lg-10p pr-lg-10p pt-m-30p pb-m-20p policy-content">
            <div class="row">
                <div class="col-lg-12 mb-lg-5p">
                    <h3>What Is Reservasi Dulu?</h3>
                    <p>
                        <b>ReservasiDulu</b> is an RSVP platform / E-Invitation that allows customer to create and share their own invitation with any design they want.
                        <br>
                        We provide many templates for your birthday, event, and wedding invitation that can be customized by user with their own images, etc.
                        <br>
                        Owner can also easily share their own invitation for the guest and manage the attending people from the administrator dashboard.
                    </p>
                    <br>
                    <h3></h3>
                    <p>
                        ReservasiDulu is a platform that sell digital products (E-Invitations) for customer so they can easily share their own invitation using the links that we already provide.
                        <br>
                        The owner can also manage their own invitation from the dashboard and see the detail on the attending people. And on who's will attend, and who's will not.
                    </p>
                </div>
            </div>
        </div>

        <div class="w-lg-100p h-lg-115vh"></div>

    </div>

{% endblock %}