{% extends 'base.html' %}
{% load static %}

{% block content %}
    <title>{% block title %} Why? | ReservasiDulu {% endblock %}</title>
    <div id="main-whyus">
        <!-- Section Banner & Brief -->
        <div class="pos-rel bannerbrief">
            <!-- Section Banner -->
            <div class="container-fluid pos-rel pt-lg-15p pb-lg-5p pl-lg-10p pr-lg-10p whyus-banner">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="boxv">
                            <h2 class="font-white">{{ x.header_text | safe }}</h2>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <img class="img-fluid" src="{% static 'img/02-why-us/whyus-image.png' %}" alt="reservasidulu">
                    </div>
                </div>
            </div>
            <!-- Section Brief -->
            <div class="container-fluid pos-rel pt-lg-10p pb-lg-10p pl-lg-5p pr-lg-5p whyus-brief">
                <div class="row">
                    <div class="col-lg-12 pl-lg-15p pr-lg-10p">
                        <h4 class="font-montserrat-italic font-white">First of all,</h4>
                        <h3 class="mb-lg-30 font-white">{{ x.section_2_title | safe }}</h3>
                    </div>
                    <div class="col-lg-6 pl-lg-10p">
                        <img class="img-fluid mt-lg-40" src="{% static 'img/02-why-us/whyus-image-02.png' %}" alt="reservasidulu">
                    </div>
                    <div class="col-lg-6 pr-lg-10p">
                        <div class="w-lg-80p font-white">
                            <p>{{ x.section_2_text }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <img class="background" src="{% static 'img/02-why-us/whyus-background.png' %}">
        </div>
        <!-- Section Affordable & Fast -->
        <div class="pos-rel affordablefast">
            <!-- Section Affordable -->
            <div class="container-fluid pos-rel pt-lg-0 pb-lg-10p pl-lg-10p pr-lg-10p whyus-affordable">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="boxv">
                            <h4 class="font-montserrat-italic">And we’re providing you</h4>
                            <h3 class="mb-lg-30">{{ x.section_3_title | safe }}</h3>
                            <div class="w-lg-85p">
                                <p>{{ x.section_3_text | safe }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <img class="img-fluid mt-lg-40" src="{% static 'img/02-why-us/whyus-image-03.png' %}" alt="reservasidulu">
                    </div>
                </div>
            </div>
            <!-- Section Fast -->
            <div class="container-fluid pos-rel pt-lg-0 pb-lg-0 pl-lg-5p pr-lg-5p whyus-fast">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid w-lg-85p" src="{% static 'img/02-why-us/whyus-image-04.png' %}" alt="reservasidulu">
                    </div>
                    <div class="col-lg-5">
                        <div class="boxv">
                            <h4 class="font-montserrat-italic">Last but not the last</h4>
                            <h3 class="mb-lg-30">{{ x.section_4_title | safe }}</h3>
                            <div class="w-lg-75p">
                                <p>{{ x.section_4_text | safe }}</p>
                            </div>
                        </div>
                    </div>
                    <img class="img-fluid motif move-left-fast" src="{% static 'img/02-why-us/whyus-image-05.png' %}">
                </div>
            </div>
            <img class="background" src="{% static 'img/02-why-us/whyus-background-02.png' %}">
        </div>
        <!-- Section Started -->
        <div class="container-fluid pos-rel pt-lg-10p pb-lg-15p pl-lg-10p pr-lg-10p whyus-started">
            <div class="row">
                <div class="col-lg-5">
                    <div class="boxv">
                        <h3 class="mb-lg-15">{{ x.section_5_title | safe }}</h3>
                        <div class="mb-lg-40 pl-lg-10">
                            <p>{{ x.section_5_text | safe }}</p>
                        </div>
                        <a class="button-orange" href="{% url 'all_temp' %}">
                            <p class="font-white">Show Me The Templates</p>
                            <img src="{% static 'img/02-why-us/whyus-button.png' %}">
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 text-right">
                    <img class="img-fluid w-lg-85p" src="{% static 'img/02-why-us/whyus-image-06.png' %}" alt="reservasidulu">
                </div>
            </div>
        </div>
        <div class="w-lg-100p h-lg-100vh"></div>
    </div>
{% endblock %}