{% extends 'base.html' %}
{% load compress %}

{% load static %}
{% load django_hide %}
{% load crispy_forms_tags %}

{% block content %}


    <div id="main-login">
        <!-- Section Content -->
        <div class="container-fluid pos-rel pt-lg-15p pb-lg-20p pl-lg-5p pr-lg-5p reservasidulu-signup">
            <div class="row">
                <div class="col-lg-12 pt-m-20p">
                    <div class="wrap">
                        <h2 class="text-center mb-lg-10p"><span>Sign Up</span></h2>
                        <form method="post" enctype="multipart/form-data">
                            {% h_csrf_token %}
                            {{ form | crispy }}
                            <input class="btn-form-orange d-lg-block ma-lg" type="submit" value="Sign Up">
                            <p>Already have an account? <a href="{% url 'login' %}">Log In</a> here</p>
                        </form>
                    </div>
                </div>
                <img class="img-fluid ornament-01 d-none d-lg-block" src="{% static 'img/signup-image-01.png' %}" />
                <img class="img-fluid ornament-02 d-none d-lg-block" src="{% static 'img/signup-image-02.png' %}" />
                <img class="background d-none d-lg-block" src="{% static 'img/signup-background.png' %}" />
                <img class="background d-none d-lg-none" src="{% static 'img/signup-background-mobile-02.png' %}" />
            </div>
        </div>
        <div class="w-lg-100p h-lg-100vh" style="background: #fffad9;"></div>
    </div>

{% endblock %}